<%journals.each_with_index do |journal,index|  %>
 <div class="reply">
   <div id="journal_<%= journal.id %>" class="replyHeader">
     <h3><%= journal[:replied_name]  %> <%= t(:label_icm_reply_title,:message=>distance_of_time_in_words(Time.now, journal[:created_at])) %></h3>
   </div>
   <div class="replyHeaderSection">
     <div class="avatar">
       <img width="30" height="30" alt="" src="<%=replied_avatar(journal)%>">
     </div>
     <%if journal.incident_histories.any? %>
       <div class="message">
         <ul>

             <% journal.incident_histories.each do |h|%>
               <li><%= h %>
             <% end%>

         </ul>
       </div>
     <%end%>
     <div class="message">

       <%= raw process_message(journal[:message_body])  %>
     </div>
     <%= list_journal_files(grouped_files,journal) %>
   </div>

 </div>
<%end %>