<style type="text/css">
  ul{
      padding-left: 40px;
  }
  ol{
      padding-left: 40px;
  }
  div.reply{
      margin-bottom: 2px;
      border: 1px solid #0F5C8E;
  }
  div.reply div.replyHeader{
      padding: 5px 5px 5px 5px;
      background: none repeat scroll 0 0 #ADCBE7;
  }
  div.reply div.replyHeaderSection{
    padding: 5px 5px 5px 5px;
  }
  .yui-skin-sam .yui-toolbar-container div.yui-toolbar-subcont{
    border-bottom-width: 1px;
    padding-bottom: 0;
    padding-left: 1px;
  }
  div.fileList {
    color: #333333;
    line-height: 1.6em;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    border-top: 2px solid #E3EEF8;
  }
  div.fileList div.fileItem{
    color: #888888;
    display: inline;
    float: left;
    padding-bottom: 5px;
    width: 60px;
  }

  div.fileList div.fileItem span.fileDesc{
    color: #888888;
    display: block;
  }

  div.fileList div.fileItem img.fileIcon{
    border: 1px solid #BBC9E2;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 3px;
    vertical-align: top;
  }
</style>
<%= page_title %>
<%= form_for(@incident_request,:url=>{:action=>"update_pass"},:builder => LabellingFormBuilder,:html => { :multipart => true }) do |f| %>
  <%=f.hidden_field :pass_flag,:value=>"Y" %>
<div id="reply" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_icm_incident_journal_pass)%></h2></td>
          <td class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:label_icm_incident_joural_back_to_request), {:action => "new"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList"  cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label for="incident_request_support_group_id"><%=t(:label_icm_incident_request_support_group)%></label></td>
              <td class="dataCol">
                <%=f.blank_select :support_group_id,available_support_group,
                                                    {},{:required=>true,:id=>"incident_request_support_group_id"}%>
              </td>
              <td class="labelCol"><label for="incident_request_support_person_id"><%=t(:label_icm_incident_request_support_person)%></label></td>
              <td class="dataCol"><%= f.blank_select(:support_person_id,available_supporter(@incident_request.support_group_id||0),{},
                                  {:required=>true,
                                   :id=>"incident_request_support_person_id",
                                   :href=>url_for(:controller=>"irm/support_group_members",:action=>"get_options",:format=>"json",:group_id=>"{incident_request_support_group_id}"),
                                   :depend=>"incident_request_support_group_id"
                                   }) %></td>

            </tr>
              <%= fields_for @incident_journal,:as=>"incident_journal",:normal=>true do |sub_f|%>
                <%= sub_f.hidden_field(:incident_request_id) %>
              <td class="labelCol"><%= t(:label_icm_incident_journal_reply) %></td>
              <td class="dataCol" colspan="3" width="82%">
                <%= sub_f.text_area :message_body ,:id=>"msgEditor",:style=>"display:none;"%>
              </td>
              <% end%>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_icm_incident_journal_attachment) %></td>
              <td class="dataCol" colspan="3" width="82%">

              <table>
                <tbody id="fileTemplate" style="display:none" seq="0">
                <tr id="file_{seq}" class="fileArea">
                    <td><input type="file" name="{ref}[{seq}][file]"/></td>
                    <td class="labelCol"><%= t(:label_icm_incident_journal_attachment_desc) %></td>
                    <td><input type="text" name="{ref}[{seq}][description]" size="40"/></td>
                    <td><a class="deleteAttach" delete_ref="file_{seq}" href="javascript:void(0)"><%= t(:delete) %></a></td>
                </tr>
                </tbody>
                <tbody id="fileContent">

                </tbody>
                <tbody id="fileButtons">
                  <tr>
                    <td><a id="addButton" href="javascript:void(0)"><%= t(:label_icm_incident_journal_add_attachment) %></a></td>
                  </tr>
                </tbody>
              </table>
              </td>
            </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:label_icm_incident_joural_back_to_request), {:action => "new"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<script type="text/javascript">

GY.use('node','substitute','yui2-editor', function(Y) {
  var YAHOO = Y.YUI2;
  var editor = new YAHOO.widget.Editor('msgEditor', {
        height:'200px',
        width:'84%',
        toolbar: {
            buttons: [
                { group: 'textstyle',
                    buttons: [
                        { type: 'push', label: 'Bold', value: 'bold' },
                        { type: 'push', label: 'Italic', value: 'italic' },
                        { type: 'push', label: 'Underline', value: 'underline' },
                        { type: 'push', label: 'Create an Unordered List', value: 'insertunorderedlist' },
	                    { type: 'push', label: 'Create an Ordered List', value: 'insertorderedlist' },
                        { type: 'color', label: 'Font Color', value: 'forecolor', disabled: true },
                        { type: 'color', label: 'Background Color', value: 'backcolor', disabled: true }
                    ]
                }
            ]
        }
    });
    editor.render();
    Y.one(".edit_icm_incident_request").on("submit",function(){
      editor.saveHTML();
    });

    Y.one("#fileButtons #addButton").on('click',function(){
      var templateContainer = Y.one("#fileTemplate");
      var seq = templateContainer.getAttribute("seq");
      templateContainer.setAttribute("seq",parseInt(seq)+1);
      var template = templateContainer.getContent();
      var row =  Y.Lang.substitute(template,{seq:seq,ref:"files"});
      Y.one("#fileContent").appendChild(row);
    });
    Y.one("#fileContent").delegate("click",function(e){
        Y.log(this.getAttribute("delete_ref"));
        Y.one("#"+this.getAttribute("delete_ref")).remove();
    },'.deleteAttach')
});
</script>


<script type="text/javascript">
  GY.use("cascadeselect",function(Y){

       new Y.CascadeSelect({source: "#incident_request_support_group_id",target:["#incident_request_support_person_id"]});

  });
</script>