<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_wf_task) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:controller => "irm/calendar_tasks", :action => "new"}%></div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="calendar_tasks_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:controller => "irm/calendar_tasks", :action=>"edit",:id=>"{id}"}) %>&nbsp;&nbsp;<%= link_to(t(:show),{:controller => "irm/calendar_tasks", :action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("calendar_tasks_list",url_for(:controller => "irm/calendar_tasks", :action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"name",:label=>t(:label_irm_wf_task_name),:sortable=>true, :width => "150px"},
                       {:key=>"start_at",:label=>t(:label_irm_wf_task_start_at),:sortable=>true, :width => "100px"},
                       {:key=>"end_at",:label=>t(:label_irm_wf_task_end_at),:sortable=>true, :width => "100px"},
                       {:key=>"color",:label=>t(:label_irm_wf_task_color),:sortable=>true},
                       {:key=>"status_code",:label=>t(:active),:sortable=>true,:formatter=>"Y.irm.template", :width => "40px"}])%>
      </div>
    </div>
</div>