<%= app_title %>
<%= form_for(@task,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_wf_task_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @task%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_wf_task_name)%></label></td>
              <td class="dataCol"><%= f.text_field :name, :required => true%></td>
              <td class="labelCol"><label><%=(t :label_irm_wf_task_start_at)%></label></td>
              <td class="dataCol"><%=f.text_field :start_at, :id => "date1", :size => 8, :required => true, :value => @task.start_at.strftime("%F")%>
                <%=select_tag "start_at_h", options_for_select(available_hours, @task.start_at.strftime("%R")), :id => "datetime1"%>
                &nbsp;<% link_to Time.now.strftime("%r"), {}, :href => "javascript:void(0)", :id => "date_now_1"%>&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t :label_irm_wf_task_assigned_to%></label></td>
              <td class="dataCol"><%=select_tag "assigned_to", options_for_select(Irm::Person.enabled.collect{|p| [p.name, p.id]}, @task.calendar.assigned_to)%></td>
              <td class="labelCol"><label><%=(t :label_irm_wf_task_end_at)%></label></td>
              <td class="dataCol"><%=f.text_field :end_at, :id => "date2", :size => 8, :required => true, :value => @task.end_at.strftime("%F")%>
                <%=select_tag "end_at_h", options_for_select(available_hours, @task.end_at.strftime("%R")), :id => "datetime2"%>
                &nbsp;<% link_to Time.now.strftime("%r"), {}, :href => "javascript:void(0)", :id => "date_now_2"%>&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t :label_irm_wf_task_location%></label></td>
                  <td class="dataCol"><%=f.text_field :location%></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="pbSubheader first tertiaryPalette">
      <h3><%= t(:label_description_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :description)%></label></td>
              <td class="data2Col"><%=f.text_area :description, :rows => 4, :cols => 80%></td>
            </tr>
        </tbody>
      </table>
    </div>
    <% if @task.rrule && @task.rrule.size > 0 %>
    <div class="pbSubheader first tertiaryPalette">
      <h3><%= t(:label_irm_wf_task_recurrence) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td colspan="4">
                <div class="recurrenceSectionBackground secondaryPalette">
                  <%= content_tag(:img, "", :src => "/images/recurring_activity.gif")%>
                  <%= link_to t(:label_irm_wf_task_recurrence_edit), {:controller => "irm/wf_tasks", :action => "edit_recurrence", :id => @task.id} %>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>

  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<script type="text/javascript">
  GY.use( 'yui2-calendar','yui2-container',function(Y) {
      var YAHOO = Y.YUI2;
      var Event = YAHOO.util.Event,Dom = YAHOO.util.Dom;
       YAHOO.util.Event.onDOMReady(function () {
          show_irm_calendar(YAHOO,Event,Dom,"date1","date1","cal1");
          show_irm_calendar(YAHOO,Event,Dom,"date2","date2","cal2");
       });
  });
</script>

