<%= setting_show_title(:show_data => @task.name) %>

<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @task}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index", :controller => "irm/home"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_wf_task_name)%></label></td>
              <td class="dataCol"><%= @task.name%></td>
              <td class="labelCol"><label><%=(t :label_irm_wf_task_start_at)%></label></td>
              <td class="dataCol"><%= @task.start_at.strftime("%Y-%m-%d") if @task.start_at%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%= t :label_irm_wf_task_location%></label></td>
              <td class="dataCol"><div><%= @task.location%></div></td>
              <td class="labelCol"><label><%=(t :label_irm_wf_task_end_at)%></label></td>
              <td class="dataCol"><%= @task.end_at.strftime("%Y-%m-%d") if @task.end_at%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :description)%></label></td>
              <td class="dataCol" colspan="3"><%= @task.description%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>