<div class="bPageTitle">
  <div class="ptBody">
    <div class="content">
      <h1 class="pageType"><%=t(:label_irm_action_edit)%></h1>
      <h2 class="pageDescription"><%=t(:label_irm_action_edit)%></h2>
      <div class="blank">&nbsp;</div>
    </div>
    <div class="links">
      <a href="javascript:void(0);" class="configLinks"><%=t(:label_help_about_page)%><</a>
    </div>
    <div class="ptBreadcrumb"></div>
  </div>
</div>

<%= form_for(@action,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_action_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @action%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra"><span class="requiredLegend">
        <span class="requiredExampleOuter">
          <span class="requiredExample">&nbsp;</span></span>
          <span class="requiredMark">*</span>
        <span class="requiredText"> = <%=t(:label_is_required)%></span></span></span>
      <h3><%=t(:label_irm_action_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_action_entity_code)%></label></td>
              <td class="dataCol"><%=@action.entity_code%></td>
              <td class="labelCol"><label><%=(t :label_irm_action_action_code)%></label></td>
              <td class="dataCol"><%=@action.action_code%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_action_name)%></label></td>
              <td class="dataCol"><%=f.text_field :name,:value=>@action[:name], :required=>true %></td>
              <td class="labelCol"><%=(t :label_irm_action_handler)%></td>
              <td class="dataCol"><%=f.text_field :handler,:value=>@action[:handler], :required=>true %></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_action_description)%></label></td>
              <td class="dataCol"><%=f.text_area :description,:value=>@action[:description],:rows=>4%></td>
              <td class="labelCol"><label><%=(t :label_irm_action_status_code)%></label></td>
              <td class="dataCol"><%=f.select :status_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_status,:lookup_code,:wrap_meaning,@action.status_code)%>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>


