<%= page_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_report_group_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="reportGroupsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="report_groups" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>&nbsp;
            <%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("report_groups",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"70px"},
                       
                       { :key => "group_code", :label => t(:label_irm_report_group_group_code),:searchable=>true },
                       
                       { :key => "name", :label => t(:label_irm_report_group_name),:searchable=>true },
                       
                       { :key => "description", :label => t(:label_irm_report_group_description),:searchable=>true },
                       
                       { :key => "status_meaning", :label => t(:label_irm_report_group_status_code) }
                       
                       ],{:paginator_box=>"reprotGroupPaginator",:search_box=>"reportGroupsSearchBox"})%>
        <div id="reprotGroupPaginator"></div>
      </div>
    </div>
</div>


