<div id="data_area">
    <div class="containerheader">
       <div class="floatleft headertitle"><%=t(:label_irm_id_flex_segment_list)%></div>
    </div>
    <div id="id_flex_segments_grid" class="datagrid"
        action_type="ajaxDhtmlxGrid"
        grid_header=" ,<%=t(:label_irm_id_flex_segment_segment_num)%>, <%=t(:label_irm_id_flex_segment_name)%>,<%=t(:label_irm_id_flex_segment_form_left_prompt)%>, <%=t(:label_irm_id_flex_segment_description)%>, <%= t(:label_irm_value_set)%>, <%=t(:active)%> ,<%=t(:multilingual)%>"
        grid_width="20,100,100,100,150,200,100,100"
        grid_col_types="ra,ed,ed,ed,ed,ed,ed,link"
        grid_OnRowSelected="rowSelectedHandler"
        grid_paging_skin="bricks"
        enable_paging="true, 15, null, 'pagingArea', true, 'infoArea'"
        grid_load="'<%= url_for(:action => "get_data", :controller => "irm/id_flex_segments", :id_flex_structure_id => @id_flex_structure.id, :format=>:json) %>','','json'">
    </div><span id="infoArea"></span>
    <span id="recfound"></span>
    <div class="containerfooter">
      <div class="floatleft"><span id="pagingArea"></span></div>
        <div class="floatright">
            <div class="button" id = "btn_save"><a href="javascript:void(0);" onclick="saveEditIdFlexSegmentRow();" ><%= t(:save) %></a></div>
            <div class="button" id = "btn_add" onclick="addIdFlexSegmentEditRow('id_flex_segments_grid', '<%= @id_flex_structure.id%>');"><a href="javascript:void(0);"><%= t(:add) %></a></div>
            <div class="button"><a href="javascript:void(0);" onclick="removeEditRow('id_flex_segments_grid');"><%= t(:delete) %></a></div>
            <div class="button"><%= link_to t(:cancel), {:controller => "irm/id_flex_structures", :action => "index", :id_flex_code => @id_flex_structure.id_flex_code}, :action_type => "ajaxLink", :script => "/replace(containers,containers)/" %></div>
        </div>      
    </div>
    <script>
        var gridEdit="";
        function rowSelectedHandler(id, ind){
            dhtmlx_grid_array['id_flex_segments_grid'].cells(id, 0).setValue("1");
        }
        function addIdFlexSegmentEditRow(id,idFlexStructureId) {
            var grid = dhtmlx_grid_array[id];
            var newId = (new Date()).valueOf();
            grid.addRow(newId,"",grid.getRowsNum());
            grid.selectRow(grid.getRowIndex(newId),false,false,true);
            gridEdit = new dataProcessor('/id_flex_segments/create_entry?id_flex_structure_id=' + idFlexStructureId);
            gridEdit.init(grid);
            gridEdit.setUpdateMode("off");
            gridEdit.setTransactionMode("POST");
        }
        function removeIdFlexSegmentRow(id){
            var grid = dhtmlx_grid_array[id];
            var selId = grid.getSelectedId();
            grid.deleteRow(selId);
        }
        function saveEditIdFlexSegmentRow(){
            gridEdit.sendData();
        }
    </script> 
</div>