<div id="id_flex_structure_show">
     <div class="containerheader">
         <div class="floatleft headertitle"><%=t(:label_irm_id_flex_structure)%> - <%= @id_flex_structure.id_flex_structure_code %></div>
     </div>
     <div class="containerbody">
     <table class="formtable" cellspacing="0">
         <tr>
           <td class="formlabel"><%=(t :label_irm_id_flex_code)%>:</td>
           <td class="formitem"><%=text_field_tag "id_flex_structure_code", "", :value => @id_flex_structure.id_flex_structure_code, :readonly => true,:irm_uppercase=>true%></td>
           <td class="formlabel" rowspan="2"><%=t(:label_irm_id_flex_structure_description)%>:</td>
           <td class="formitem" rowspan="2"><%= text_area_tag "description", "", :value => @id_flex_structure.description, :rows => 1,:readonly => true%></td>
         </tr>
         <tr>
           <td class="formlabel"><%=(t :label_irm_id_flex_structure_name)%>:</td>
           <td class="formitem"><%=text_field_tag "id_flex_structure_name", "", :value => @id_flex_structure.id_flex_structure_name, :readonly=>true%></td>
         </tr>
     </table>
     </div>
</div>
