<%= app_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_icm_incident_request_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="incident_requestsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="incident_requests" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:label_icm_reply),{:controller=>"icm/user_journals",:action=>"new",:request_id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("incident_requests",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"40px"},
                       { :key => "request_number", :label => t(:label_icm_incident_request_request_number),:searchable=>true,:width=>"120px"},
                       { :key => "title", :label => t(:label_icm_incident_request_title),:searchable=>true },                                            
                       { :key => "incident_status_name", :label => t(:label_icm_incident_request_incident_status_code,:searchable=>true) },
                       { :key => "service_name", :label => t(:label_icm_incident_request_service_code,:searchable=>true) },                       
                       { :key => "request_type_name", :label => t(:label_icm_incident_request_request_type_code,:searchable=>true) },
                       { :key => "requested_name", :label => t(:label_icm_incident_request_requested_by,:searchable=>true) },
                       { :key => "priority_name", :label => t(:label_icm_incident_request_priority,:searchable=>true) },
                       { :key => "report_source_name", :label => t(:label_icm_incident_request_report_source_code,:searchable=>true) },
                       ],{:row_perpage=>20,:search_box=>"incident_requestsSearchBox"})%>

      </div>
    </div>
</div>


