<%= setting_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_menu_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <select title="显示所选内容" name="hotlist_mode" id="hotlist_mode"><option value="2">最近创建</option>
                <option value="1">最近修改</option>
                <option selected="selected" value="3">最近查看</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="menus_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>&nbsp;&nbsp;<%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("menus_list",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template", :width => "80px"},
                       {:key=>"menu_code",:label=>t(:label_irm_menu_menu_code),:sortable=>true},
                       {:key=>"name",:label=>t(:label_irm_menu_name),:sortable=>true},
                       {:key=>"description",:label=>t(:label_irm_menu_description),:sortable=>true},
                       {:key=>"status_code",:label=>t(:active),:sortable=>true}]) %>
      </div>
    </div>
</div>
