<%= setting_show_title( :show_data => @menu.menu_code) %>
<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_menu) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @menu}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"} %></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_menu_menu_code)%></label></td>
              <td class="dataCol"><%= @menu.menu_code%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_menu_name)%></label></td>
              <td class="dataCol"><div><%= @menu[:name] %></div></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_menu_description)%></label></td>
              <td class="dataCol"><div><%= @menu[:description]%></div></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :active)%></label></td>
              <td class="dataCol"><%= @menu.status_code%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_menu_entry_list) %></h2></td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:add), {:controller => "irm/menu_entries", :action => "new", :menu_code => @menu.menu_code, :return_url => @return_url}%></div>
              </td>
              <td class="pbHelp">
                <select title="显示所选内容" name="hotlist_mode" id="hotlist_mode"><option value="2">最近创建</option>
                <option value="1">最近修改</option>
                <option selected="selected" value="3">最近查看</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="menu_entries_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:controller => "irm/menu_entries", :action=>"edit",:id=>"{id}"}) %>&nbsp;&nbsp;<%= link_to(t(:remove),{:controller => "irm/menus", :action=>"remove_entry",:entry_id=>"{id}", :id => @menu}) %>
          </div>
        </div>
        <%= datatable("menu_entries_list",url_for(:controller => "irm/menu_entries", :action=>"get_data", :menu_code => @menu.menu_code,:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template", :width => "80px"},
                       {:key=>"display_sequence",:label=>t(:label_irm_menu_entry_display_sequence),:sortable=>true},
                       {:key=>"name",:label=>t(:label_irm_menu_entry_name),:sortable=>true},
                       {:key=>"description",:label=>t(:label_irm_menu_entry_description),:sortable=>true},
                       {:key=>"sub_menu_code",:label=>t(:label_irm_menu_entry_sub_menu),:sortable=>true},
                       {:key=>"permission_code",:label=>t(:label_irm_menu_entry_page),:sortable=>true},
                       {:key=>"icon",:label=>t(:label_irm_menu_entry_icon),:sortable=>true},
                       {:key=>"css_name",:label=>t(:label_irm_menu_entry_css_name),:sortable=>true},
                       {:key=>"display_flag",:label=>t(:label_irm_menu_entry_display_flag),:sortable=>true},
                       {:key=>"status_code",:label=>t(:active),:sortable=>true, :width => "40px"}]) %>
      </div>
    </div>
</div>