<div id="permission_new">
     <%= form_for(@permission,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
            <div class="containerheader">
                <div class="floatleft headertitle"><%=t(:label_irm_permission_new)%></div>
            </div>
            <div class="containerbody">
            <table class="formtable" cellspacing="0">
                <tr>
                  <td class="formlabel"><%=(t :label_irm_permission_permission_code)%>:</td>
                  <td class="formitem"><%=f.text_field :permission_code, :required=>true,:irm_uppercase=>true%></td>
                  <td class="formlabel" rowspan="6"><%=t(:label_irm_permission_description)%>:</td>
                  <td class="formitem" rowspan="6"><%= f.text_area :description,:rows => 6%></td>                  
                </tr>
                <tr>
                  <td class="formlabel"><%=(t :label_irm_permission_name)%>:</td>
                  <td class="formitem"><%=f.text_field :name, :required=>true%></td>
                </tr>
                <tr>
                  <td class="formlabel"><%=(t :label_irm_permission_page_controller)%>:</td>
                  <td class="formitem"><%=f.text_field :page_controller, :required=>true%></td>
                </tr>
                <tr>
                  <td class="formlabel"><%=(t :label_irm_permission_page_action)%>:</td>
                  <td class="formitem"><%=f.text_field :page_action, :required=>true%></td>
                </tr>
                <tr>
                  <td class="formlabel"><%=(t :label_irm_permission_product_name)%>:</td>
                  <td class="formitem"><%=f.select :product_id, available_product_modules, {:include_blank => false}%></td>
                </tr>
                <tr>
                  <td class="formlabel"><%=(t :active)%>:</td>
                  <td class="formitem"><%=f.select :status_code, available_active_status, {:include_blank => false}%></td>
                </tr>         
            </table>  
            </div>

            <div class="containerfooter">
                <div class="button floatright"><%= link_to t(:save), {}, {:action_type => "ajaxSubmit", :script => "/replace(system_message_box,system_message_box);reload_grid('permissions_grid');/replace(system_message_box,system_message_box);"}%></div>
                <div class="button floatright"><%= link_to t(:cancel), {:action => "new"}, :script => "/replace(container1,permission_new);/", :action_type=>"ajaxLink"%></div>
            </div>
     <% end %>
</div>
