<div id="id_lookup_type_gird">
    <div class="containerheader">
     <div class="floatleft headertitle"><%=t(:label_list_lookup_types)%></div>
    </div>
    <div id="id_lookup_type_grid" class="datagrid"
         action_type="ajaxDhtmlxGrid"
         grid_header=",<%=t(:label_lookup_level)%>,<%=t(:label_lookup_types_code)%>,<%=t(:label_meaning)%>,<%=t(:label_description)%>,<%=t(:label_status_code)%>,<%=t(:multilingual)%>"
         grid_width="20,100,150,150,250,100,100"
         grid_col_types="ra,ro,ro,ro,ro,ro,link"
         grid_align="center,center,left,left,left,center,left"
         grid_paging_skin="bricks"
         enable_paging="true, 12, null, 'pagingArea', true, 'infoArea'"
         grid_onRowDblClicked="doOnRowDblClicked"
         grid_checkbox="replaceLink"
         grid_OnRowSelected="replaceLink"
         grid_attachHeader = "&nbsp;,#select_filter,#text_search,#text_search,&nbsp;,#cspan,#cspan"
         grid_load="'/lookup_types/get_lookup_types','','json'"></div>
    <span id="pagingArea"></span>&nbsp;<span id="infoArea"></span>
    <span id="recfound"></span>
    <script type="text/javascript" charset="utf-8">
    function doOnRowDblClicked(rowId,cInd){
       replaceLink(rowId);
       processDblClicked("id_new_lookup_type","","<%=url_for(:controller=>"irm/lookup_types",:action=>"edit",:id=>":id")%>",rowId);
    }
    function replaceLink(rowId){
       var action_temp="";
       if(rowId!=null&&rowId!=undefined){
          action_temp = "<%=url_for(:controller=>"irm/lookup_types",:action=>"add_code",:id=>":id")%>".replace(":id",rowId);
          $("#id_add_lookup_code").attr("href",action_temp);
       }
       doSelectRowAndCheckRadio("id_lookup_type_grid",rowId)
    }
    </script>
    <div class="containerfooter">
        <div class="button floatright" ><%=link_to t(:label_add_lookup_code),{:controller=>"irm/lookup_types",:action=>"add_code",:id=>":id"},
                                                   :script=>"/replace(id_lookup_type_index,id_add_lookup_code);/",
                                                   :action_type=>"ajaxLink",:id=>"id_add_lookup_code"%>
        </div>
    </div>
</div>