<div class="containers">
    <%= form_for(@lookup_type,:url=>{:action=>"create"}) do |f| %>
       <div class="container">
                    <div class="containerheader colorheader">
                    	<div class="floatleft headertitle"><%=t(:label_lookup_types)%></div>
                    </div>
                    <table class="twocolumnstable" cellspacing="0">
                    	<tr>
                        	<td class="twocolumn">
                               <table class="itemdetailtable">
                               	<tr><td class="itemdetailtablelabel"><%=(t :label_lookup_code)%>:</td>
                                    <td><%=f.text_field :lookup_type,:size=>45,:required=>true,:irm_uppercase=>true %></td>
                                </tr>
                                <tr><td class="itemdetailtablelabel"><%=(t :label_meaning)%>:</td>
                                  <td><%=f.text_field :meaning ,:size=>45,:required=>true%></td>
                                </tr>
                                <tr><td class="itemdetailtablelabel"><%=(t :label_description)%>:</td>
                                  <td><%=f.text_field :description ,:size=>45%></td>
                                </tr>
                               </table>
                            </td>
                        	<td class="twocolumn" cellspacing="0">
                               <table class="itemdetailtable">
                               	<tr><td class="itemdetailtablelabel"><%=f.radio_button :lookup_level,Irm::Constant::GLOBAL_LOOKUP_LEVEL,:checked => true%>
                               	      <%=t(:label_global_level)%>
                                   </td>
                                   <td></td>
                                </tr>
                                <tr>
                                  <td class="itemdetailtablelabel"><%=f.radio_button :lookup_level,Irm::Constant::EXTENDED_LOOKUP_LEVEL%>
                                      <%=t(:label_extended_level)%>
                                  </td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td class="itemdetailtablelabel"><%=f.radio_button :lookup_level,Irm::Constant::USER_LOOKUP_LEVEL%>
                                      <%=t(:label_user_level)%>
                                  </td>
                                  <td></td>
                                </tr>
                               </table>
                            </td>
                            <td width="20%">&nbsp;</td>
                        </tr>
                    </table>
                    <div class="containerfooter">
                    	<div class="button floatright"><a href="javascript:void(0);"><%= t(:save) %></a></div>
                        <div class="button floatright"><a href="javascript:void(0);"><%= t(:cancel) %></a></div>
                    </div>
       </div>
    <% end %>
</div>
