<div class="containers" id="id_new_lookup_type">
    <%= form_for(@lookup_type,:url=>{:action=>"create"}) do |f| %>
       <div class="container">
                    <div class="containerheader colorheader">
                    	<div class="floatleft headertitle"><%=t(:label_new_lookup_type)%></div>
                    </div>
                    <table class="twocolumnstable" cellspacing="0">
                    	<tr>
                        	<td class="twocolumn">
                               <table class="itemdetailtable">
                               	<tr><td class="itemdetailtablelabel"><%=(t :label_lookup_types)%>:</td>
                                    <td><%=f.text_field :lookup_type,:size=>45,:required=>true,:irm_uppercase=>true %></td>
                                </tr>
                                <tr><td class="itemdetailtablelabel"><%=(t :label_meaning)%>:</td>
                                  <td><%=f.text_field :meaning ,:size=>45,:required=>true%></td>
                                </tr>
                                <tr><td class="itemdetailtablelabel"><%=(t :label_description)%>:</td>
                                  <td><%=f.text_field :description ,:size=>45%></td>
                                </tr>
                               </table>
                            </td>
                        	<td class="twocolumn" cellspacing="0">
                               <table class="itemdetailtable">
                                <div id="id_lookup_level">
                               	<tr><td class="floatleft"><%=f.radio_button :lookup_level,Irm::Constant::GLOBAL_LOOKUP_LEVEL%>
                               	      <%=t(:label_global_level)%>
                                   </td>
                                   <td></td>
                                </tr>
                                <tr>
                                  <td class="floatleft"><%=f.radio_button :lookup_level,Irm::Constant::EXTENDED_LOOKUP_LEVEL%>
                                      <%=t(:label_extended_level)%>
                                  </td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td class="floatleft"><%=f.radio_button :lookup_level,Irm::Constant::USER_LOOKUP_LEVEL,:checked => true%>
                                      <%=t(:label_user_level)%>
                                  </td>
                                  <td></td>
                                </tr>
                                </div>
                               </table>
                            </td>
                            <td width="20%">&nbsp;</td>
                        </tr>
                    </table>
                     <script type="text/javascript" charset="utf-8">
                          function after_save_lookup_type(){
                              $("#irm_lookup_type_lookup_type").attr('readonly','readonly');
                              $("#irm_lookup_type_lookup_type").removeClass('inputrequired');
                              $("#irm_lookup_type_lookup_type").addClass("inputdisable");
                              $("input[type=radio]").each(function(){
                                  $(this).attr('disabled','disabled');
                              });
                          }
                     </script>
                    <div class="containerfooter">
                    	<div class="button floatright" ><%=link_to t(:save),{:controller=>"irm/lookup_types",:action=>"create"}, :script=>"/replace(system_message_box,system_message_box);after_save_lookup_type();reload_grid('id_lookup_type_grid');/replace(system_message_box,system_message_box);" ,:action_type=>"ajaxSubmit"%></div>
                        <div class="button floatright"><a href="javascript:void(0);"><%= t(:cancel) %></a></div>
                    </div>
          </div>
    <% end %>
</div>
