<h1>Listing lookup_types</h1>

<table>
  <tr>
    <th>Lookup type</th>
    <th>Meaning</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lookup_types.each do |lookup_type| %>
  <tr>
    <td><%= lookup_type.lookup_type %></td>
    <td><%= lookup_type.meaning %></td>
    <td><%= link_to 'Show', lookup_type %></td>
    <td><%= link_to 'Edit', edit_lookup_type_path(lookup_type) %></td>
    <td><%= link_to 'Destroy', lookup_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lookup type', new_lookup_type_path %>
