<%= setting_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_lookup_type_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="permissionsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="lookup_type" class="datatable" style="width:100%;">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>&nbsp;&nbsp;<%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("lookup_type",url_for(:controller=>"irm/lookup_types",:action=>"get_lookup_types",:format=>"json"),
                  [{:key=>"id",:label=>t(:edit),:formatter=>"Y.irm.template",:width=>"80px"},
                   {:key=>"lookup_level",:label=>t(:label_lookup_level),:sortable=>true},
                   {:key=>"lookup_type",:label=>t(:label_lookup_types_code),:sortable=>true,:searchable=>true},
                   {:key=>"meaning",:label=>t(:label_meaning),:sortable=>true,:searchable=>true},
                   {:key=>"description",:label=>t(:label_description),:sortable=>true},
                   {:key=>"status_meaning",:label=>t(:label_status_code),:sortable=>true,:width=>"40px"}],
                   {:search_box=>"permissionsSearchBox"})%>
      </div>
    </div>
</div>