<%= page_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_uid_login_mapping_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:label_new_login_mapping), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="external_systemsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="external_systems" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:delete),{:action=>"destroy",:id=>"{id}"},{:method => :delete}) %>|<%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("external_systems",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},

                       { :key => "person_name", :label => t(:label_uid_user_login_mapping_person_name),:searchable=>true },
                       { :key => "system_name", :label => t(:label_uid_user_login_mapping_system_name),:searchable=>true },
                       { :key => "external_login_name", :label => t(:label_uid_user_login_mapping_external_login_name) },
                       { :key => "status_meaning", :label => t(:label_uid_external_system_status_meaning)}

                       ],{:row_perpage=>10,:search_box=>"external_systemsSearchBox",:paginator_box=>"login_mappingsPaginatorBox"})%>
        <div id="login_mappingsPaginatorBox"></div>
      </div>
    </div>
</div>




