<%= setting_title %>
<%= form_for(@rule_filter,:url=>{:action=>"create",:pca=>params[:pca]},:builder => LabellingFormBuilder) do |f| %>
    <%= back_url_hidden_field_tag %>
    <%= f.hidden_field(:filter_type) %>
    <%= f.hidden_field(:source_code) %>
    <%= f.hidden_field(:bo_code) %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_view_filter_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><a href="<%=params[:back_url]%>"><%= t(:cancel) %></a></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @view_filter%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
          <span class="requiredLegend">
            <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
            </span>
          <span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
          </span>
      </span>
      <h3><%=t(:label_irm_view_filter_step_one)%></h3>
    </div>
    <div class="pbSubsection">

      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_view_filter_view_code)%></label></td>
              <td class="dataCol"><%=f.text_field :filter_code, :required=>true,:size=>20,:irm_uppercase=>true%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_view_filter_view_name)%></label></td>
              <td class="dataCol"><%=f.text_field :filter_name, :required=>true,:size=>40%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_view_filter_default_flag)%></label></td>
              <td class="dataCol"><%=f.check_box :default_flag%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>


        </tbody>
      </table>
    </div>
    <div class="pbSubheader">
      <h3><%=t(:label_irm_view_filter_step_two)%></h3>
    </div>
    <div class="pbSubsection" id="filterContent" href="<%= url_for(:action=>"operator_value",:seq_num=>"{seq_num}",:attribute_id=>"{attribute_id}") %>">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th></th>
            <th><%=t(:irm_filter_criterions_column_code)%></th>
            <th><div style="width:30%;float:left;"><%=t(:irm_filter_criterions_operator_code)%></div> <div style="width:70%;float:left;"><%=t(:irm_filter_criterions_filter_value)%></div></th>
          </tr>
        </thead>
        <tbody>
        <%= f.fields_for :rule_filter_criterions,:normal=>true do |sub_f|%>
            <tr>
              <td width="10px" class="dataCol"><%=sub_f.object.seq_num%>.</td>
              <td class="dataCol">
                <%=sub_f.hidden_field(:seq_num)%>
                <%=sub_f.hidden_field(:bo_code,:value=>@rule_filter.bo_code)%>
                <%=sub_f.blank_select(:attribute_name,available_view_column(@rule_filter.bo_code),{:required=>true,:size=>10},{:class=>"filterColumnSelect",:ref=>sub_f.object.seq_num})%>
              </td>
              <td class="dataCol" id="filter<%=sub_f.object.seq_num%>">
                <%= render_exists_operator_and_value(@rule_filter.bo_code,sub_f.object.attribute_name,sub_f)  %>
              </td>
            </tr>
        <%end %>
        <tr>
          <td colspan="3" class="dataCol"><%=(t :label_irm_view_filter_view_condition_clause)%></td>
        </tr>
        <tr>
          <td class="dataCol" colspan="3"><%=f.text_field :raw_condition_clause, :size=>60,:id=>"rawConditionClause"%></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pbSubheader">
      <h3><%=t(:label_irm_view_filter_step_three)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><%=f.radio_button(:restrict_visibility,"Y")%></td>
              <td class="dataCol"><label><%=t(:label_irm_view_filter_restrict_visibility_for_me)%></label></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><%=f.radio_button(:restrict_visibility,"N")%></td>
              <td class="dataCol"><label><%=t(:label_irm_view_filter_restrict_visibility_for_all)%></label></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><a href="<%=params[:back_url]%>"><%= t(:cancel) %></a></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<script type="text/javascript">
  GY.use("irm","gallerydispatcher","substitute",function(Y){
      Y.on("domready",function(){
        Y.on('change',Y.irm.rawConditionClause,".filterColumnSelect");
        Y.on('change', function(e) {
          var obj;
          var seq_num = e.currentTarget.getAttribute("ref");
          var attribute_id = "";
          if(e.currentTarget.getData("dispatcher")){
            obj = e.currentTarget.getData("dispatcher")
          }else{

            obj = new Y.Dispatcher({node:"#filter"+seq_num});
            e.currentTarget.setData("dispatcher",obj);
          }

          if(e.currentTarget.get("value")&&e.currentTarget.get("value")!=""){
             attribute_id = e.target.one("option[value="+e.target.get("value")+"]").getAttribute("attribute_id")
           }
          var url = unescape(Y.one("#filterContent").getAttribute("href"));
          url = Y.Lang.substitute(url,{seq_num:seq_num,attribute_id:attribute_id});

          obj.set('uri', url);

	    }, '.filterColumnSelect');
      });

  });
</script>