<div class="field">
  <%= label_tag subject.id,subject.name, :class => "q_title" %>
  <%=content_tag(:abbr,'*',:class=> 'required') if subject.required_flag %>

  <div class="input">
    <%  subject.subject_options.each do |option| %>
      <p>
      <%= check_box_tag "row[f#{subject.id}][]", option.value%>
      <%= option.value %>
      </p>
    <% end %>
    <p style="<%= 'display:none;' if !subject.other_input %>" class="question_other">
      <input name="<%= "row[f#{subject.id}][]" %>" value="_other" type="checkbox"/>
      <%= t(:other) %>
      <%= text_field_tag "row[f#{subject.id}][][other]", '' %></p>
    
    <span id="<%=subject.id%>_field" class='error'></span>
    <br />
    <span class="prompt"><%=h subject.prompt %></span>
  </div>
</div>
