<%= label_tag field.id,field.name, :class => "q_title" %>
<%=content_tag(:abbr,'*',:class=> 'required') if field.required %>

<div class="input">
  <%= text_field_tag "row[f#{field.id}]", '', :id => "row_f#{field.id}" %>  
  <span id="<%=field.id%>_field" class='error'></span>
  <br />
  <span class="prompt"><%=h field.prompt %></span>
</div>