<%= page_title %>

<%= form_for(@survey,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_csi_survey_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @survey%>
    <!-- base info -->
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
          <span class="requiredLegend">
            <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
            </span>
          <span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
          </span>
      </span>
      <h3><%=t(:label_csi_survey_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_title)%></label></td>
              <td class="dataCol" colspan="3"><%=f.text_field :title, :required=>true,:size=>80%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_description)%></label></td>
              <td class="dataCol"><%=f.text_area :description,:rows=>2%></td>
              <td class="labelCol"><label><%=(t :label_csi_survey_thanks_message)%></label></td>
              <td class="dataCol"><%=f.text_area :thanks_message,:rows=>2%></td>
            </tr>
        </tbody>
      </table>
    </div>
    <!-- setting -->
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
      </span>
      <h3><%=t(:label_csi_survey_setting)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><%=f.check_box :email_notify%></td>
              <td class="dataCol"><label><%=(t :label_csi_survey_email_notify)%></label></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%=f.check_box :publish_response%></td>
              <td class="dataCol"><label><%=(t :label_csi_survey_publish_response)%></label></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%=f.check_box :comment_flag%></td>
              <td class="dataCol"><label><%=(t :label_csi_survey_comment_flag)%></label></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
    <!-- access control -->
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
      </span>
      <h3><%=t(:label_csi_survey_access_control)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_password)%></label></td>
              <td class="dataCol"><%= f.text_field :password %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_closed_datetime)%></label></td>
              <td class="dataCol"><%= f.text_field :closed_datetime,:id=>"id_closed_datatime"%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><%=f.check_box :same_ip_allow_flag%></td>
              <td class="dataCol"><label><%=(t :label_csi_survey_same_ip_allow_flag)%></label></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<%= calendar_view("id_closed_datatime","id_closed_datatime","cal") %>
