<div class="field">
  <%= label_tag subject.id,subject.name, :class => "q_title" %>
  <%=content_tag(:abbr,'*',:class=> 'required') if subject.required_flag %>

  <div class="input">
    <%= text_field_tag "row[f#{subject.id}]", :size => 35 %>
    <span id="<%=subject.id%>_field" class='error'></span>
    <br />
    <span class="prompt"><%=h subject.prompt %></span>
  </div>
</div>
