<%= app_title %>
<%= view_filter("CSI_SURVEYS_INDEX_A","survey") %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_csi_survey_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="permissionsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="survey" class="datatable" style="width:100%;">
          <div id="id" style="display:none">
            <%= icon_link("btn_reply", t(:reply),{:action=>"reply",:id=>"{id}"}) %>&nbsp;
            <%= icon_link_show({:action=>"show",:id=>"{id}"}) %>&nbsp;
            <%= icon_link("btn_result", t(:result),{:action=>"show_result",:id=>"{id}"}) %>&nbsp;
          </div>
          <div id="joined_count" style="display:none">
            <div style="text-align:center;"><%= "{joined_count}"%></div>
          </div>
          <div id="person_count" style="display:none">
            <div style="text-align:center;"><%= "{person_count}"%></div>
          </div>
        </div>
        <%= datatable("survey",url_for(:action=>"get_data"),
                  [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"120px"},
                   {:key=>"title",:label=>t(:label_csi_survey_title),:sortable=>true,:searchable=>true},
                   {:key=>"joined_count",:label=>t(:label_csi_survey_joined_count),:sortable=>true,:formatter=>"Y.irm.template", :width=>"35px"},
                   {:key=>"person_count",:label=>t(:label_csi_survey_person_count),:sortable=>true,:formatter=>"Y.irm.template", :width=>"35px"},
                   {:key=>"published_at",:label=>t(:label_csi_survey_created_at),:sortable=>true, :width=>"40px"}],
                   {:search_box=>"permissionsSearchBox"})%>
      </div>
    </div>
</div>

<% content_for :sidebar do %>
    <%= render "csi/surveys/sidebar_last_ten" %>
<% end %>