<%= app_show_title(:show_data => @survey.title) %>

<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_csi_survey_show) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @survey}%></div>
            <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_title)%></label></td>
              <td class="dataCol"><%=@survey.title%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_description)%></label></td>
              <td class="dataCol"><%= @survey.description%></td>
              <td class="labelCol"><label><%=(t :label_csi_survey_thanks_message)%></label></td>
              <td class="dataCol"><%= @survey.thanks_message%></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="pbSubheader tertiaryPalette">&nbsp;
      <h3><%=t(:label_csi_survey_setting)%><span class="titleSeparatingColon"></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
           <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_email_notify)%></label></td>
              <td class="dataCol"><%= check_img(@survey.email_notify)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_publish_response)%></label></td>
              <td class="dataCol"><%= check_img(@survey.publish_response)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_comment_flag)%></label></td>
              <td class="dataCol"><%= check_img(@survey.comment_flag)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_result_only_author)%></label></td>
              <td class="dataCol"><%= check_img(@survey.result_only_author)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="pbSubheader tertiaryPalette">&nbsp;
      <h3><%=t(:label_csi_survey_access_control)%><span class="titleSeparatingColon"></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
           <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_password)%></label></td>
              <td class="dataCol"><%= @survey.password %></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_closed_datetime)%></label></td>
              <td class="dataCol"><%= @survey.closed_datetime%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_csi_survey_same_ip_allow_flag)%></label></td>
              <td class="dataCol"><%= check_img(@survey.same_ip_allow_flag)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>

     <div class="pbHeader pbSubheader" style="margin-top: 15px;">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_csi_survey_subject_list) %></h2></td>
              <td class="pbButton">
                <% if check_survey_result_exist?(@survey.id) %>
                  <div class="button"><%= link_to t(:add), {:controller=>"csi/survey_subjects",
                                                          :action=>"new",:survey_id=>@survey.id}%></div>
                <% else %>
                  <div class="button"><%= link_to t(:add), {}, {:href => "javascript:void(0);"}%></div>
                <% end %>                
              </td>
            </tr>
          </tbody>
        </table>
     </div>
    <div id="survey_subject" class="datatable" style="width:100%;">
          <div id="id" style="display:none">
            <% if check_survey_result_exist?(@survey.id) %>
              <%= link_to(t(:edit),{:controller=>"csi/survey_subjects",:action=>"edit",:id=>"{id}",
                                    :survey_id=>@survey.id}) %>&nbsp;&nbsp;
              <%= link_to(t(:delete),{:controller=>"csi/survey_subjects",:action=>"destroy",:id=>"{id}",:survey_id=>@survey.id},:confirm => t(:label_are_you_sure) ,
                                      :method => :delete) %>
            <% else %>
              <%= t(:edit) %>&nbsp;&nbsp;<%= t(:delete) %>
            <% end %>
          </div>
    </div>
        <%= datatable("survey_subject",url_for(:controller=>"csi/survey_subjects",:action=>"get_data",:id=>@survey.id,:survey_id=>@survey.id),
                  [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                   {:key=>"seq_num",:label=>t(:label_csi_survey_subject_seq_num),:sortable=>true,:width=>"70px"},
                   {:key=>"name",:label=>t(:label_csi_survey_subject_title),:sortable=>true},
                   {:key=>"prompt",:label=>t(:label_csi_survey_subject_prompt),:sortable=>true},
                   {:key=>"required_flag",:label=>t(:required),:sortable=>true}],
                   {:row_perpage=>20})
        %>

    <div class="pbHeader pbSubheader" style="margin-top: 15px;">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_csi_survey_range_list) %></h2></td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:new), {:controller => "csi/survey_ranges", :action => "new", :survey_id => @survey.id}%></div>
              </td>
            </tr>
          </tbody>
        </table>
     </div>
    <div id="survey_range" class="datatable" style="width:100%;">
          <div id="id" style="display:none">
            <%= icon_link_edit({:controller=>"csi/survey_ranges",:action=>"edit",:survey_id => @survey.id,:id=>"{id}"}) %>&nbsp;
            <%= icon_link_show({:controller=>"csi/survey_ranges",:action=>"show",:survey_id => @survey.id,:id=>"{id}"}) %>&nbsp;
            <%= icon_link_delete({:controller=>"csi/survey_ranges",:action=>"destroy",:survey_id => @survey.id,:id=>"{id}"},:confirm => t(:label_are_you_sure) ,
                                      :method => :delete) %>
          </div>
          <div id="required_flag" style="display:none">
            <%= check_img("{required_flag}") %>
          </div>
    </div>
        <%= datatable("survey_range",url_for(:controller=>"csi/survey_ranges",:action=>"get_data",:survey_id=>@survey.id),
                  [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                   { :key => "required_flag", :label => t(:label_csi_survey_range_required_flag), :formatter => "Y.irm.template", :width => "30px" },
                   { :key => "range_type_meaning", :label => t(:label_csi_survey_range_range_type)},
                   { :key => "status_meaning", :label => t(:label_csi_survey_range_status_code), :width => "30px" }],
                   {:row_perpage=>20})
        %>

  </div>
</div>


<% content_for :sidebar do %>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end %>