<%= app_title(:description=>"问卷调查-图表显示") %>

<div class="lightBlue">
    <div class="bPageTitle">
        <div style="background-color: rgb(23, 151, 192);" class="secondaryPalette">
          <h1 class="title"><%= t(:label_csi_survey_info) %>
            <%= @survey_code %>：&nbsp;&nbsp;
            <%= @survey_title%>
          </h1>
        </div>
    </div>
</div>

  <div class="bGeneratedReport">
    <div class="bPageBlock">
      <div class="pbHeader">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_csi_survey_result_chart) %></h2></td>
                <td id="topButtonRow" class="pbButton">
                  <div class="button"><%= link_to t(:return), @return_url%></div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="pbBody">
        <div class="pbSubblock">
          <div class="pbSubbody">
            <div class="reportOutput">
              <div id="fchArea" class="pbBody" >
                    <table style="width:100%">
                      <tr>
                        <td style="width:70%">
                           <div class="lightBlueBorder noLineShow">
                               <%= raw(show_survey_chart(@survey_id)) %>
                           </div>
                        </td>
                        <td style="width:30%"></td>
                      </tr>
                    </table>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


