   <div id="id_language_edit" class="container">
     <%= form_for(@language,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_language_edit)%> - <%= @language.language_code%></div>
                </div>
                <table class="twocolumnstable" cellspacing="0">
                    <tr>
                        <td class="twocolumn">
                           <table class="itemdetailtable">
                               <tr><td class="itemdetailtablelabel"><%=(t :label_irm_language_language_code)%>:</td>
                                <td><%=f.text_field :language_code,:size=>40,:readonly=> true %></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_language_installed_flag)%>:</td>
                              <td><%=f.check_box :installed_flag%></td>
                            </tr>
                            <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_language_status_code)%>:</td>
                            <td><%=f.select :status_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_status,:lookup_code,:meaning,@condition.status_code)%></td>
                            </tr>                            
                           </table>
                        </td>
                        <td class="twocolumn" cellspacing="0">
                           <table class="itemdetailtable">
                            <div id="id_lookup_level">
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_language_description)%>:
                               </td>
                               <td><%= f.text_area :description, :value => @language[:description], :cols => 40, :rows => 2 %></td>
                            </tr>
                            </div>
                           </table>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>
                <div class="containerfooter">
                    <div class="button floatright" ><%= link_to t(:save), {:controller=>"irm/languages",:action=>"update"}, {:action_type => "ajaxSubmit", :script => "/reload_grid('id_language_grid');replace(system_message_box,system_message_box);/replace(system_message_box,system_message_box);"}%></div>
                    <div class="button floatright"><%= link_to t(:cancel), {:action => "new"}, :script => "/replace(id_language_new,id_language_new);/", :action_type=>"ajaxLink"%></div>
                </div>
     <% end %>
   </div>
