    <div id="data_area">
        <div class="containerheader">
           <div class="floatleft headertitle"><%=t(:label_irm_permission_list)%></div>
        </div>
        <div id="functions_grid" class="datagrid"
            action_type="ajaxDhtmlxGrid"
            grid_header=" , <%=t(:label_irm_function_function_code)%>,<%=t(:label_irm_function_name)%>,
            <%=t(:label_irm_function_description)%>,<%=t(:active)%>,<%=t(:multilingual)%>"
            grid_width="20,100,100,150,100,100"
            grid_col_types="ra,ro,ro,ro,ro,link"
            grid_onRowDblClicked="dblClickHandler"
            grid_OnRowSelected="rowSelectedHandler"
            grid_paging_skin="bricks"
            enable_paging="true, 15, null, 'pagingArea', true, 'infoArea'"
            grid_load="'<%= url_for(:action => "get_data", :controller => "irm/functions", :format=>:json) %>',function(){init('#functions_grid');},'json'">
        </div>
        <span id="pagingArea"></span>&nbsp;<span id="infoArea"></span>
        <span id="recfound"></span>
        <script>
            function dblClickHandler(rId, cInd){
                processDblClicked("container1","function_edit","<%= url_for(:action => "edit", :controller => "irm/functions", :id => ":id") %>", rId);
            }
            function rowSelectedHandler(id, ind){
                dhtmlx_grid_array['functions_grid'].cells(id, 0).setValue("1");
                replaceLink(id);                
            }
            function replaceLink(rowId){
               var action_temp="";
               if(rowId!=null&&rowId!=undefined){
                  action_temp = "<%=url_for(:controller=>"irm/functions",:action=>"permission_index",:function_id=>":id")%>".replace(":id",rowId);
                  $("#permission_index").attr("href",action_temp);
               }
            }
        </script>
        <div class="containerfooter">
          <div class="floatright">
            <div class="button"><%= link_to t(:label_irm_function_permission), {:action => "permission_index", :function_id => ":id"}, :script => "/replace(containers,containers);/", :action_type=>"ajaxLink", :id => "permission_index"%></div>
          </div>
        </div>
    </div>