   <div id="function_edit">
     <%= form_for(@function,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_function_edit)%> - <%= @function.function_code%></div>
                </div>
                <table class="twocolumnstable" cellspacing="0">
                    <tr>
                        <td class="twocolumn">
                           <table class="itemdetailtable">
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_function_function_code)%>:</td>
                              <td><%=f.text_field :function_code, :readonly => true,:irm_uppercase=>true%></td>
                            </tr>                             
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_function_name)%>:</td>
                              <td><%=f.text_field :name, :value => @function[:name], :required=>true%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :active)%>:</td>
                              <td><%=f.select :status_code, available_active_status, {:include_blank => false}%></td>
                            </tr>                        
                           </table>
                        </td>
                        <td class="twocolumn" cellspacing="0">
                           <table class="itemdetailtable">
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_function_description)%>:
                               </td>
                               <td><%= f.text_area :description, :value => @function[:description], :rows => 2%></td>
                            </tr>
                           </table>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>
                <div class="containerfooter">
                    <div class="button floatright" ><%= link_to t(:save), {}, {:action_type => "ajaxSubmit", :script => "/replace(system_message_box,system_message_box);reload_grid('functions_grid');/replace(system_message_box,system_message_box);"}%></div>
                    <div class="button floatright"><%= link_to t(:cancel), {:action => "new"}, :script => "/replace(container1,function_new);/", :action_type=>"ajaxLink"%></div>
                </div>
     <% end %>
   </div>
