   <div id="function_edit">
     <%= form_for(@function,:url=>{},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_function)%></div>
                </div>
                <table class="twocolumnstable" cellspacing="0">
                    <tr>
                        <td class="twocolumn">
                           <table class="itemdetailtable">
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_function_function_code)%>:</td>
                              <td><%=f.text_field :function_code, :size=>40,:required=>true, :readonly => true%></td>
                            </tr>                             
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_function_name)%>:</td>
                              <td><%=f.text_field :name, :value => @function[:name] ,:size=>40,:required=>true, :readonly => true%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :active)%>:</td>
                              <td><%=f.select :status_code, available_active_status, {:include_blank => false}%></td>
                            </tr>                        
                           </table>
                        </td>
                        <td class="twocolumn" cellspacing="0">
                           <table class="itemdetailtable">
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_function_description)%>:
                               </td>
                               <td><%= f.text_area :description, :value => @function[:description], :cols => 40, :rows => 2, :readonly => true%></td>
                            </tr>
                           </table>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>
                <div class="containerfooter">
                </div>
     <% end %>
   </div>
