<div class="bPageTitle">
  <div class="ptBody">
    <div class="content">
      <h1 class="pageType"></h1>
      <h2 class="pageDescription"><%= t(:label_irm_function) %></h2>
      <div class="blank">&nbsp;</div>
    </div>
    <div class="links">
      <a href="javascript:void(0);" class="configLinks">编辑局部</a>|
      <a href="javascript:void(0);" class="configLinks">用户简档</a>|
      <a href="javascript:void(0);" class="configLinks">此页面的帮助</a>
    </div>
    <div class="ptBreadcrumb"></div>
  </div>
</div>

<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_function) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @function}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_function_name)%></label></td>
              <td class="dataCol"><div><%= @function[:name]%></div></td>
              <td class="labelCol"><label><%=(t :label_irm_function_function_code)%></label></td>
              <td class="dataCol"><div><%= @function.function_code%></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_function_description)%></label></td>
              <td class="dataCol"><div><%= @function[:description]%></div></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :active)%></label></td>
              <td class="dataCol"><div><%= @function.status_code%></div></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>