   <div id="rule_setting_edit">
     <%= form_for(@rule_setting,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_icm_rule_setting_edit)%></div>
                </div>
            <table class="twocolumnstable" cellspacing="0">
                <tr>
                    <td class="twocolumn">
                       <table class="itemdetailtable">
                            <tr><td class="itemdetailtablelabel"><%=(t :label_icm_rule_setting_company)%>:</td>
                              <td><%=f.select :company_id,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                    options_for_select(selectable_companies,@rule_setting.company_id),
                                                    {},{}%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :label_icm_rule_setting_report_date_changable)%>:</td>
                              <td><%=f.check_box :report_date_changable%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :label_icm_rule_setting_respond_date_changable)%>:</td>
                              <td><%=f.check_box :respond_date_changable%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :label_icm_rule_setting_auto_closure_days)%>:</td>
                              <td><%=f.text_field :auto_closure_days, :size=>5,:required=>true%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :active)%>:</td>
                              <td><%=f.select :status_code, available_active_status, {:include_blank => false}%></td>
                            </tr>
                       </table>
                    </td>
                    <td class="twocolumn" cellspacing="0">
                       <table class="itemdetailtable">
                        <tr>
                          <td class="itemdetailtablelabel"><%=t(:label_icm_rule_setting_assignment_process_code)%>:</td>
                           <td><%=f.select :assignment_process_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                    options_for_select(available_processes,@rule_setting.assignment_process_code),
                                                    {},{}%></td>
                        </tr>
                        <tr>
                          <td class="itemdetailtablelabel"><%=t(:label_icm_rule_setting_slove_date_changable)%>:</td>
                           <td><%= f.check_box :slove_date_changable, :cols => 40, :rows => 4%></td>
                        </tr>
                        <tr>
                          <td class="itemdetailtablelabel"><%=t(:label_icm_rule_setting_auto_assignable)%>:</td>
                           <td><%= f.check_box :auto_assignable, :cols => 40, :rows => 4%></td>
                        </tr>
                        <tr>
                          <td rowspan="2" class="itemdetailtablelabel"><%=t(:label_icm_rule_setting_description)%>:</td>
                           <td rowspan="2"><%= f.text_area :description, :cols => 40, :rows => 4%></td>
                        </tr>
                       </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
                <div class="containerfooter">
                    <div class="button floatright" ><%= link_to t(:save), {}, {:action_type => "ajaxSubmit", :script => "/replace(system_message_box,system_message_box);reload_grid('rule_settings_grid');/replace(system_message_box,system_message_box);"}%></div>
                    <div class="button floatright"><%= link_to t(:cancel), {:action => "new"}, :script => "/replace(container1,rule_setting_new);/", :action_type=>"ajaxLink"%></div>
                </div>
     <% end %>
   </div>
