<div id="edit_own_functions">
    <div class="containerheader">
       <div class="floatleft headertitle"><%=t(:label_irm_function_group_function_add)%></div>
    </div>
    <table class="twocolumnform" cellspacing="0">
        <tr>
          <td class="left">
            <div id="left_grid" class="datagrid"
                action_type="ajaxDhtmlxGrid"
                grid_header=" , <%=t(:label_irm_function_function_code)%>,<%=t(:label_irm_function_name)%>"
                grid_width="20,100,100"
                grid_col_types="ch,ro,ro"
                grid_OnRowSelected="rowSelectedHandler1"
                grid_paging_skin="bricks"
                enable_paging="true, 15, null, 'pagingArea1', true, 'infoArea1'"
                grid_load="'<%= url_for(:action => "get_own_functions", :controller => "irm/function_groups", :format=>:json, :function_id => @function_group.id) %>','','json'">
            </div>
            <span id="pagingArea1"></span>&nbsp;<span id="infoArea1"></span>
            <script>
                function rowSelectedHandler1(id, ind){
                    dhtmlx_grid_array['left_grid'].cells(id, 0).setValue("1");
                }
            </script>
          </td>
          <td class="middle">
              <table cellspacing="0">
                <tr><td><div class="button"><a id="left_to_right" href="#">>></a></div></td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td><div class="button"><a id="right_to_left" href="#" ><<</a></div></td></tr>
              </table>
              </td>
          <td class="right">
            <div id="right_grid" class="datagrid"
                action_type="ajaxDhtmlxGrid"
                grid_header=" , <%=t(:label_irm_function_function_code)%>,<%=t(:label_irm_function_name)%>"
                grid_width="20,100,100"
                grid_col_types="ch,ro,ro"
                grid_OnRowSelected="rowSelectedHandler2"
                grid_paging_skin="bricks"
                enable_paging="true, 15, null, 'pagingArea2', true, 'infoArea2'"
                grid_load="'<%= url_for(:action => "get_available_functions", :controller => "irm/function_groups", :format=>:json, :function_group_id => @function_group.id) %>','','json'">
            </div>
            <span id="pagingArea2"></span>&nbsp;<span id="infoArea2"></span>
            <script>
                function rowSelectedHandler2(id, ind){
                    dhtmlx_grid_array['right_grid'].cells(id, 0).setValue("1");
                }
            </script>
          </td>
          <td class="sep">
                &nbsp;
          </td>
        </tr>
    </table>

    <div class="containerfooter">
        <%= form_tag({:action => "update_functions", :function_group_id => @function_group.id}) do %>
            <%= hidden_field_tag 'ids'%>
            <div class="button floatright"><%= link_to t(:save), {}, :script => "/replace(system_message_box,system_message_box);/", :action_type=>"ajaxSubmit", :onclick => "$('#ids').attr('value', dhtmlx_grid_array['left_grid'].getAllRowIds(','));"%></div>
        <% end %>
        <div class="button floatright"><%= link_to t(:cancel), {:action => "function_index", :function_group_id => @function_group.id}, :script => "/replace(containers,containers);/", :action_type=>"ajaxLink"%></div>
    </div>
</div>