<%= setting_title %>
<div class="filterOverview">
    <div class="bFilterView">
      <span class="bFilter">
      </span>
    </div>
</div>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_function_group_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="funcGroupSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="function_groups_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= icon_link_edit({:action=>"edit",:id=>"{id}"}) %>&nbsp;
            <%= icon_link_show({:action=>"show",:id=>"{id}"}) %>
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>              
        </div>
        <%= datatable("function_groups_list",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template", :width => "80px"},
                       {:key=>"group_code",:label=>t(:label_irm_function_group_group_code),:sortable=>true},
                       {:key=>"name",:label=>t(:label_irm_function_group_name),:sortable=>true},
                       {:key=>"description",:label=>t(:label_irm_function_group_description)},
                       {:key=>"status_code",:label=>t(:active),:sortable=>true,:formatter=>"Y.irm.template", :width => "40px"}],
                       {:not_load=>true,:search_box=>"funcGroupSearchBox",:select=>"multiple"}) %>
      </div>
    </div>
</div>
