<%= setting_show_title(:show_data => @function_group[:name]) %>

<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_function_group) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @function_group}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"} %></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_function_group_group_code)%></label></td>
              <td class="data2Col"><%= @function_group.group_code%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_function_group_name)%></label></td>
              <td class="data2Col"><%= @function_group[:name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_function_group_description)%></label></td>
              <td class="data2Col"><div><%= @function_group[:description]%></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :active)%></label></td>
              <td class="data2Col"><%= check_img(@function_group.status_code)%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_function_list) %></h2></td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:add), {:action => "select_functions", :group_id => @function_group}%></div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="function_groups_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= icon_link_remove({:action=>"remove_function",:function_id=>"{id}", :group_id => @function_group}) %>
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>              
        </div>
        <%= datatable("function_groups_list",url_for(:action=>"get_own_functions", :group_code => @function_group.group_code,:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template", :width => "40px"},
                       {:key=>"function_code",:label=>t(:label_irm_function_function_code),:sortable=>true},
                       {:key=>"name",:label=>t(:label_irm_function_name),:sortable=>true},
                       {:key=>"description",:label=>t(:label_irm_function_description),:sortable=>true},
                       {:key=>"status_code",:label=>t(:active),:sortable=>true,:formatter=>"Y.irm.template"}]) %>
      </div>
    </div>
</div>