<%= setting_show_title(:show_data => @function_group[:name]) %>

<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_function_group) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @function_group}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"} %></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_function_group_group_code)%></label></td>
              <td class="data2Col"><%= @function_group.group_code%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_function_group_name)%></label></td>
              <td class="data2Col"><%= @function_group[:name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_function_group_description)%></label></td>
              <td class="data2Col"><div><%= @function_group[:description]%></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :active)%></label></td>
              <td class="data2Col"><%= check_img(@function_group.status_code)%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

