<div id="data_area" class="container">
    <div class="containerheader">
       <div class="floatleft headertitle"><%=t(:label_irm_menu_entry_list)%></div>
    </div>
    <div id="menu_entries_grid" class="datagrid"
        action_type="ajaxDhtmlxGrid"
        grid_header=" , <%=t(:label_irm_menu_entry_display_sequence)%>,<%=t(:label_irm_menu_entry_prompt)%>,
        <%=t(:label_irm_menu_entry_description)%>,<%=t(:label_irm_menu_entry_sub_menu)%>,<%=t(:label_irm_menu_entry_page)%>,
        <%= t(:label_irm_menu_entry_display_flag)%>,<%= t(:active)%>, <%= t(:multilingual)%>"
        grid_width="20,100,100,200,80,80,80,80,80"
        grid_col_types="ra,ed,ed,ed,ed,ed,ch,coro,link"
        grid_OnRowSelected="rowSelectedHandler"
        grid_paging_skin="bricks"
        enable_paging="true, 15, null, 'pagingArea', true, 'infoArea'"
        grid_load="'<%= url_for(:action => "get_data", :controller => "irm/menu_entries", :menu_id => @menu.id, :format=>:json) %>','','json'">
    </div>
    <span id="pagingArea"></span>&nbsp;<span id="infoArea"></span>
    <span id="recfound"></span>

    <div class="containerfooter">
        <div class="floatright">
            <div class="button" id = "btn_save"><a href="javascript:void(0);" onclick="saveEditMenuEntryRow();" ><%= t(:save) %></a></div>
            <div class="button" id = "btn_add" onclick="addMenuEntryEditRow('menu_entries_grid', '<%= @menu.id%>');"><a href="javascript:void(0);"><%= t(:add) %></a></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index", :controller => "irm/menus"}, :script => "/replace(containers,containers);/", :action_type=>"ajaxLink"%></div>
        </div>
    </div>
</div>

<script>
    var gridEdit="";
    function rowSelectedHandler(id, ind){
        dhtmlx_grid_array['menu_entries_grid'].cells(id, 0).setValue("1");
    }
    function addMenuEntryEditRow(id,menuId) {
        var grid = dhtmlx_grid_array[id];
        var newId = (new Date()).valueOf();
        grid.addRow(newId,"",grid.getRowsNum());
        grid.selectRow(grid.getRowIndex(newId),false,false,true);
        gridEdit = new dataProcessor('/menu_entries/create_entry?menu_id='+menuId);
        gridEdit.init(grid);
        gridEdit.setUpdateMode("off");
        gridEdit.setTransactionMode("POST");
    }
    function removeEditMenuEntryRow(id){
        var grid = dhtmlx_grid_array[id];
        var selId = grid.getSelectedId();
        grid.deleteRow(selId);
    }
    function saveEditMenuEntryRow(){
        gridEdit.sendData();
    }
</script>