<%= form_for(@object_attribute,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_object_attribute_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @object_attribute %>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label for="object_attribute_attribute_name"><%=t(:label_irm_object_attribute_name)%></label></td>
              <td class="dataCol"><%=f.text_field :name,:value=>@object_attribute[:name], :required=>true ,:id=>"object_attribute_name"%></td>
              <td class="labelCol"><label for="object_attribute_attribute_name"><%=t(:label_irm_object_attribute_attribute_name)%></label></td>
              <td class="dataCol"><%=@object_attribute.attribute_name%></td>
            </tr>
            <tr>
              <td class="labelCol"><label for="object_attribute_lov_code"><%=t(:label_irm_object_attribute_lov_code)%></label></td>
              <td class="dataCol"><%=f.lov_field :lov_code,"LIST_OF_VALUE",{},{:id=>"object_attribute_lov_code"}%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><label for="object_attribute_filter_flag"><%=t(:label_irm_object_attribute_filter_flag)%></label></td>
              <td class="dataCol"><%=f.check_box :filter_flag,{:id=>"object_attribute_filter_flag"}%></td>
              <td class="labelCol"><label for="object_attribute_approval_page_field_flag"><%=t(:label_irm_object_attribute_approval_page_field_flag)%></label></td>
              <td class="dataCol"><%=f.check_box :approval_page_field_flag ,:id=>"object_attribute_approval_page_field_flag"%></td>
            </tr>
            <tr>
              <td class="labelCol"><label for="object_attribute_data_type"><%=t(:label_irm_object_attribute_data_type)%></label></td>
              <td class="dataCol"><%=@object_attribute.data_type%></td>
              <td class="labelCol"><label for="object_attribute_data_length"><%=t(:label_irm_object_attribute_data_length)%></label></td>
              <td class="dataCol"><%=@object_attribute.data_length%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
