<%= form_for(@object_attribute,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
    <div class="pbDescription ">
    </div>
    <div class="pbWizardBody">
      <div class="secondaryPalette">
        <div class="pbBody ">
            <%= error_for @business_object %>
            <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
              <span class="pbSubExtra">
                <span class="requiredLegend">
                  <span class="requiredExampleOuter">
                    <span class="requiredExample">&nbsp;</span>
                  </span><span class="requiredMark">*</span>
                  <span class="requiredText"> = <%=t(:label_is_required)%></span>
                </span>
              </span>
              <h3><%= t(:label_common_info) %></h3>
            </div>
            <div class="pbSubsection">
            <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td class="labelCol"><label for="object_attribute_attribute_type"><%=t(:label_irm_object_attribute_name)%></label></td>
                    <td class="dataCol"><%=f.text_field :name, {:required=>true}%></td>
                    <td class="labelCol empty">&nbsp;</td>
                    <td class="dataCol empty">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="labelCol"><label for="object_attribute_attribute_type"><%=t(:label_irm_object_attribute_attribute_name)%></label></td>
                    <td class="dataCol"><%=f.text_field :attribute_name, {:required=>true}%></td>
                    <td class="labelCol empty">&nbsp;</td>
                    <td class="dataCol empty">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="labelCol"><label for="object_attribute_attribute_type"><%=t(:label_irm_object_attribute_lov_code)%></label></td>
                    <td class="dataCol"><%=f.text_field :lov_code%></td>
                    <td class="labelCol empty">&nbsp;</td>
                    <td class="dataCol empty">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
    <div class="pbWizardFooter">
        <div class="pbBottomButtons">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"></td>
                  <td id="bottomButtonRow" class="pbButtonb">
                    <div class="button"><%= link_to t(:last), {:action => "new",:step=>1},{:class=>"submit"} %></div>
                    <div class="button"><%= f.submit t :save %></div>
                    <div class="button"><%= link_to t(:cancel), {:controller=>"irm/business_objects",:action => "show",:id=>params[:bo_id]} %></div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
<% end %>
