<%= page_title %>
<%= form_for(@urgence_code,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_icm_urgence_code_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @urgence_code%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend"><span class="requiredExampleOuter">
          <span class="requiredExample">&nbsp;</span></span>
           <span class="requiredMark">*</span><span class="requiredText"> = <%=t(:label_is_required)%></span></span></span>
      <h3><%=t(:label_icm_urgence_code_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label for="urgence_code_company"><%=(t :label_icm_urgence_code_company)%></label></td>
              <td class="dataCol"><%=f.select :company_id,nullable_options_for_select(selectable_companies,@urgence_code.company_id),
                                                    {},{:require=>true,:id=>"urgence_code_company"}%></td>
              <td class="labelCol"><label><%=(t :label_icm_urgence_code_urgency_code)%></label></td>
              <td class="dataCol"><%=@urgence_code.urgency_code%></td>
            </tr>
            <tr>
              <td class="labelCol"><label  for="urgence_code_name"><%=(t :label_icm_urgence_code_name)%></label></td>
              <td class="dataCol"><%=f.text_field :name,:value=>@urgence_code[:name], :required=>true,:id=>"urgence_code_name" %></td>
              <td class="labelCol"><label for="urgence_code_weight_value"><%=(t :label_icm_urgence_code_weight_values)%></label></td>
              <td class="dataCol"><%=f.text_field :weight_values, :required=>true,:id=>"urgence_code_weight_value" %></td>
            </tr>
            <tr>
              <td class="labelCol"><label for="urgence_code_display_sequence"><%=(t :display_sequence)%></label></td>
              <td class="dataCol"><%=f.text_field :display_sequence, :required=>true%></td>
              <td class="labelCol"><label for="urgence_code_default_flag"><%=(t :default_flag)%></label></td>
              <td class="dataCol"><%=f.check_box :default_flag%></td>
            </tr>            
            <tr>
              <td class="labelCol"><label for="urgence_code_description"><%=(t :label_icm_urgence_code_description)%></label></td>
              <td class="dataCol"><%=f.text_area :description,:value=>@urgence_code[:description],:rows=>4,:id=>"urgence_code_description"%></td>
              <td class="labelCol empty"><label for="status_code"><%=(t :label_irm_script_status_code)%></label></td>
              <td class="dataCol empty"><%=f.select :status_code,nullable_collection_options(available_status,:lookup_code,:wrap_meaning,@urgence_code.status_code),{},{:id=>"status_code"}%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
   
