
    <div class="sidebarModule createNewModule">
        <div class="sidebarModuleBody sidebarModuleBodyNoHeader">
          <div id="createNew" class="menuButton">
            <div id="createNewButton" class="menuButtonButton">
                <span id="createNewLabel"><%= t :create%>...</span>

            </div>
            <div id="createNewMenu" class="menuButtonMenu" style="display:none; width: 196px;">
                  <%= link_to_checker(t(:label_incident_request),
                                      {:controller => "icm/incident_requests", :action => "new"},
                                      {:class => "menuButtonMenuLink"}) %>
                  <%= link_to_checker(t(:label_skm_entry_header),
                                      {:controller => "skm/entry_headers", :action => "new"},
                                      {:class => "menuButtonMenuLink"})%>
                  <%= link_to_checker(t(:label_csi_survey_info),
                                      {:controller => "csi/surveys", :action => "new"},
                                      {:class => "menuButtonMenuLink"})%>
                  <%= link_to_checker(t(:label_skm_file),
                                      {:controller => "skm/file_managements", :action => "new"},
                                      {:class => "menuButtonMenuLink"})%>
                  <a class="eventMru firstMenuItem menuButtonMenuLink" href="/00U/e?retURL=%2Fhome%2Fhome.jsp">
                    <img title="事件" class="mruIcon" alt="事件" src="/s.gif">事件
                  </a>
            </div>
          </div>
        </div>
    </div>

    <script>
      GY.use(function(Y){
        Y.one("#createNewMenu").on("mouseout", function(){
            Y.one("#createNewMenu").setStyle("display", "none");
        });
        Y.one("#createNewMenu").on("mouseover", function(){
            Y.one("#createNewMenu").setStyle("display", "block");
        });
        Y.one("#createNewButton").on("click", function(){
            Y.one("#createNewMenu").setStyle("display", "block");
        });
      })
    </script>

