
    <div class="sidebarModule createNewModule">
        <div class="sidebarModuleBody sidebarModuleBodyNoHeader">
          <div id="createNew" class="menuButton">
            <div id="createNewButton" class="menuButtonButton">
                <span id="createNewLabel"><%= t :create%>...</span>

            </div>
            <div id="createNewMenu" class="menuButtonMenu" style="display:none; width: 196px;">
                  <%= link_to_checker(raw(get_img_icon("img6", {:class => "mruIcon", :title => t(:label_incident_request)}, "Small") ) + t(:label_incident_request),
                                      {:controller => "icm/incident_requests", :action => "new"},
                                      {:class => "menuButtonMenuLink"}) %>
                  <%= link_to_checker(raw(get_img_icon("img10", {:class => "mruIcon", :title => t(:label_skm_entry_header)}, "Small") ) + t(:label_skm_entry_header),
                                      {:controller => "skm/entry_headers", :action => "new"},
                                      {:class => "menuButtonMenuLink"})%>
                  <%= link_to_checker(raw(get_img_icon("img17", {:class => "mruIcon", :title => t(:label_csi_survey_info)}, "Small") ) + t(:label_csi_survey_info),
                                      {:controller => "csi/surveys", :action => "new"},
                                      {:class => "menuButtonMenuLink"})%>
                  <%= link_to_checker(raw(get_img_icon("img1", {:class => "mruIcon", :title => t(:label_skm_file)}, "Small") ) + t(:label_skm_file),
                                      {:controller => "skm/file_managements", :action => "new"},
                                      {:class => "menuButtonMenuLink"})%>
                  <%= link_to_checker(raw(get_img_icon("img7", {:class => "mruIcon", :title => t(:label_irm_bulletin)}, "Small") ) + t(:label_irm_bulletin),
                                      {:controller => "irm/bulletins", :action => "new"},
                                      {:class => "menuButtonMenuLink"})%>
                  <%= link_to_checker(raw(get_img_icon("img2", {:class => "mruIcon", :title => t(:label_irm_todo_event)}, "Small") ) + t(:label_irm_todo_event),
                                      {:controller => "irm/todo_events", :action => "new"},
                                      {:class => "menuButtonMenuLink"})%>
            </div>
          </div>
        </div>
    </div>

    <script>
      GY.use(function(Y){
        Y.one("#createNewButton").on("mouseout", function(){
            Y.one("#createNewMenu").setStyle("display", "none");
        });
        Y.one("#createNewMenu").on("mouseout", function(){
            Y.one("#createNewMenu").setStyle("display", "none");
        });
        Y.one("#createNewMenu").on("mouseover", function(){
            Y.one("#createNewMenu").setStyle("display", "block");
        });
        Y.one("#createNewButton").on("click", function(){
            Y.one("#createNewMenu").setStyle("display", "block");
        });
      })
    </script>

