 <body id="loginpage">
        <div id="pagewrap">
          <div id="newheader">
            <a id="main-logo"></a>
          </div>
          <div id="gradientwrap">
            <div class="bottom">
              <div class="login_form_box">
                <div class="content_new">
                <% form_tag({:action=> "login"},{:id=>"login_form"}) do %>
                   <%= back_url_hidden_field_tag %>
                      <% if flash[:error] %>
                      <div class="loginError"><%= flash[:error] %></div>
                      <% end %>
                      <div class="inputs">
                        <div class="inputbox">
                          <label><%=(t :label_irm_common_username)%></label>
                          <br>
                          <span><%=text_field_tag :username,nil, :class => "txtbox", :id=>"userName",:span => true%></span>
                        </div>
                        <div class="inputbox inputbox_password">
                          <label><%=(t :label_irm_common_password)%></label>
                          <br>
                          <span><%=password_field_tag :password, nil, :class => "txtbox",:id=>"password", :span => true%></span>
                        </div>
                      </div>
                      <div class="rememberme_txt">
                        <input type="checkbox" name="rememberme" span=true id="rememberchk"><label for="rememberchk"><%= t(:remember_user_name)%></label>
                      </div>
                      <div class="login_button">
                        <%= link_to t(:label_irm_common_login),{},:type=>"submit",:id=>"sumbitlogin"%>
                        <%= link_to t(:label_irm_common_forgot_password), {:controller => "irm/common", :action => "forgot_password"}, {:class => "forgotpass"}%>
                      </div>
                 <%end%>
                  <div class="signupbox">
                    <% t(:no_account)%>
                    <a href="javascript:void(0);"></a>
                  </div>
                </div>
                <span class="bottom_new"></span>
              </div>
              <iframe id="shoutoutframe" src="/pages/loginimage.html">

              </iframe>
              
              <div id="infobarcontent">
                <div class="infobar">
                <div class="col col1">
                    <h2>安全警报、最佳实践和系统状态</h2>
                    <div>
                        如需查看安全警报、了解保护您的 Ironmine 信息和访问的详情，以及查看系统状态，请访问 <a target="_blank" href="javascript:void(0);">www.ironmine.com</a>.<br>
                        <a target="_blank" href="javascript:void(0);" class="bluelink">https://www.ironmine.com/trust/cn/security/security_alerts/</a>
                    </div>
                </div>
                <div class="col col2">
                    <h2>新用户</h2>
                    <div>
                        请从您的电子邮件帐户中获取您的用户名和临时密码，或者联系贵公司的 Ironmine 管理员以获得详细说明。<br>
                        <a target="_blank" href="javascript:void(0);" class="bluelink">https://www.ironmine.com/trust/cn</a>
                    </div>
                </div>
                </div>
                <span class="infobar_bottom"></span>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          GY.use("cookie","node-event-simulate",function(Y){
            Y.on("domready",function(e){
                Y.Cookie.remove("navTreeMenu");
                if(Y.Cookie.get("username")){
                  Y.one("#userName").set("value",Y.Cookie.get("username"));
                  Y.one("#rememberchk").set("checked",true);
                  Y.one("#password").set("value","");
                }
                Y.one("#password").on("keydown",function(e){
                  if(e.keyCode==13)
                    Y.one("#sumbitlogin").simulate("click");
                });
            });

          });
        </script>
    </body>
