<div class="containers" id="containers">
  <div id="form" class="container">
    <%if flash[:error]%>
      <div class="errormsgbox">
        <%=flash[:error]%>
      </div>
    <%end%>
    <table class="leftnavigation" cellspacing="0">
        <tbody>
            <tr class="navigationheader">
                <td><%=t(:label_irm_common_login)%>(ironmine/123456)</td>
                <td></td>
            </tr>
            <tr class="navigationbody">
                <td class="loginform">

            <% form_tag({:action=> "login"},{:id=>"login_form"}) do %>
               <%= back_url_hidden_field_tag %>       
               <table class="logintable" cellspacing="0" cellpadding="0">
                 <tbody>
                     <tr><td class="loginlabel"><%=(t :label_irm_common_username)%></td><td><%=text_field_tag :username,nil%></td></tr>
                     <tr><td class="loginlabel"><%=(t :label_irm_common_password)%></td><td><%=password_field_tag :password, nil%></td></tr>
                     <tr><td class="loginlabel">&nbsp;</td><td><div class="button floatright"><%= link_to t(:label_irm_common_login),{},:type=>"submit"%></div></td></tr>
                 </tbody>
               </table>
             <%end%>
                </td>
              <td class="loginicon"><%= image_tag get_global_icon %></td>
            </tr>
        </tbody>
    </table>


  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('input').keypress(function(e){
  	    if(e.which == 13){
    	    $('form#login_form').submit();
        }
    });
  });
</script>
