<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_role_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:controller => "irm/roles", :action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="rolesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="roles_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:controller => "irm/roles", :action=>"edit",:id=>"{id}"}) %>&nbsp;
            <%= link_to(t(:show),{:controller => "irm/roles", :action=>"show",:id=>"{id}"}) %>
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>             
        </div>
        <%= datatable("roles_list",url_for(:controller => "irm/roles", :action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"role_code",:label=>t(:label_irm_role_code),:sortable=>true, :width => "15%",:searchable=>true},
                       {:key=>"name",:label=>t(:name),:sortable=>true, :width => "20%",:searchable=>true},
                       {:key=>"description",:label=>t(:description),:sortable=>true},
                       {:key=>"status_code",:label=>t(:active),:sortable=>true,:formatter=>"Y.irm.template", :width => "40px"}],
                       {:search_box=>"rolesSearchBox",:paginator_box=>"rolesPaginatorBox"})%>
        <div id="rolesPaginatorBox"></div>
      </div>
    </div>
</div>