<%= setting_title %>

<%= form_for(@role,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_role_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @role%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_role_code)%></label></td>
              <td class="dataCol"><%= @role.role_code%></td>
              <td class="labelCol"><label><%=(t :name)%></label></td>
              <td class="dataCol"><%=f.text_field :name, :required=>true%></td>
            </tr>

            <tr>
              <td class="labelCol"><label><%=(t :label_irm_role_report_group_code)%></label></td>
              <td class="dataCol"><%=f.select :report_group_code, available_report_groups, {:include_blank => false},:required=>true,%></td>
              <td class="labelCol"><label><%=(t :label_irm_role_menu_code)%></label></td>
              <td class="dataCol"><%=f.select :menu_code, available_top_menu, {:include_blank => false},:required=>true%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_role_service_role_type)%></label></td>
              <td class="dataCol"><%=f.select :service_role_type, available_role_types, {:include_blank => false},:required=>true%></td>
              <td class="labelCol"><label><%=(t :label_irm_role_hidden_flag)%></label></td>
              <td class="dataCol"><%=f.check_box(:hidden_flag)%></td>
            </tr>
           <tr>

            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :description)%></label></td>
              <td class="dataCol"><%=f.text_area :description, :rows => 4%></td>
              <td class="labelCol"><label><%=(t :active)%></label></td>
              <td class="dataCol"><%=f.select :status_code, available_active_status, {:include_blank => false}%></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_function_list) %></h2></td>
              <td class="pbButton">
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <% @fgs.each do |group|%>
          <fieldset><legend><%= group[:name] %></legend>
          <% @fs[group[:group_code]].each do |func| %>
              <div  style="float:left;width:33%;"><label>
              <%= check_box_tag 'role[functions][]', func.id, @role_function_ids.include?(func.id) %>
              <%= func[:name] %>
              </label></div>
          <% end if @fs[group[:group_code]] %>
          </fieldset>
        <%end%>
      </div>
    </div>
</div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
