<%= setting_title %>
<style>
  fieldset{
      border:1px solid;
      margin: 5px;
  }
</style>
<%= form_for(@role,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_role_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @role%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_role_code)%></label></td>
              <td class="data2Col"><%= f.text_field :role_code, :required => true, :irm_uppercase => "true"%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :name)%></label></td>
              <td class="data2Col"><%=f.text_field :name, :required=>true%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_role_report_group_code)%></label></td>
              <td class="data2Col"><%=f.select :report_group_code, available_report_groups%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :description)%></label></td>
              <td class="data2Col"><%=f.text_area :description, :rows => 4%></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_menu_entry_list) %></h2></td>
              <td class="pbButton">
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <% @fgs.each do |group|%>
          <fieldset><legend><%= group[:name] %></legend>
          <% @fs[group[:group_code]].each do |func| %>
              <label>
              <%= check_box_tag 'role[functions][]', func.id, @role_function_ids.include?(func.id)||(@role_function_ids.size==0&&func.default_flag.eql?(Irm::Constant::SYS_YES)) %>
              <%= func[:name] %>
              </label>
          <% end %>
          </fieldset>
        <%end%>
      </div>
    </div>
</div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

