<%= fields_for(current_language_mail_template,:builder => LabellingFormBuilder) do |f| %>
         <div id="id_mail_template">
           <table class="paddedtable" cellspacing="0">
               <tbody>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_mail_template_entity_code)%>:
                      </td>
                      <td>
                        <%=f.select :entity_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                    options_from_collection_for_select(available_entity,:lookup_code,:wrap_meaning,@mail_template.entity_code),
                                                    {},{:disabled=>true}%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_mail_template_template_code)%>:
                      </td>
                      <td>
                        <%=f.text_field :template_code,:size=>30,:readonly=>"readonly"%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_mail_template_name)%>:
                      </td>
                      <td>
                        <%=f.text_field :name ,:value=>@mail_template[:name],:size=>45,:required=>true%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_mail_template_description)%>:
                      </td>
                      <td>
                        <%=f.text_field :description ,:value=>@mail_template[:description],:size=>80%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_mail_template_subject)%>:
                      </td>
                      <td>
                        <%=f.text_field :subject ,:value=>@mail_template[:subject],:size=>45,:required=>true%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_mail_template_from)%>:
                      </td>
                      <td>
                        <%=f.text_field :from ,:size=>45,:required=>true%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_mail_template_template_type)%>:
                      </td>
                      <td>
                        <%=f.radio_button :template_type,"html"%><%=t(:label_irm_mail_html_template_type)%>
                        <%=f.radio_button :template_type,"simple"%><%=t(:label_irm_mail_simple_template_type)%>
                      </td>
                  </tr>
                  <tr>
                     <td class="paddedtablelabel"><%=t(:label_irm_mail_template_mail_body)%>:
                     </td>
                     <td>
                       <%=f.text_area :mail_body ,:value=>@mail_template[:mail_body],:cols => 85, :rows => 15,:required=>true%>
                     </td>
                  </tr>
           </tbody>
         </table>
        </div>
      <% end %>