<%= setting_title %>
<%= form_for(@mail_template,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_mail_template_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @mail_template%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
          <span class="requiredLegend">
            <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
            </span>
          <span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
          </span>
      </span>
      <h3><%=t(:label_irm_mail_template_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_entity_code)%></label></td>
              <td class="data2Col"><%=f.select :context_code,nullable_options_for_select(available_script_contexts,@mail_template.context_code),
                                                    {},{:required=>true}%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_template_code)%></label></td>
              <td class="data2Col"><%=f.text_field :template_code,:size=>30,:required=>true,:irm_uppercase=>true %></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_from)%></label></td>
              <td class="data2Col"><%=f.text_field :from ,:size=>45,:required=>true%></td>
            </tr>            
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_name)%></label></td>
              <td class="data2Col"><%=f.text_field :name ,:size=>45,:required=>true%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_description)%></label></td>
              <td class="data2Col"><%=f.text_field :description ,:size=>80%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_subject)%></label></td>
              <td class="data2Col"><%=f.text_field :subject ,:size=>45,:required=>true%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_template_type)%></label></td>
              <td class="data2Col"><%=f.radio_button :template_type,"html",:checked => true%><%=t(:label_irm_mail_html_template_type)%>
                    <%=f.radio_button :template_type,"simple"%><%=t(:label_irm_mail_simple_template_type)%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_mail_body)%></label></td>
              <td class="data2Col" colspan="3"><%=f.text_area :mail_body ,:cols => 85, :rows => 15,:required=>true%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>


