<style type="text/css">
  .controls {
    display: inline-block;
  }
  .controlTitle {
    background-color: #EAEAEA;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px 1px 0;
    font-size: 0.85em;
    font-weight: bold;
    padding: 5px 8px;
  }
  .controlItems {
      background-color: #FFFFFF;
      border: 1px solid #AAAAAA;
      padding: 5px 8px;
      white-space: nowrap;
  }
  div.controlItems th {
      font-weight: bold;
  }
</style>
<%= setting_title %>
<%= form_for(@mail_template,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_mail_template_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @mail_template%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
          <span class="requiredLegend">
            <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
            </span>
          <span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
          </span>
      </span>
      <h3><%=t(:label_irm_mail_template_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_template_code)%></label></td>
              <td class="data2Col"><%=f.text_field :template_code,:size=>30,:required=>true,:irm_uppercase=>true %></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_name)%></label></td>
              <td class="data2Col"><%=f.text_field :name ,:size=>45,:required=>true%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_description)%></label></td>
              <td class="data2Col"><%=f.text_field :description ,:size=>80%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_template_type)%></label></td>
              <td class="data2Col"><%=f.radio_button :template_type,"html",:checked => true%><%=t(:label_irm_mail_html_template_type)%>
                    <%=f.radio_button :template_type,"simple"%><%=t(:label_irm_mail_simple_template_type)%></td>
            </tr>
            <tr>
              <td class="labelCol"></td>
              <td class="data2Col">
                <div class="controls">
	              <div class="controlTitle">
	              	<%= t(:label_irm_mail_template_parameter_field) %>
	              </div>
                  <div class="controlItems">
                    <table>
                      <tr>
                        <th><%= t(:label_irm_mail_template_parameter_bo) %></th>
                        <th><%= t(:label_irm_mail_template_parameter_field_name) %></th>
                        <th><%= t(:label_irm_mail_template_parameter_field_key) %></th>
                      </tr>
                      <tr>
                        <td><%=blank_select_tag :parameter_bo,available_business_object,{}, {:id=>"parameter_bo",:required=>true}%></td>
                        <td><%=blank_select_tag(:parameter_field_name,[],nil,
                                  {:id=>"parameter_field_name",
                                   :href=>url_for(:controller=>"irm/object_attributes",:action=>"all_columns",:format=>"json",:business_object_code=>"{parameter_bo}"),
                                   :depend=>"parameter_bo",
                                   }) %></td>
                        <td><%= text_field_tag(:parameter_field_key,"",{:id=>"parameter_field_key",:size=>40}) %></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_subject)%></label></td>
              <td class="data2Col"><%=f.text_field :subject ,:size=>80,:required=>true%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_mail_template_mail_body)%></label></td>
              <td class="data2Col" colspan="3"><%=f.text_area :mail_body ,:cols => 85, :rows => 15,:required=>true%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<script type="text/javascript">
  GY.use("cascadeselect",function(Y){
     new Y.CascadeSelect({source: "#parameter_bo",target:["#parameter_field_name"]});
     Y.one("#parameter_field_name").on("change",function(e){
         if(e.target.get("value")&&e.target.get("value")!=""){
           var option = e.target.one("option[value="+e.target.get("value")+"]");
           Y.one("#parameter_field_key").set("value","{{"+option.getAttribute("business_object_code").toLowerCase()+"."+e.target.get("value")+"}}")
         }
         else
           Y.one("#parameter_field_key").set("value","")
     });
  });
</script>


