<h1>Listing survey_subjects</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @survey_subjects.each do |survey_subject| %>
  <tr>
    <td><%= survey_subject.name %></td>
    <td><%= link_to 'Show', survey_subject %></td>
    <td><%= link_to 'Edit', edit_survey_subject_path(survey_subject) %></td>
    <td><%= link_to 'Destroy', survey_subject, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey subject', new_survey_subject_path %>
