<style type="text/css">
  select{
      min-width:128px;
  }
  .yui-skin-sam .yui-toolbar-container div.yui-toolbar-subcont{
    border-bottom-width: 1px;
    padding-bottom: 0;
    padding-left: 1px;
  }
</style>
<%= form_for(@incident_request,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_icm_incident_request_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @incident_request %>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label for="incident_request_service_code"><%=t(:label_icm_incident_request_service_code)%></label></td>
              <td class="dataCol"><%=f.blank_select :service_code,available_service,
                                                    {},{:required=>true,:id=>"incident_request_service_code"}%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>

        </tbody>
      </table>
    </div>
    <div id="head_2_ep" class="pbSubheader tertiaryPalette">
      <h3><%= t(:label_icm_incident_requset_base_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label for="incident_request_title"><%=t(:label_icm_incident_request_title)%></label></td>
              <td class="dataCol" colspan="3" style="width:82%"><%=f.text_field :title,:size=>80, :required=>true ,:id=>"incident_request_title"%></td>
            </tr>

            <tr>
              <td class="labelCol"><label for="incident_request_summary"><%=t(:label_icm_incident_request_summary)%></label></td>
              <td class="dataCol" colspan="3" style="width:82%"><%=f.text_area :summary,:rows=>5,:cols=>100, :required=>true ,:style=>"display:none;",:id=>"incident_request_summary"%></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div id="head_3_ep" class="pbSubheader tertiaryPalette">
      <h3><%= t(:label_icm_incident_requset_addition_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>

              <% if allow_to_function?(:create_icdt_rqst_for_other) %>
              <tr>
                <td class="labelCol"><label for="incident_request_requested_by"><%=t(:label_icm_incident_request_requested_by)%></label></td>
                <td class="dataCol"><%=f.blank_select :requested_by,available_person,
                                                      {},{:required=>true,:id=>"incident_request_requested_by"}%></td>
                <td class="labelCol empty">&nbsp;</td>
                <td class="dataCol empty">&nbsp;</td>
              </tr>
              <% else %>
                <%= f.hidden_field(:requested_by,:value=>Irm::Person.current.id) %>
              <% end %>

            <tr>
                <td class="labelCol"><label for="incident_request_contact_id"><%=t(:label_icm_incident_request_contact)%></label></td>
                <td class="dataCol">
                  <div style="display:inline">
                    <%=f.blank_select :contact_id,available_contact,
                                                        {},{:required=>true,:id=>"incident_request_contact_id"}%>
                  </div>
                </td>
                <td class="labelCol"><label for="incident_request_contact_number"><%=t(:label_icm_incident_request_contact_number)%></label></td>
                <td class="dataCol">
                  <%=f.text_field :contact_number,:size=>17,:id=>"incident_request_contact_number",:required=>true%>
                </td>

            </tr>
            <tr>
              <td class="labelCol"><label for="incident_request_urgence_code"><%=t(:label_icm_incident_request_urgence_code)%></label></td>
              <td class="dataCol">
                <%=f.select :urgence_code,available_urgence_code,{},{:required=>true,:id=>"incident_request_urgence_code"}%>
              </td>
              <td class="labelCol"><label for="incident_request_impact_range_code"><%=t(:label_icm_incident_request_impact_range_code)%></label></td>
              <td class="dataCol">
                <%=f.select :impact_range_code,available_impact_range,
                                                    {},{:required=>true,:id=>"incident_request_impact_range_code"}%>
              </td>
            </tr>
          <% if allow_to_function?(:assign_incident_request) %>
            <tr>
              <td class="labelCol"><label for="incident_request_support_group_id"><%=t(:label_icm_incident_request_support_group)%></label></td>
              <td class="dataCol">
                <%=f.blank_select :support_group_id,available_support_group,
                                                    {},{:id=>"incident_request_support_group_id"}%>
              </td>
              <td class="labelCol"><label for="incident_request_support_person_id"><%=t(:label_icm_incident_request_support_person)%></label></td>
              <td class="dataCol"><%= f.blank_select(:support_person_id,available_supporter(@incident_request.support_group_id||0),{},
                                  {
                                   :id=>"incident_request_support_person_id",
                                   :href=>url_for(:controller=>"irm/support_group_members",:action=>"get_options",:format=>"json",:group_id=>"{incident_request_support_group_id}"),
                                   :depend=>"incident_request_support_group_id"
                                   }) %></td>

            </tr>
          <%end%>
          <% if allow_to_function?(:create_icdt_rqst_for_other) %>
            <tr>
              <td class="labelCol"><label for="incident_request_request_type_code"><%=t(:label_icm_incident_request_request_type_code)%></label></td>
              <td class="dataCol">
                <%=f.blank_select :request_type_code,available_request_type,
                                                    {},{:required=>true,:id=>"incident_request_request_type_code"}%>
              </td>
              <td class="labelCol"><label for="incident_request_incident_status_code"><%=t(:label_icm_incident_request_incident_status_code)%></label></td>
              <td class="dataCol">
                <%=f.select :incident_status_code,options_for_select(available_request_status_code,@incident_request.incident_status_code),
                                                    {},{:required=>true,:id=>"incident_request_incident_status_code"}%>
              </td>
            </tr>

            <tr>
              <td class="labelCol"><label for="incident_request_report_source_code"><%=t(:label_icm_incident_request_report_source_code)%></label></td>
              <td class="dataCol">
                <%=f.select :report_source_code,nullable_options_for_select(available_request_report_source,@incident_request.report_source_code),
                                                    {},{:required=>true,:id=>"incident_request_report_source_code"}%>
              </td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
         <%end%>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<script type="text/javascript">
  GY.use("cascadeselect",function(Y){
     var requester = Y.one("#incident_request_requested_by");
     if(requester){
         requester.on("change",function(e){
             Y.one("#incident_request_contact_id").set("value",e.target.get("value"));
             Y.one("#incident_request_contact_id").simulate('change');
         })
     }
     if(Y.one("#incident_request_contact_id")){
         Y.one("#incident_request_contact_id").on("change",function(e){
           if(e.target.get("value")&&e.target.get("value")!=""){
             var phone = e.target.one("option[value="+e.target.get("value")+"]").getAttribute("phone")
             Y.one("#incident_request_contact_number").set("value",phone)
           }
         })
     }
     if(Y.one("#incident_request_support_group_id")){
       new Y.CascadeSelect({source: "#incident_request_support_group_id",target:["#incident_request_support_person_id"]});
     }

  });
</script>
<script type="text/javascript">

GY.use('irm','node','substitute','yui2-editor', function(Y) {
  var YAHOO = Y.YUI2;
  var editor = new YAHOO.widget.Editor('incident_request_summary', {
        height:'100px',
        width:'80%',
        toolbar: {
            buttons: [
                { group: 'textstyle',
                    buttons: [
                        { type: 'push', label: 'Bold', value: 'bold' },
                        { type: 'push', label: 'Italic', value: 'italic' },
                        { type: 'push', label: 'Underline', value: 'underline' },
                        { type: 'push', label: 'Create an Unordered List', value: 'insertunorderedlist' },
	                    { type: 'push', label: 'Create an Ordered List', value: 'insertorderedlist' },
                        { type: 'color', label: 'Font Color', value: 'forecolor', disabled: true },
                        { type: 'color', label: 'Background Color', value: 'backcolor', disabled: true }
                    ]
                }
            ]
        }
    });
    editor.render();
    Y.one("#edit_icm_incident_request").on("submit",function(){
      editor.saveHTML();
    });
});
</script>