<%= app_title %>
<% if Irm::Role.current&&Irm::Role.current.service_role_type.eql?("CUSTOMER") %>
  <%= view_filter("ICM_INCIDENT_REQUEST_INDEX_B","incident_requests") %>
<% else %>
  <%= view_filter("ICM_INCIDENT_REQUEST_INDEX_A","incident_requests") %>
<% end %>

<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_icm_incident_request_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="incident_requestsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

        <% if Irm::Role.current&&Irm::Role.current.service_role_type.eql?("CUSTOMER") %>
          <%=render(:partial =>"customer_list") %>
        <% else %>
          <%=render(:partial =>"help_desk_list") %>
        <% end %>
    </div>
</div>

<%= render "/irm/report_lists/report_category",{:category_code=>"INCIDENT_REQUEST",:options=>{:report_purpose=>"REPORT"}} %>

<% content_for :sidebar do%>
    <%= render :partial =>"/icm/incident_requests/short_cut_new" %>
<% end %>