<%= app_show_title(:show_data => @incident_request[:title]) %>

<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_incident_request) %>:<%=@incident_request[:title]%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @incident_request}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pbBody">
    <div class="pbSubheader tertiaryPalette">
      <h3>状态信息<span class="titleSeparatingColon">:</span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_incident_phase_code)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:incident_phase_name] %></div></td>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_incident_status_code)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:incident_status_name] %></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_submitted_by)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:submitted_name] %></div></td>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_submitted_date)%></label></td>
              <td class="dataCol"><div><%= format_date(@incident_request[:submitted_date]) %></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_support_group)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:support_group_name] %></div></td>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_support_person)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:support_person_name] %></div></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="pbSubheader tertiaryPalette">
      <h3>基本信息<span class="titleSeparatingColon">:</span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_service_code)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:service_name] %></div></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_title)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:title] %></div></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_requested_by)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:requested_name] %></div></td>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_contact)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:contact_name] %>(<%= @incident_request[:contact_number] %>)</div></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_priority)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:priority_name] %></div></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_urgence_code)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:urgence_name] %></div></td>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_impact_range_code)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:impact_range_name] %></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_request_type_code)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:request_type_name] %></div></td>
              <td class="labelCol"><label ><%=t(:label_icm_incident_request_report_source_code)%></label></td>
              <td class="dataCol"><div><%= @incident_request[:report_source_name] %></div></td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<button id="showhtml" value="xxx">show</button>
<div id="editor_cont">
    <div id="editor" style="width:400px;"></div>
</div>
<script type="text/javascript">

GY.use('node','yui2-editor', function(Y) {
  var YAHOO = Y.YUI2;
  var editor = new YAHOO.widget.Editor('editor', {
        autoHeight: true,
        height:'200px',
        width:'400px',
        toolbar: {
            buttons: [
                { group: 'textstyle',
                    buttons: [
                        { type: 'push', label: 'Bold', value: 'bold' },
                        { type: 'push', label: 'Italic', value: 'italic' },
                        { type: 'push', label: 'Underline', value: 'underline' },
                        { type: 'push', label: 'Create an Unordered List', value: 'insertunorderedlist' },
	                    { type: 'push', label: 'Create an Ordered List', value: 'insertorderedlist' },
                        { type: 'color', label: 'Font Color', value: 'forecolor', disabled: true },
                        { type: 'color', label: 'Background Color', value: 'backcolor', disabled: true }
                    ]
                }
            ]
        }
    });
    Y.log(editor.get("iframe"));
    editor.render();
    Y.one("#editor_cont").on("keydown",function(e){
        Y.log(e);
    });
    Y.one("#showhtml").on("click",function(e){
        //editor.get("iframe").get('element').setAttribute('scrolling', '"auto"');
        //alert(editor.getEditorHTML());
        alert(Y.one(".yui-editor-editable-container").getContent());
    })
});
</script>

<% content_for :sidebar do%>
    <%= render :partial =>"/icm/incident_requests/short_cut_new" %>
    <%= render :partial =>"/irm/watchers/sidebar_watcher_list", :locals => {:watchable => @incident_request} %>
<% end %>
