<%= page_title %>

<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= @business_object[:name] %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @business_object}%></div>
            <div class="button"><%= link_to t(:test), {:action => "execute_test",:format=>:js},{:remote=>true}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_business_object_code)%></label></td>
              <td class="dataCol"><%= @business_object.business_object_code %></td>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_name)%></label></td>
              <td class="dataCol"><%= @business_object[:name] %></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_bo_table_name)%></label></td>
              <td class="dataCol"><%= @business_object.bo_table_name %></td>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_bo_model_name)%></label></td>
              <td class="dataCol"><%= @business_object.bo_model_name %></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_auto_generate_flag)%></label></td>
              <td class="dataCol"><%= check_img(@business_object.auto_generate_flag) %></td>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_multilingual_flag)%></label></td>
              <td class="dataCol"><%= check_img(@business_object.multilingual_flag) %></td>
            </tr>
            <tr>
              <td class="labelCol"><label ><%=t(:label_irm_business_object_workflow_flag)%></label></td>
              <td class="dataCol"><%= check_img(@business_object.workflow_flag) %></td>
              <td class="labelCol"><div></div></td>
              <td class="dataCol"><div></div></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="executeTest"></div>

<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_object_attributes) %></h2></td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:new), {:controller => "irm/object_attributes", :action => "new", :bo_id => @business_object.id}%></div>
              </td>
              <td class="pbHelp">
                <div id="object_attributesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="object_attributes" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:controller => "irm/object_attributes", :action => "edit", :bo_id => @business_object.id,:id=>"{id}"}) %>
            <%= link_to(t(:show),{:controller => "irm/object_attributes", :action => "show", :bo_id => @business_object.id,:id=>"{id}"}) %>
            <%= link_to(t(:delete),{:controller => "irm/object_attributes", :action => "destroy", :bo_id => @business_object.id,:id=>"{id}"},{:method => :delete}) %>
          </div>
          <div id="approval_page_field_flag" style="display:none">
            <%= check_img("{approval_page_field_flag}") %>
          </div>
          <div id="filter_flag" style="display:none">
            <%= check_img("{filter_flag}") %>
          </div>
        </div>
        <%= datatable("object_attributes",url_for(:controller => "irm/object_attributes", :action => "get_data", :bo_id => @business_object.id,:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"110px"},

                       { :key => "name", :label => t(:label_irm_object_attribute_name),:searchable=>true,:width=>"200px" },

                       { :key => "attribute_name", :label => t(:label_irm_object_attribute_attribute_name),:searchable=>true},

                       { :key => "attribute_type_name", :label => t(:label_irm_object_attribute_attribute_type)},
                       { :key => "data_type", :label => t(:label_irm_object_attribute_data_type)},
                       { :key => "data_length", :label => t(:label_irm_object_attribute_data_length)},
                       { :key => "filter_flag",:formatter=>"Y.irm.template", :label => t(:label_irm_object_attribute_filter_flag)},

                       { :key => "approval_page_field_flag",:formatter=>"Y.irm.template", :label => t(:label_irm_object_attribute_approval_page_field_flag)}


                       ],{:paginator_box=>"object_attributesPaginator",:search_box=>"object_attributesSearchBox"})%>
        <div id="object_attributesPaginator"></div>
      </div>
    </div>
</div>

<%=render :partial=>"multilingual/show",:locals=>{:main_data=>@business_object} %>
