   <div id="auth_source_edit">
     <%= form_for(@auth_source,:url=>{:action=>"update", :id => @auth_source},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_auth_source_edit)%> - <%= @auth_source.name%></div>
                </div>
                <table class="twocolumnstable" cellspacing="0">
                    <tr>
                        <td class="twocolumn">
                           <table class="itemdetailtable">
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_auth_source_name)%>:</td>
                              <td><%=f.text_field :name, :required=>true%></td>
                            </tr>                             
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_auth_source_host)%>:</td>
                              <td><%=f.text_field :host%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_auth_source_port)%>:</td>
                              <td><%=f.text_field :port,:irm_numberonly=>true%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :status)%>:</td>
                                <td><%=f.select :status_code, available_active_status, {:include_blank => false}%></td>
                            </tr>
                           </table>
                        </td>
                        <td class="twocolumn" cellspacing="0">
                           <table class="itemdetailtable">
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_auth_source_account)%>:
                                   </td>
                                   <td><%= f.text_field :account%></td>
                               </tr>
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_auth_source_account_password)%>:
                                   </td>
                                   <td><%= f.text_field :account_password%></td>
                               </tr>
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_auth_source_base_dn)%>:
                                   </td>
                                   <td><%= f.text_field :base_dn%></td>
                               </tr>
                           </table>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>
                <table class="twocolumnstable" cellspacing="0">
                    <tr>
                        <td class="twocolumn">
                           <table class="itemdetailtable">
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_auth_source_attr_login)%>:</td>
                              <td><%=f.text_field :attr_login%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_auth_source_attr_email)%>:</td>
                              <td><%=f.text_field :attr_email%></td>
                            </tr>
                           </table>
                        </td>
                        <td class="twocolumn" cellspacing="0">
                           <table class="itemdetailtable">
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_auth_source_attr_firstname)%>:
                                   </td>
                                   <td><%= f.text_field :attr_firstname%></td>
                               </tr>
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_auth_source_attr_lastname)%>:
                                   </td>
                                   <td><%= f.text_field :attr_lastname%></td>
                               </tr>
                           </table>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>         
                <div class="containerfooter">
                    <div class="button floatright" ><%= link_to t(:save), {}, {:action_type => "ajaxSubmit", :script => "/replace(system_message_box,system_message_box);reload_grid('auth_sources_grid');/replace(system_message_box,system_message_box);"}%></div>
                    <div class="button floatright"><%= link_to t(:cancel), {:action => "new"}, :script => "/replace(container1,auth_source_new);/", :action_type=>"ajaxLink"%></div>
                </div>
     <% end %>
   </div>
