    <div id="data_area">
        <div class="containerheader">
           <div class="floatleft headertitle"><%=t(:label_irm_product_module_list)%></div>
        </div>
        <div id="product_modules_grid" class="datagrid"
            action_type="ajaxDhtmlxGrid"
            grid_header=" , <%=t(:label_irm_product_module_product_short_name)%>,<%=t(:label_irm_product_module_name)%>,
            <%=t(:label_irm_product_module_description)%>,<%=t(:label_irm_product_module_installed_flag)%>,<%=t(:active)%>,<%=t(:multilingual)%>"
            grid_width="20,100,100,200,80,80,50"
            grid_col_types="ra,ro,ro,ro,ro,ro,link"
            grid_onRowDblClicked="dblClickHandler"
            grid_OnRowSelected="rowSelectedHandler"
            grid_paging_skin="bricks"
            enable_paging="true, 15, null, 'pagingArea', true, 'infoArea'"
            grid_load="'<%= url_for(:action => "get_data", :controller => "irm/product_modules", :format=>:json) %>',function(){init('#product_modules_grid');},'json'">
        </div>
        <span id="infoArea"></span>
        <span id="recfound"></span>
        <script>
            function dblClickHandler(rId, cInd){
                processDblClicked("container1","product_module_edit","<%= url_for(:action => "edit", :controller => "irm/product_modules", :id => ":id") %>", rId);
            }
            function rowSelectedHandler(id, ind){
                dhtmlx_grid_array['product_modules_grid'].cells(id, 0).setValue("1");
            }
        </script>
        <div class="containerfooter">
          <div class="floatleft"><span id="pagingArea"></span></div>
        </div>

    </div>