    <div id="data_area" class="container">
        <div class="containerheader">
           <div class="floatleft headertitle"><%=t(:label_irm_product_module_list)%></div>
        </div>
        <div id="product_modules_grid" class="datagrid" style="width:100%;height:200px;background-color:white;"
            action_type="ajaxDhtmlxGrid"
            grid_header=" , <%=t(:label_irm_product_module_product_short_name)%>,<%=t(:label_irm_product_module_name)%>,
            <%=t(:label_irm_product_module_description)%>,<%=t(:label_irm_product_module_installed_flag)%>,<%=t(:active)%>,<%=t(:multilingual)%>"
            grid_width="20,100,100,200,80,80,50"
            grid_col_types="ch,link,ro,ro,ro,ro,link"
            grid_load="'<%= url_for(:action => "get_data", :controller => "irm/product_modules", :format=>:json) %>',function(){init('#product_modules_grid');},'json'">
        </div>
            <div class="containerfooter">
            <%= form_tag( :controller => 'irm/product_modules', :action => 'enable') do %>
                <%=hidden_field_tag 'enable_list' %>
                <div class="button floatright"><%= link_to t(:enable), {}, {:action_type => "ajaxSubmit", :script => "", :onclick => "$('#enable_list').attr('value', dhtmlx_grid_array['product_modules_grid'].getCheckedRows(0));"}%></div>
            <% end %>                  
            <%= form_tag( :controller => 'irm/product_modules', :action => 'disable') do %>
                <%=hidden_field_tag 'disable_list' %>
                <div class="button floatright"><%= link_to t(:disable), {}, {:action_type => "ajaxSubmit", :script => "", :onclick => "$('#disable_list').attr('value', dhtmlx_grid_array['product_modules_grid'].getCheckedRows(0));"}%></div>
            <%  end %>
            </div>

    </div>