<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_product_module_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="productModulesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="product_modules_list" class="datatable" style="width:100%">
          <div id="installed_flag" style="display:none">
            <%= check_img("{installed_flag}") %>
          </div>          
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>
        </div>
        <%= datatable("product_modules_list",url_for(:action=>"get_data",:format=>"json"),
                  [{:key=>"product_short_name",:label=>t(:label_irm_product_module_product_short_name),:sortable=>true, :width => "15%",:searchable=>true},
                   {:key=>"name",:label=>t(:label_irm_product_module_name),:sortable=>true, :width => "30%",:searchable=>true},
                   {:key=>"description",:label=>t(:label_irm_product_module_description),:sortable=>true},
                   {:key=>"installed_flag",:label=>t(:label_irm_product_module_installed_flag),:sortable=>true,:formatter=>"Y.irm.template", :width => "40px"},
                   {:key=>"status_code",:label=>t(:active),:sortable=>true,:formatter=>"Y.irm.template", :width => "40px"}],
                   {:search_box=>"productModulesSearchBox"})%>
      </div>
    </div>
</div>