    <%= form_for(@product_module,:url=>{:action=>"create"}) do |f| %>
       <div class="container">
                    <div class="containerheader">
                    	<div class="floatleft headertitle"><%=t(:label_irm_product_module)%></div>
                    </div>
                    <table class="twocolumnstable" cellspacing="0">
                    	<tr>
                        	<td class="twocolumn">
                               <table class="itemdetailtable">
                               	<tr><td class="itemdetailtablelabel"><%=(t :label_irm_product_module_product_short_name)%>:</td>
                                    <td><%=f.text_field :product_short_name,:size=>40,:required=>true,:irm_uppercase=>true %></td>
                                </tr>
                                <tr><td class="itemdetailtablelabel"><%=(t :label_irm_product_module_name)%>:</td>
                                  <td><%=f.text_field :name ,:size=>40,:required=>true%></td>
                                </tr>
                                <tr><td class="itemdetailtablelabel"><%=(t :label_irm_product_module_installed_flag)%>:</td>
                                  <td><%=f.check_box :installed_flag%></td>
                                </tr>
                               </table>
                            </td>
                        	<td class="twocolumn" cellspacing="0">
                               <table class="itemdetailtable">
                                <div id="id_lookup_level">
                               	<tr><td class="itemdetailtablelabel">
                               	      <%=t(:label_irm_product_module_description)%>:
                                   </td>
                                   <td><%= f.text_area :description, :cols => 40, :rows => 2%></td>
                                </tr>
                                </div>
                               </table>
                            </td>
                            <td width="10%"></td>
                        </tr>
                    </table>
                    <div class="containerfooter">
                    	<div class="button floatright" ><a id="id_submit" href="<%=url_for(:controller=>"irm/product_modules",:action=>"create")%>" script="/alert('message['successMessage']');after_save_lookup_type();/" actionType="ajaxSubmit"><%= t(:save) %></a></div>
                        <div class="button floatright"><a href="javascript:void(0);"><%= t(:cancel) %></a></div>
                    </div>
          </div>
    <% end %>
