<div id="form_area" class="container">
     <%= form_for(@product_module,:url=>{:action=>"create"}) do |f| %>
            <div class="containerheader">
                <div class="floatleft headertitle"><%=t(:label_irm_product_module_new)%></div>
            </div>
            <table class="twocolumnstable" cellspacing="0">
                <tr>
                    <td class="twocolumn">
                       <table class="itemdetailtable">
                        <tr><td class="itemdetailtablelabel"><%=(t :label_irm_product_module_product_short_name)%>:</td>
                            <td><%=f.text_field :product_short_name,:size=>40,:required=>true,:irm_uppercase=>true %></td>
                        </tr>
                        <tr><td class="itemdetailtablelabel"><%=(t :label_irm_product_module_name)%>:</td>
                          <td><%=f.text_field :name ,:size=>40,:required=>true%></td>
                        </tr>
                        <tr><td class="itemdetailtablelabel"><%=(t :label_irm_product_module_installed_flag)%>:</td>
                          <td><%=f.check_box :installed_flag%></td>
                        </tr>
                       </table>
                    </td>
                    <td class="twocolumn" cellspacing="0">
                       <table class="itemdetailtable">
                        <div id="id_lookup_level">
                        <tr><td class="itemdetailtablelabel">
                              <%=t(:label_irm_product_module_description)%>:
                           </td>
                           <td><%= f.text_area :description, :cols => 40, :rows => 2%></td>
                        </tr>
                        </div>
                       </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
            <div class="containerfooter">
                <div class="button floatright" ><%= link_to t(:new), {}, {:action_type => "ajaxSubmit", :script => "//"}%></div>
                <div class="button floatright"><%= link_to t(:cancel), {:action => "new"}, :script => "/replace(form_area,form_area);/", :action_type=>"ajaxLink"%></div>
            </div>
     <% end %>
</div>
