<% if wf_mail_alert.wf_mail_recipients.any? %>
  <tr>
    <td class="labelCol">&nbsp;</td>
    <td class="dataCol" colspan="3" width="82%">
      <fieldset>
        <legend>
            <%= t(:label_irm_wf_mail_alert_selected_recipients) %>
        </legend>
        <div id="recipientsDiv" count="<% wf_mail_alert.wf_mail_recipients.size %>" notice="<%= t(:label_irm_wf_mail_alert_recipient_notice) %>">
          <% wf_mail_alert.wf_mail_recipients.each_with_index do |r,index| %>
            <div class="recipientElement" ref="<%= r.ref  %>" type="<%= r.ref  %>">
              <span><%= r.label  %></span>
              <a href="javascript:void(0);" ref="<%= r.ref  %>" class="deleteRecipient"><img class="btn_delete" src="/images/s.gif"/></a>
              <input type="hidden" name="recipients[<%= index  %>]" value="<%= r.ref  %>">
            </div>
          <% end %>
        </div>
        <div class="message" style="clear:both;"><label><%= t(:label_irm_wf_mail_alert_recipient_notice) %></label></div>
      </fieldset>
    </td>
  </tr>
<% else %>
  <tr>
    <td class="labelCol">&nbsp;</td>
    <td class="dataCol" colspan="3" width="82%">
      <fieldset>
        <legend>
            <%= t(:label_irm_wf_mail_alert_selected_recipients) %>
        </legend>
        <div id="recipientsDiv" count="0" notice="<%= t(:label_irm_wf_mail_alert_recipient_notice) %>">

        </div>
        <div class="message" style="clear:both;"><label><%= t(:label_irm_wf_mail_alert_recipient_notice) %></label></div>
      </fieldset>
    </td>
  </tr>
<% end %>