<div class="container">
 <br>
<table class="twocolumnstable" cellspacing="0">
                <tr>
                    <td class="twocolumn">
                       <table class="itemdetailtable">
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_company_time_zone)%>:</td>
                            <td><%=f.select :time_zone,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_time_zone,:lookup_code,:wrap_meaning,company_info.time_zone)%></td>
                        </tr>
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_company_hotline)%>:</td>
                            <td><%=f.text_field :hotline,:value=>company_info.hotline,:size=>40%></td>
                        </tr>
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_company_cost_center)%>:</td>
                            <td><%=f.text_field :cost_center_code,:value=>company_info.cost_center_code,:size=>40 %></td>
                        </tr>
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_company_home_page)%>:</td>
                            <td><%=f.text_field :home_page,:value=>company_info.home_page,:size=>40%></td>
                        </tr>
                       </table>
                    </td>
                    <td class="twocolumn" cellspacing="0">
                       <table class="itemdetailtable">
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_company_status_code)%>:</td>
                            <td><%=f.select :status_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_status,:lookup_code,:wrap_meaning,company_info.status_code)%></td>
                        </tr>
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_company_currency_code)%>:</td>
                            <td><%=f.select :currency_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_currency,:currency_code,:wrap_name,company_info.currency_code)%></td>
                        </tr>
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_company_budget_code)%>:</td>
                            <td><%=f.text_field :budget_code,:value=>company_info.budget_code,:size=>40%></td>
                        </tr>
                       </table>
                    </td>
                    <td width="10%"></td>
                </tr>
                <tr>

                </tr>
            </table>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="containerfooter">
           <div class="button floatright" ><%= link_to t(:save), {:controller=>"irm/companies",:action=>"update"}, {:action_type => "ajaxSubmit", :script => "/reload_grid('id_company_grid');replace(system_message_box,system_message_box);/replace(system_message_box,system_message_box);"}%></div>
           <div class="button floatright"><%= link_to t(:cancel), {:action => "index"}, :script => "/replace(id_company_index,id_company_index);/", :action_type=>"ajaxLink"%></div>
      </div>
</div>