    <div id="id_company_list" class="container">
        <div class="containerheader">
           <div class="floatleft headertitle"><%=t(:label_irm_company_list)%></div>
        </div>
        <div id="id_company_grid" class="datagrid"
        action_type="ajaxDhtmlxGrid"
        grid_header=" , <%=t(:label_irm_company_company_type)%>, <%=t(:label_irm_company_company_short_name)%>,<%=t(:label_irm_company_name)%>,<%=t(:label_irm_company_description)%>,<%=t(:label_irm_company_status_code)%>,<%=t(:multilingual)%>"
        grid_width="20,100,100,100,150,100,100"
        grid_col_types="ra,ro,ro,ro,ro,ro,link"
        grid_align="center,left,left,left,left,center,left"
        grid_onRowDblClicked="doOnRowDblClicked"
        grid_checkbox="selectRowAndRadio"
        grid_OnRowSelected="selectRowAndRadio"
        grid_load="'<%= url_for(:action => "get_data", :controller => "irm/companies",:format=>:json) %>','','json'">
        </div>
        <script type="text/javascript" charset="utf-8">
        function doOnRowDblClicked(rowId,cInd){
           replaceLink(rowId);
        }
        function selectRowAndRadio(rowId){
            replaceLink(rowId);
            doSelectRowAndCheckRadio("id_company_grid",rowId)
        }
        function replaceLink(rowId){
           var action_temp="";
           if(rowId!=null&&rowId!=undefined){
              action_temp = "<%=url_for(:controller=>"irm/companies",:action=>"edit",:id=>":id")%>".replace(":id",rowId);
              $("#id_edit_company").attr("href",action_temp);
           }
        }
        </script>
            <div class="containerfooter">
              <div class="button floatright">
                <%= link_to t(:edit), {:controller=>"irm/companies",:action => "edit",:id=>":id"}, :script => "/replace(id_company_index,id_company_edit);/", :action_type=>"ajaxLink",:id=>"id_edit_company"%>
              </div>
            </div>
    </div>