  <div id="id_company_edit">
  <div class="container">     
     <%= form_for(@company,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_company_edit)%> - <%= @company.short_name%></div>
                </div>
                <table class="paddedtable" cellspacing="0">
                <tbody>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_company_company_short_name)%>:
                      </td>
                      <td>
                        <%=f.text_field :short_name, :readonly=>"readonly"%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_company_name)%>:
                      </td>
                      <td>
                        <%=f.text_field :name ,:value=>@company[:name], :required=>true%>
                      </td>
                  </tr>
                  <tr>
                       <td class="paddedtablelabel"><%=(t :label_irm_company_company_type)%>:</td>
                       <td><%=f.select :company_type,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                          options_from_collection_for_select(available_company_type,:lookup_code,:wrap_meaning,@company.company_type)%></td>
                  </tr>
                  <tr>
                       <td class="paddedtablelabel"><%=(t :label_irm_company_status_code)%>:</td>
                       <td><%=f.select :status_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                          options_from_collection_for_select(available_status,:lookup_code,:wrap_meaning,@company.status_code)%></td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_company_description)%>:
                      </td>
                      <td>
                        <%=f.text_field :description ,:value=>@company[:description]%>
                      </td>
                  </tr>
                </tbody>
                </table>

                <div id="id_company_tabbar" style="width:auto; height:295px;"
                 action_type="ajaxDhtmlxTabbar"
                 tabbar_skin="dhx_skyblue"
                 tabbar_image_path="/themes/default/images/dhtmlx/"
                 tabbar_a1_params="'a1', '<%=t(:label_irm_company_base_info)%>', '100px'"
                 tabbar_a2_params="'a2', '<%=t(:label_irm_company_site_info)%>', '100px'"
                 tabbar_a3_params="'a3', '<%=t(:label_irm_company_support_group)%>', '100px'"
                 tabbar_a1_content_params="'a1', 'id_base_info','COMMON'"
                 tabbar_a2_content_params="'a2', 'id_site_info','CUSTOMER_AJAX'"
                 tabbar_a3_content_params="'a3', 'id_support_group','CUSTOMER_AJAX'"
                 tabbar_active="a1">
                 </div>
                <div id="id_base_info" >
                   <%= render :partial=>"base_info",:locals=>{:f=>f,:company_info=>@company} %>
                </div>
                <div id="id_site_info" href="/companies/site_info?company_id=<%=@company.id%>">
                </div>
                <div id="id_support_group" href="/companies/support_group?company_id=<%=@company.id%>">
                </div>                
     <% end %>
   </div>
 </div>
