<div id="id_location_all">
<div id="id_window_message" >
</div>
<div id="id_location_new" class="container">
     <%= form_for(@location,:url=>{:action=>"create_location"},:builder => LabellingFormBuilder) do |f| %>
            <div class="containerheader">
                <div class="floatleft headertitle"><%=t(:label_irm_location_new)%></div>
            </div>
            <%=f.hidden_field :company_id,:value=>@company_id%>
            <table class="twocolumnstable" cellspacing="0">
                <tr>
                    <td class="twocolumn">
                       <table class="itemdetailtable">
                        <tr>
                        <td class="itemdetailtablelabel"><%=(t :label_irm_location_organization)%>:</td>
                            <td><%=f.select(:organization_id,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(current_organization(@company_id),:id,:wrap_name),{},
                                            :action=>url_for(:controller=>"irm/departments",:action=>"belongs_to",
                                                             :organization_id=>"cascade_id",:company_id=>@company_id),
                                            :choice_title=>t(:actionview_instancetag_blank_option),
                                            :required=>true,
                                  :cascade=>"department_select")%></td>
                        </tr>
                        <tr>
                        <td class="itemdetailtablelabel"><%=(t :label_irm_location_department)%>:</td>
                            <td><%=f.select(:department_id,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(current_department(@company_id,@location.organization_id),:id,:wrap_name),
                                            {},:id=>"department_select")%></td>
                        </tr>
                       </table>
                    </td>
                    <td class="twocolumn" cellspacing="0">
                       <table class="itemdetailtable">
                        <tr>
                        <td class="itemdetailtablelabel"><%=(t :label_irm_location_site_group)%>:</td>
                            <td><%=f.select(:site_group_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_site_group,:group_code,:wrap_name),{},
                                            :action=>url_for(:controller=>"irm/site_groups",:action=>"belongs_to",
                                                             :site_group_code=>"cascade_id"),
                                            :choice_title=>t(:actionview_instancetag_blank_option),
                                            :required=>true,
                                  :cascade=>"site_select")%></td>
                        </tr>
                        <tr>
                        <td class="itemdetailtablelabel"><%=(t :label_irm_location_site)%>:</td>
                            <td><%=f.select(:site_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(current_site(@location.site_group_code),:site_code,:wrap_name),
                                            {},:id=>"site_select",:required=>true)%></td>
                        </tr>
                       </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
            <div class="containerfooter">
                <div class="button floatright"><%= link_to t(:save), {:controller=>"irm/companies",:action=>"create_location"}, {:action_type => "ajaxSubmit", :script => "/replace(id_window_message,system_message_box);reload_grid('id_location_grid');/replace(id_window_message,system_message_box);"}%></div>
                <div class="button floatright"><%= link_to t(:cancel), {:action => "index"}, :script => "/dhxWins1.window('location_win').close();/", :action_type=>"ajaxLink"%></div>
            </div>
     <% end %>
</div>


    <div id="id_location_list" class="container">
        <div class="containerheader">
           <div class="floatleft headertitle"><%=t(:label_irm_location_list)%></div>
        </div>
        <div id="id_location_grid" class="datagrid" style="height:200px !important;"
        action_type="ajaxDhtmlxGrid"
        grid_header=" ,<%=t(:label_irm_location_organization)%>,<%=t(:label_irm_location_department)%>,<%=t(:label_irm_location_site_group)%>,<%=t(:label_irm_location_site)%>,<%=t(:label_irm_location_status)%>"
        grid_width="20,100,100,100,150,100"
        grid_col_types="ra,ro,ro,ro,ro,ro"
        grid_align="center,left,left,left,left,left"
        grid_onRowDblClicked="doOnRowDblClicked"
        grid_checkbox="selectRowAndRadio"
        grid_OnRowSelected="selectRowAndRadio"
        grid_paging_skin="bricks"
        enable_paging="true, 12, null, 'pagingArea', true, 'infoArea'"
        grid_attachHeader = "&nbsp;,#text_search,#text_search,#text_search,#text_search,&nbsp;,#cspan"
        grid_load="'<%= url_for(:action => "get_company_site", :controller => "irm/companies",:company_id=>@company_id) %>','','json'">
        </div>
        <script type="text/javascript" charset="utf-8">
        function doOnRowDblClicked(rowId,cInd){
           processDblClicked("id_location_new","","<%= url_for(:action => "edit_location", :controller => "irm/companies",:id=>":id")%>",rowId);
        }
        function selectRowAndRadio(rowId){
            doSelectRowAndCheckRadio("id_location_grid",rowId)
        }
        </script>
            <div class="containerfooter">
            </div>
    </div>
</div>