<div id="id_company_site_list">
<div id="id_site_info_grid" style="width:auto; height:230px; background-color:white;"
        action_type="ajaxDhtmlxGrid"
        grid_header=" , <%=t(:label_irm_company_site_name)%>, <%=t(:label_irm_company_site_group_name)%>,
                     <%=t(:label_irm_company_organization)%>,<%=t(:label_irm_company_department)%>,
                     <%=t(:label_irm_company_status_code)%>"
        grid_width="20,100,100,100,150,100"
        grid_col_types="ra,ro,ro,ro,ro,ro"
        grid_align="center,left,left,left,left,center"
        grid_checkbox="selectRowAndRadio"
        grid_OnRowSelected="selectRowAndRadio"
        grid_load="'<%= url_for(:action => "get_company_site", :controller => "irm/companies",:company_id=>@company_id) %>','','json'">
        </div>
        <div id='id_site_info_win' style='display:none'></div>
        <script type="text/javascript" charset="utf-8">
        function selectRowAndRadio(rowId){
            doSelectRowAndCheckRadio("id_site_info_grid",rowId);
        }
        var dhxWins1,w11;
        function siteInfoOnLoad(){            
            dhxWins1 = new dhtmlXWindows();
            dhxWins1.enableAutoViewport(false);
            dhxWins1.attachViewportTo("id_company_index");
            dhxWins1.setImagePath("/bk_images/dhtmlx/");
            if($('#id_site_info_win').length<1){$('body').append("<div id='id_site_info_win' style='display:none'></div>");}
            w11 = dhxWins1.createWindow("location_win", 80, 30, 680, 400);
            w11.setText("<%=t(:label_irm_company_site_maintenance)%>");
            $('#id_site_info_win').load("/companies/add_site_info?company_id=<%=@company_id%>",
                                    function(){init($("#id_location_all"))});
            w11.attachObject('id_site_info_win');
        }
        </script>
            <div class="containerfooter">
              <div class="button floatright">
                <div class="button floatright"><a href="javascript:void(0);" onclick="siteInfoOnLoad();"><%= t(:label_irm_company_site_maintenance) %></a></div>
                <div class="button floatright"><%= link_to t(:cancel), {:action => "index"}, :script => "/replace(id_company_index,id_company_index);/", :action_type=>"ajaxLink"%></div>
              </div>
            </div>
</div>