<div id="id_condition_new" class="container">
     <%= form_for(@condition,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
            <div class="containerheader">
                <div class="floatleft headertitle"><%=t(:label_irm_condition_new)%></div>
            </div>
            <table class="twocolumnstable" cellspacing="0">
                <tr>
                    <td class="twocolumn">
                       <table class="itemdetailtable">
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_condition_entity_code)%>:</td>
                            <td><%=f.select :entity_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_entity,:lookup_code,:meaning)%></td>
                        </tr>
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_condition_condition_code)%>:</td>
                            <td><%=f.text_field :condition_code,:size=>40,:required=>true,:irm_uppercase=>true%></td>
                        </tr>                        
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_condition_name)%>:</td>
                            <td><%=f.text_field :name,:size=>40,:required=>true %></td>
                        </tr>
                       </table>
                    </td>
                    <td class="twocolumn" cellspacing="0">
                       <table class="itemdetailtable">
                        <div id="id_lookup_level">
                        <tr><td class="itemdetailtablelabel">
                              <%=t(:label_irm_condition_description)%>:
                           </td>
                           <td><%= f.text_area :description, :cols => 40, :rows => 2%></td>
                        </tr>
                        </div>
                       </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
            <div class="containerfooter">
                <div class="button floatright"><%= link_to t(:save), {:controller=>"irm/conditions",:action=>"create"}, {:action_type => "ajaxSubmit", :script => "/replace(system_message_box,system_message_box);reload_grid('id_condition_grid');/replace(system_message_box,system_message_box);"}%></div>
                <div class="button floatright"><%= link_to t(:cancel), {:action => "index"}, :script => "/replace(id_condition_index,id_condition_index);/", :action_type=>"ajaxLink"%></div>
            </div>
     <% end %>
</div>
