<div class="container">
  <div class="pagetitle"><%=t(:label_irm_condition_show)%></div>
  <div class="pagedescription"><%=t(:label_irm_condition_function_description)%></div>
</div>
<div class="container">
  <div class="discontainerheader  bluetop">
    <table class="bartable">
      <tr>
        <td class="left"><div class="headertitle"></div></td>
        <td class="middle">
          <div class="button"><%= link_to t(:edit), {:action => "edit"}%></div>
          <div class="button" ><%= link_to t(:new), {:action=>"new"}%></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="discontainerbody">
  <table class="showtable" cellspacing="0">
      <tr>
          <td class="showlabel"><%=(t :label_irm_condition_entity_code)%>:</td>
          <td class="showitem"><%=@condition[:entity_meaning]%></td>
          <td class="showlabel"><%=(t :label_irm_condition_condition_code)%>:</td>
          <td class="showitem"><%=@condition.condition_code%></td>
      </tr>
      <tr>
          <td class="showlabel"><%=(t :label_irm_condition_name)%>:</td>
          <td class="showitem"><%=@condition[:name]%></td>
          <td class="showlabel"><%=(t :label_irm_condition_description)%>:</td>
          <td class="showitem"><%=@condition[:description]%></td>
      </tr>
  </table>
  </div>
  <div class="discontainerfooter">
    <table class="bartable">
      <tr>
        <td class="left"></td>
        <td class="middle">
          <div class="button"><%= link_to t(:edit), {:action => "edit"}%></div>
          <div class="button" ><%= link_to t(:new), {:action=>"new"}%></div>
        </td>
        <td class="right"></td>
      </tr>
    </table>
  </div>
</div>
