<div id="id_person_new">
    <div class="container">
     <%= form_for(@person,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
       <div id="id_person_form">
            <div class="containerheader">
                <div class="floatleft headertitle"><%=t(:label_irm_person_base_info)%></div>
            </div>
            <div class="containerbody">
                <table class="formtable" cellspacing="0">
                            <tr>
                                <td class="formlabel"><%=(t :label_irm_person_last_name)%>:</td>
                                <td class="formitem"><%=f.text_field :last_name, :required=>true%></td>
                                <td class="formlabel"><%=(t :label_irm_person_email_address)%>:</td>
                                <td class="formitem"><%=f.text_field :email_address, :required=>true %></td>
                            </tr>
                            <tr>
                                <td class="formlabel"><%=(t :label_irm_person_first_name)%>:</td>
                                <td class="formitem"><%=f.text_field :first_name, :required=>true %></td>
                                <td class="formlabel"><%=(t :label_irm_person_title)%>:</td>
                                <td class="formitem"><%=f.text_field :title, :required=>true %></td>
                            </tr>
                  </table>
                   <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_person_other_info)%></div>
                  </div>
                  <div id="id_person_base_info">
                    <%= render :partial=>"base_info",:locals=>{:f=>f,:person=>@person} %>
                  </div>

          </div>
          <div class="containerfooter">
               <div class="button floatright"><%= link_to t(:save), {:controller=>"irm/people",:action=>"create"}, {:action_type => "ajaxSubmit", :script => "/replace(system_message_box,system_message_box);/replace(system_message_box,system_message_box);"}%></div>
               <div class="button floatright"><%= link_to t(:cancel), {:action => "index"}, :script => "/replace(id_person_index,id_person_index);/", :action_type=>"ajaxLink"%></div>
          </div>
    </div>
   <% end %>
  </div>
</div>
