<%= page_title %>
<script type="text/javascript">
  GY.use(function(Y){
      Y.on("irm:change",function(e){
          if(e.details[2]=="Datatable"&&"selectableRolesDatatable"==e.details[0])
            e.details[1].on("selectedChange",function(e){
                var selected_code = "";
                for(var i=0;i<e.details[0].length;i++)
                  selected_code = selected_code + e.details[0][i].id +",";
                Y.one("#irm_person_role_status_code").set("value",selected_code);
            })
      });
  });
</script>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_select_result) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <%= form_for(@person_role,:url=>{:action=>"add_roles"},:builder => LabellingFormBuilder) do |f| %>
                  <%= f.hidden_field(:status_code) %>
                  <div class="button"><%= f.submit t(:save)%></div>
                  <div class="button"><%= link_to(t(:cancel),{:action=>"show"})%></div>
                <% end %>
              </td>
              <td class="pbHelp">
                <div id="selectableRolesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <%= error_for @person_role %>
        <div id="selectableRoles" class="datatable" style="width:100%">
        </div>
        <%= datatable("selectableRoles",url_for(:controller => "irm/people", :action=>"get_available_roles",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:hidden=>true},
                       {:key=>"role_code",:label=>t(:label_irm_role_code),:searchable=>true},
                       {:key=>"name",:label=>t(:name),:searchable=>true},
                       {:key=>"description",:label=>t(:description),:searchable=>true}],
                      {:paginator_box=>"selectableRolesPaginator",:search_box=>"selectableRolesSearchBox",:select=>"multiple"})%>
        <div id="selectableRolesPaginator"></div>
      </div>
    </div>
</div>
