<div class="container" id="id_person_choose_company">
    <div id="id_window_message" >
    </div>
    <div class="containerheader">
        <div class="floatleft headertitle"><%=t(:actionview_instancetag_blank_option)%></div>
    </div>
    <div id="id_person_choose_company_grid" class="datagrid" style="height:207px !important;"
       action_type="ajaxDhtmlxGrid"
       grid_header=" ,<%=t(:label_irm_company_name)%>,<%=t(:label_irm_company_status_code)%>"
       grid_width="20,350,100"
       grid_col_types="ch,ro,ro"
       enable_paging="true, 12, null, 'pagingArea', true, 'infoArea'"
       grid_attachHeader = "&nbsp;,#text_search,&nbsp;,&nbsp;,&nbsp;"
       grid_align="center,left,left"
       grid_load="'<%= url_for(:action => "get_choose_company", :controller => "irm/companies",:support_group_code=>@support_group_code) %>','','json'">
    </div>
    <span id="infoArea"></span>
    <span id="recfound"></span>
    <script type="text/javascript" charset="utf-8">
      function getCheckRows(){
         var companyGrid = dhtmlx_grid_array['id_person_choose_company_grid'];
         $("#company_choose_list").attr('value',companyGrid.getCheckedRows(0));
      }
    </script>
    <%= form_tag({:controller=>"irm/company_accesses",:action=>"create"}) do %>
    <%=hidden_field_tag :person_id,@person_id%>
    <%=hidden_field_tag "company_choose_list"%>
    <div class="containerfooter">
        <div class="floatleft"><span id="pagingArea"></span></div>
        <div class="button floatright">
           <%=link_to t(:save) ,{:controller=>"irm/company_accesses",:action=>"create"},
                                 :script => "getCheckRows();/replace(id_window_message,system_message_box);/",
                                 :action_type=>"ajaxSubmit"%>
        </div>
        <div class="button floatright"><a href="javascript:void(0);" onclick="companyWins.window('company_win').close();reload_grid('id_person_login_access_grid');"><%=t(:close)%></a></div>
    </div>
    <% end %>
</div>