<%= app_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_person_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="permissionsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="person" class="datatable" style="width:100%;">
          <div id="id" style="display:none">
            <%= icon_link_edit({:action=>"edit",:id=>"{id}"}) %>&nbsp;
            <%= icon_link_show({:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>        
        <%= datatable("person",url_for(:action=>"get_data",:format=>"json"),
                  [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                   {:key=>"login_name",:label=>t(:label_irm_person_login),:sortable=>true,:searchable=>true,:width=>"80px"},
                   {:key=>"person_name",:label=>t(:label_irm_person_name),:sortable=>true,:searchable=>true,:width=>"120px"},
                   {:key=>"email_address",:label=>t(:label_irm_person_email_address),:searchable=>true},
                   {:key=>"mobile_phone",:label=>t(:label_irm_person_mobile_phone),:searchable=>true},
                   {:key=>"company_name",:label=>t(:label_irm_person_company),:sortable=>true,:searchable=>true},
                   {:key=>"region_name",:label=>t(:label_irm_person_region_code),:sortable=>true,:searchable=>true}],
                   {:search_box=>"permissionsSearchBox",:paginator_box=>"peoplePaginatorBox"})%>
        <div id="peoplePaginatorBox"></div>
      </div>
    </div>
</div>