<div id="id_person_show">
    <div class="container">
       <div>
         <a href="#id_login_access_list"><%=t(:label_irm_person_company_access)%></a>
         <a href="#id_person_support_group"><%=t(:label_irm_person_support_group)%></a>
       </div>
       <div class="discontainerheader">
        <table class="bartable">
          <tr>
            <td class="left"><div class="headertitle"><%=t(:label_irm_person_show)%></div></td>
            <td class="middle">
              <div class="button"><%= link_to t(:edit), {:action => "edit"}%></div>
              <div class="button" ><%= link_to t(:new), {:action=>"new"}%></div>
            </td>
          </tr>
        </table>
      </div>
      <div class="discontainerbody">
          <table class="showtable" cellspacing="0">
                  <tr>
                    <td class="showlabel"><%=(t :label_irm_person_full_name)%>:</td>
                    <td class="showitem"><%=@person[:full_name]%></td>
                    <td class="showlabel"><%=(t :label_irm_person_title)%>:</td>
                    <td class="showitem"><%=@person.title%></td>
                  </tr>
                  <tr>
                    <td class="showlabel"><%=(t :label_irm_person_email_address)%>:</td>
                    <td class="showitem"><%=@person.email_address%></td>                    
                  </tr>
          </table>
          <div class="containerheader">
             <div class="floatleft headertitle"><%=t(:label_irm_person_other_info)%></div>
          </div>
          <table class="showtable" cellspacing="0">
             <tr>
                 <td class="showlabel"><%=t(:label_irm_person_company)%>:</td>
                 <td class="showitem"><%=@person[:company_name]%></td>
                 <td class="showlabel"><%=(t :label_irm_person_login)%>:</td>
                 <td class="showitem"><%=@person[:login_name]%></td>
             </tr>
             <tr>
             <td class="showlabel"><%=t(:label_irm_person_organization)%>:</td>
             <td class="showitem"><%=@person[:organization_name]%></td>
             <td class="showlabel"><%=(t :label_irm_person_function_group_code)%>:</td>
             <td class="showitem"><%=@person[:function_group_name] %></td>
             </tr>
             <tr>
                 <td class="showlabel"><%=t(:label_irm_person_department)%>:
                 </td>
                 <td class="showitem"><%=@person[:department_name]%></td>
                 <td class="showlabel">
                    <%=t(:label_irm_person_vip_flag)%>:
                 </td>
                 <td class="showitem"><%=@person.vip_flag%></td>
             </tr>
             <tr>
                 <td class="showlabel"><%=t(:label_irm_person_home_phone)%>:
                 </td>
                 <td class="showitem">
                   <%=@person.home_phone%>
                 </td>
                 <td class="showlabel">
                     <%=t(:label_irm_person_support_staff_flag)%>:
                  </td>
                  <td class="showitem"><%=@person.support_staff_flag%></td>
             </tr>
             <tr>
                 <td class="showlabel"><%=t(:label_irm_person_home_address)%>:
                 </td>
                 <td class="showitem">
                   <%=@person.home_address%>
                 </td>
                 <td class="showlabel">
                     <%=t(:label_irm_person_assignment_availability_flag)%>:
                  </td>
                  <td class="showitem"><%=@person.assignment_availability_flag%></td>
             </tr>
             <tr>
                 <td class="showlabel"><%=t(:label_irm_person_mobile_phone)%>:
                 </td>
                 <td class="showitem">
                   <%=@person.mobile_phone%>
                 </td>
                 <td class="showlabel"><%=(t :label_irm_person_site_group_code)%>:</td>
                 <td class="showitem"><%=@person.site_group_code%></td>
             </tr>
             <tr>
                 <td class="showlabel"><%=t(:label_irm_person_fax_number)%>:
                 </td>
                 <td class="showitem">
                   <%=@person.fax_number%>
                 </td>
                 <td class="showlabel"><%=(t :label_irm_person_site_code)%>:</td>
                 <td class="showitem"><%=@person.site_code%></td>
             </tr>
             <tr>
                 <td class="showlabel"><%=t(:label_irm_person_bussiness_phone)%>:
                 </td>
                 <td class="showitem">
                   <%=@person.bussiness_phone%>
                 </td>
                 <td class="showlabel">
                     <%=t(:label_irm_person_unrestricted_access_flag)%>:
                </td>
                <td class="showitem"><%=@person.unrestricted_access_flag%></td>
             </tr>
             <tr>
                  <td class="showlabel"><%=t(:label_irm_person_notification_lang)%>:
                 </td>
                 <td class="showitem"><%=@person.notification_lang%></td>
                  <td class="showlabel">
                     <%=t(:label_irm_person_notification_flag)%>:
                  </td>
                  <td class="showitem"><%=@person.notification_flag%></td>
             </tr>
             <tr>
                 <td class="showlabel"><%=(t :label_irm_person_status_code)%>:</td>
                 <td class="showitem"><%=@person.status_code%></td>
             </tr>
       </table>
       </div>
       <div class="discontainerfooter">
        <table class="bartable">
          <tr>
            <td class="left"><div class="headertitle"></div></td>
            <td class="middle">
              <div class="button"><%= link_to t(:edit), {:action => "edit"}%></div>
              <div class="button" ><%= link_to t(:new), {:action=>"new"}%></div>
            </td>
          </tr>
        </table>
      </div>
       <div class="containerheader">
          <div class="floatleft headertitle"><%=t(:label_irm_person_company_access)%></div>
       </div>
       <div id="id_login_access_list">
        <div id="id_person_login_access_grid" class="datagrid" style="height:196px !important;"
        action_type="ajaxDhtmlxGrid"
        grid_header=" ,<%=t(:label_irm_person_login_access_company)%>,<%=t(:label_irm_person_login_access_status_code)%>"
        grid_width="20,200,200"
        grid_col_types="ra,ro,ro"
        grid_align="center,left,left"
        grid_onRowDblClicked="selectRowAndRadioAccess"
        grid_checkbox="selectRowAndRadioAccess"
        grid_OnRowSelected="selectRowAndRadioAccess"
        grid_column_ids="check_box_id,company_id,status_code"
        grid_load="'<%= url_for(:action => "get_data", :controller => "irm/company_accesses",:format=>:json) %>','','json'">
        </div>
        <div id='id_company_access_win' style='display:none'></div>
        <script type="text/javascript" charset="utf-8">
        function selectRowAndRadio(rowId){
            doSelectRowAndCheckRadio("id_person_support_group_grid",rowId)
        }
        function selectRowAndRadioAccess(rowId){
            doSelectRowAndCheckRadio("id_person_login_access_grid",rowId)
        }
        var companyWins,companyW;
        function chooseCompanyOnLoad(){
            companyWins = new dhtmlXWindows();
            companyWins.enableAutoViewport(false);
            companyWins.attachViewportTo("id_person_show");
            companyWins.setImagePath("/bk_images/dhtmlx/");
            if($('#id_choose_company_win').length<1)
             {$('body').append("<div id='id_choose_company_win' style='display:none'></div>");}
            companyW = companyWins.createWindow("company_win", 80, 30, 500, 320);
            companyW.setText("<%=t(:label_irm_person_choose_company)%>");
            $('#id_choose_company_win').load("/people/choose_company?person_id=<%=@person.id%>",
                                    function(){init($("#id_person_choose_company"))});
            companyW.attachObject('id_choose_company_win');
            companyW.button('close').hide();
            companyW.button('minmax1').hide();
            companyW.button('minmax2').hide();
            companyW.button('park').hide();
            companyW.setModal(true);
        }
        </script>
        <div class="containerfooter">
           <div class="button floatright"><a href="javascript:void(0);" onclick="chooseCompanyOnLoad();" ><%= t(:label_irm_person_add_company_access) %></a></div>
        </div>
       </div>
       <div class="containerheader">
          <div class="floatleft headertitle"><%=t(:label_irm_person_support_group)%></div>
       </div>
       <div id='id_choose_company_win' style='display:none'></div>
       <div id="id_person_support_group">
       <div id="id_person_support_group_grid" class="datagrid" style="height:240px !important;"
           action_type="ajaxDhtmlxGrid"
           grid_header=" ,<%=t(:label_irm_person_support_group)%>,<%=t(:label_irm_person_status_code)%>"
           grid_width="20,200,200"
           grid_col_types="ra,ro,ro"
           grid_align="center,left,left"
           grid_onRowDblClicked="selectRowAndRadio"
           grid_checkbox="selectRowAndRadio"
           grid_OnRowSelected="selectRowAndRadio"
           grid_load="'<%= url_for(:action => "get_support_group", :controller => "irm/people",:person_id=>@person_id) %>','','json'">
        </div>
        <span id="infoArea"></span>
        <span id="recfound"></span>
        <div class="containerfooter">
            <div class="floatleft"><span id="pagingArea"></span></div>
        </div>
        </div>
    </div>
</div>