<%= app_title(:description=>t(:label_skm_rpt_search_key)) %>
<div class="bFilterReport">
  <h2><%=t(:label_icm_report_param) %></h2>
  <div class="reportParameters">
    <%= form_tag({}, :method => :get) do %>
    <%= hidden_field_tag :auto_run,Irm::Constant::SYS_NO %>
    <div class="row">
      <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
              <td>
                <label for="subtotalBy0"><%=t(:label_irm_company_name)%>：</label>
                <%=select_tag :company_id,nullable_options_for_select(available_company,@company_id),:required=>true %>
              </td>
              <td>
                <fieldset>
                  <legend>
                    <strong><%= t(:label_skm_search_time_frame) %></strong>
                    <table cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                          <tr>
                            <td>
                              <label for="interval_s"><%= t(:label_icm_report_time_frame_start_time) %></label>
                              <span class="dateInput dateOnlyInput">
                                <%= text_field_tag :timeframes_start_date, @timeframes_start_date||show_date(:months_advance=>-1),:id=>"interval_s",:size=>12%>
                                <%= calendar_view("interval_s","interval_s","cal") %>
                              </span>
                            </td>
                            <td>
                              <label for="interval_e"><%= t(:label_icm_report_time_frame_end_time) %></label>
                              <span class="dateInput dateOnlyInput">
                                <%= text_field_tag :timeframes_end_date, @timeframes_end_date||show_date,:id=>"interval_e",:size=>12%>
                                <%= calendar_view("interval_e","interval_e","cal") %>
                              </span>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </legend>
                </fieldset>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="reportActions pbButton">
    <%= submit_tag t(:submit),{:class =>"btn"}%>
    <input class="btn" type="submit" value="自定义">
    <input class="btn" type="submit" value="另存为">
    <input class="btn" type="submit" value="导出详细信息">
  </div>
  <% end %>
  <div class="bGeneratedReport">
    <div class="bPageBlock">
      <div class="pbBody">
        <div class="pbSubblock">
          <div class="pbSubbody">
            <div class="reportOutput">
              <div id="fchArea" class="pbBody" >
                    <table style="width:100%">
                      <tr>
                         <td style="width:40%">
                            <div id="search_history" class="datatable">
                            </div>
                            <%= datatable("search_history",url_for(:action=>"get_search_history_data",:auto_run=>Irm::Constant::SYS_NO,:company_id=>@company_id,:timeframes_start_date=>@timeframes_start_date,:timeframes_end_date=>@timeframes_end_date),
                                      [{:key=>"search_key",:label=>t(:label_rpt_history_key),:width=>"200px"},
                                       {:key=>"result_count",:label=>t(:label_rpt_history_result_count),:width=>"100px"},
                                       {:key=>"source",:label=>t(:label_rpt_history_source),:width=>"300px"},
                                       {:key=>"full_name",:label=>t(:label_rpt_history_searched_by),:width=>"200px"},
                                       {:key=>"created_day",:label=>t(:label_rpt_history_searched_day),:width=>"200px"}],
                                       {:row_perpage=>10})%>
                        </td>
                        <td style="width:10%">
                        </td>

                      </tr>
                    </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>