<script type="text/javascript">
        function s1change(){
            if($("#s1").val() == "")
            {
                $("select#s2").get(0).selectedIndex = 0;
                $("#s2").attr("disabled", "disabled");
                $("select#s3").get(0).selectedIndex = 0;
                $("#s3").attr("disabled", "disabled");
            }
            else
            {
               $("#s2").attr("disabled", false);
            }
        }
        function s2change(){
            if($("#s2").val() == "")
            {
               $("select#s3").get(0).selectedIndex = 0;
               $("#s3").attr("disabled", true);
            }
            else
            {
               $("#s3").attr("disabled", false);
            }
        }
    </script>
<div id="operational_catalog_new">
     <%= form_for(@operational_catalog,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
            <div class="containerheader">
                <div class="floatleft headertitle"><%=t(:label_irm_operational_catalog_new)%></div>
            </div>
            <table class="twocolumnstable" cellspacing="0">
                <tr>
                    <td class="twocolumn">
                       <table class="itemdetailtable">
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_operational_catalog_code)%>:</td>
                              <td><%=f.text_field :catalog_code,:required=>true,:irm_uppercase=>true%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_operational_catalog_name)%>:</td>
                              <td><%=f.text_field :name, :required=>true%></td>
                            </tr>
                            <tr><td class="itemdetailtablelabel"><%=(t :label_irm_operational_catalog_type)%>:</td>
                              <td><%=f.select :catalog_type, available_catalog_types, {:include_blank => t(:select)},:required=>true, 
                              :onchange => remote_function(:update => "container1",:url => { :action => :update_segment_options},
                              :with => "$('#new_irm_operational_catalog').serialize() + '&catalog_type=' + $('#irm_operational_catalog_catalog_type').val()", :complete => "init($('#container1'))")%></td>
                            </tr>
                            <div id="segments">
                                <% if (@operational_catalog && !@operational_catalog.catalog_type.blank?)%>
                                <tr><td class="itemdetailtablelabel"><%=(t :label_irm_operational_catalog_segment1)%>:</td>
                                  <td><%=f.select :segment1, available_oper_cata_segment_set(:segment1, @operational_catalog.catalog_type), {:include_blank => t(:default)}, :id => "s1", :onchange => "s1change()"%></td>
                                </tr>
                                <tr><td class="itemdetailtablelabel"><%=(t :label_irm_operational_catalog_segment2)%>:</td>
                                  <td><%=f.select :segment2, available_oper_cata_segment_set(:segment2, @operational_catalog.catalog_type), {:include_blank => t(:default)}, :id => "s2", :onchange => "s2change()", :disabled => true%></td>
                                </tr>
                                <tr><td class="itemdetailtablelabel"><%=(t :label_irm_operational_catalog_segment3)%>:</td>
                                  <td><%=f.select :segment3, available_oper_cata_segment_set(:segment3, @operational_catalog.catalog_type), {:include_blank => t(:default)}, :id => "s3", :disabled => true%></td>
                                </tr>
                                <% end %>
                            </div>
                            <tr><td class="itemdetailtablelabel"><%=(t :active)%>:</td>
                              <td><%=f.select :status_code, available_active_status, {:include_blank => false}%></td>
                            </tr>
                       </table>
                    </td>
                    <td class="twocolumn" cellspacing="0">
                       <table class="itemdetailtable">
                        <tr><td class="itemdetailtablelabel">
                              <%=t(:label_irm_operational_catalog_description)%>:
                           </td>
                           <td><%= f.text_area :description, :rows => 3%></td>
                        </tr>
                       </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
            <div class="containerfooter">
                <div class="button floatright"><%= link_to t(:save), {}, {:action_type => "ajaxSubmit", :script => "/replace(system_message_box,system_message_box);reload_grid('operational_catalogs_grid');/replace(system_message_box,system_message_box);"}%></div>
                <div class="button floatright"><%= link_to t(:cancel), {:action => "new"}, :script => "/replace(container1,operational_catalog_new);/", :action_type=>"ajaxLink"%></div>
            </div>
     <% end %>
</div>
