   <div id="id_script_edit" class="container">
     <%= form_for(@script,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_script_edit)%></div>
                </div>
                <table class="twocolumnstable" cellspacing="0">
                    <tr>
                        <td class="twocolumn">
                           <table class="itemdetailtable">
                            <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_script_entity)%>:</td>
                            <td><%=f.select :entity_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_entity,:lookup_code,:wrap_meaning,@script.entity_code),{},{:disabled=>true}%></td>
                            </tr>
                            <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_script_condition)%>:</td>
                            <td><%=f.select :condition_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_condition,:lookup_code,:wrap_meaning)%></td>
                            </tr>                        
                            <tr>
                                <td class="itemdetailtablelabel"><%=(t :label_irm_script_action)%>:</td>
                                <td><%=f.select :action_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                    options_from_collection_for_select(available_action,:condition_code,:wrap_name)%></td>
                            </tr>
                            <tr>
                                <td class="itemdetailtablelabel"><%=(t :label_irm_script_template)%>:</td>
                                <td><%=f.select :template_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                    options_from_collection_for_select(available_entity,:action_code,:wrap_name)%></td>
                            </tr>
                            <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_script_status_code)%>:</td>
                            <td><%=f.select :status_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_status,:lookup_code,:wrap_meaning,@script.status_code)%></td>
                            </tr>
                           </table>
                        </td>
                        <td class="twocolumn" cellspacing="0">
                           <table class="itemdetailtable">
                            <div id="id_lookup_level">
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_script_description)%>:
                               </td>
                               <td><%= f.text_area :description, :value => @script[:description], :cols => 40, :rows => 2%></td>
                            </tr>
                            </div>
                           </table>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>
                <div class="containerfooter">
                    <div class="button floatright" ><%= link_to t(:save), {:controller=>"irm/scripts",:action=>"update"}, {:action_type => "ajaxSubmit", :script => "/reload_grid('id_script_grid');replace(system_message_box,system_message_box);/replace(system_message_box,system_message_box);"}%></div>
                    <div class="button floatright"><%= link_to t(:cancel), {:action => "new"}, :script => "/replace(id_script_new,id_script_new);/", :action_type=>"ajaxLink"%></div>
                </div>
     <% end %>
   </div>
