<%= page_title %>
<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_script_show) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @script}%></div>
            <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_script_entity)%></label></td>
              <td class="dataCol"><%=@script[:entity_meaning]%></td>
              <td class="labelCol"><label><%=(t :label_irm_script_status_code)%></label></td>
              <td class="dataCol"><%=@script[:status_meaning]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_script_condition)%></label></td>
              <td class="dataCol"><%=@script[:condition_name]%></td>
              <td class="labelCol"><label><%=(t :label_irm_script_action)%></label></td>
              <td class="dataCol"><%=@script[:action_name]%></td>              
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_script_description)%></label></td>
              <td class="dataCol"><%= @script[:description]%></td>
              <td class="labelCol"><label><%=(t :label_irm_script_template)%></label></td>
              <td class="dataCol"><%=@script[:template_name]%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

