<style type="text/css">
  .floatLeft{
      float:left;
      vertical-align:middle;
  }
</style>
<%= form_for(@wf_approval_step,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<%= f.hidden_field(:step) %>
<div  class="bWizardBlock">
    <div class="pbWizardTitle tertiaryPalette">
        <div class="ptRightTitle">
            <%= t(:step_n_total_m, :n => "3", :m => "3") %>
        </div>
        <h2>
            <%= t(:step_n, :n => "3") %><%= t(:label_irm_wf_approval_step_select_approver) %>
        </h2>
    </div>
  <div class="pbBody">
    <div class="pbDescription ">
    </div>
    <div class="pbWizardBody">
      <div class="secondaryPalette">
        <div class="pbBody ">
            <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
              <h3><%= t(:label_irm_wf_approval_step_select_approver) %></h3>
            </div>
            <div class="pbSubsection">
                <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                  <tbody>

                    <tr>
                      <td class="labelCol"><%=f.radio_button(:approver_mode,"SELECT_BY_SUMBITTER",:id=>"bySubmitter",:class=>"typeButton")%></td>
                      <td class="dataCol" colspan="3" width="82%"><label for="bySubmitter"><%=t(:label_irm_wf_approval_step_approver_mode_by_approver)%></label></td>
                    </tr>
                    <% if @wf_approval_process.next_approver_mode.present? %>
                    <tr>
                      <td class="labelCol"><%=f.radio_button(:approver_mode,"PROCESS_DEFAULT",:id=>"bySubmitter",:class=>"typeButton")%></td>
                      <td class="dataCol" colspan="3" width="82%"><label for="processDefault"><%=t(:label_irm_wf_approval_step_approver_mode_process_default)%> (<%=@wf_approval_process[:next_approver_mode_name]%>)  </label></td>
                    </tr>
                    <% end %>
                    <tr>
                      <td class="labelCol"><%=f.radio_button(:approver_mode,"AUTO_APPROVER",:id=>"autoApprover",:class=>"typeButton")%></td>
                      <td class="dataCol" colspan="3" width="82%">
                        <label for="autoApprover"><%=t(:label_irm_wf_approval_step_approver_mode_auto)%></label>
                      </td>
                    </tr>
                    <tr class="showTR" refValue="AUTO_APPROVER" style="display:none">
                      <td class="labelCol"></td>
                      <td class="dataCol" colspan="3" width="82%">
                          <%= render :partial => "step_approver",:locals => {:f=>f} %>
                      </td>
                    </tr>
                    <tr>
                      <td class="labelCol"><%= f.check_box(:allow_delegation_approve,:id=>"allow_delegation_approve") %></td>
                      <td class="dataCol"><label for="allow_delegation_approve"><%=t(:label_irm_wf_approval_step_allow_delegation_approve)%></label></td>
                      <td class="labelCol">&nbsp;</td>
                      <td class="dataCol">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>

            </div>
            <% unless 1.eql?(@wf_approval_step.step_number.to_i) %>
                <div id="head_2_ep" class="pbSubheader tertiaryPalette">
                  <h3><%= t(:label_irm_wf_approval_step_reject_behavior)%></h3>
                </div>
                <div class="pbSubsection">
                  <table class="detailList" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                          <td class="labelCol"><%=f.radio_button(:reject_behavior,"REJECT_STEP",:id=>"rejectStep",:class=>"rejectBehaviorButton")%></td>
                          <td class="dataCol" colspan="3" width="82%"><label for="rejectStep"><%=t(:label_irm_wf_approval_step_reject_behavior_step_reject)%></label></td>
                        </tr>
                        <tr>
                          <td class="labelCol"><%=f.radio_button(:reject_behavior,"REJECT_PROCESS",:id=>"rejectProcess",:class=>"rejectBehaviorButton")%></td>
                          <td class="dataCol" colspan="3" width="82%">
                            <label for="rejectProcess"><%=t(:label_irm_wf_approval_step_reject_behavior_process_reject)%></label>
                          </td>
                        </tr>
                        <tr>
                          <td class="labelCol">&nbsp;</td>
                          <td class="dataCol">&nbsp;</td>
                          <td class="labelCol">&nbsp;</td>
                          <td class="dataCol">&nbsp;</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="pbWizardFooter">
        <div class="pbBottomButtons">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="pbTitle"></td>
                  <td id="bottomButtonRow" class="pbButtonb">
                    <div class="button"><%= link_to t(:last), {:action => "edit",:pre_step=>true},{:class=>"submit"} %></div>
                    <div class="button"><%= f.submit t :save%></div>
                    <div class="button"><%= link_to t(:cancel), {:controller => "irm/wf_approval_processes",:action => "show",:id=>params[:process_id]} %></div>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
<%end%>

<script type="text/javascript">
    GY.use("duelselect",function(Y){
      Y.all("input.typeButton").on("click",function(e){
        Y.all(".showTR").setStyle("display","none");
        Y.all(".showTR .updateValue").setAttribute("disabled","true");
        var showTR = Y.one(".showTR[refValue="+e.target.get("value")+"]");
        if(showTR){
            showTR.setStyle("display","");
            showTR.all(".updateValue").removeAttribute("disabled");
        }
      });
      if(Y.one("input.typeButton[checked=checked]"))
        Y.one("input.typeButton[checked=checked]").simulate("click");
      else
        Y.one("input.typeButton").simulate("click");

      //duel approver
      var duelselect = new Y.DuelSelect({source:"#source",target:"#target",valueNode:"#approvers",type:Y.one("#approverType").get("value"),addButton:"#duelAdd",removeButton:"#duelRemove"});
      Y.one("#approverType").on("change",function(e){
        Y.one("#duelQuery").set("value","");
        duelselect.filter(Y.one("#approverType").get("value"),Y.one("#duelQuery").get("value"));
      });
      Y.one("#duelSearch").on("click",function(e){
        duelselect.filter(Y.one("#approverType").get("value"),Y.one("#duelQuery").get("value"));
      });
      Y.one("#duelQuery").on("keydown",function(e){
        if(e.keyCode==13){
            e.preventDefault();
            duelselect.filter(Y.one("#approverType").get("value"),Y.one("#duelQuery").get("value"));
        }
      });

      //multiple approver mode
      if(!Y.one("input.multipleApproveModeButton[checked=checked]"))
        Y.one("input.multipleApproveModeButton").simulate("click");
      //multiple approver mode
      if(!Y.one("input.rejectBehaviorButton[checked=checked]"))
        Y.one("input.rejectBehaviorButton").simulate("click");
    });
</script>