<%= page_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_list_of_value_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="list_of_valuesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="list_of_values" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>|<%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
          <div id="listable_flag" style="display:none">
            <%= check_img("{listable_flag}") %>
          </div>
        </div>
        <%= datatable("list_of_values",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"70px"},
                                              { :key => "lov_code", :label => t(:label_irm_list_of_value_lov_code),:searchable=>true },
                                              { :key => "name", :label => t(:label_irm_list_of_value_name),:searchable=>true },
                                              { :key => "bo_name", :label => t(:label_irm_list_of_value_bo_code),:searchable=>true },
                                              { :key => "id_column", :label => t(:label_irm_list_of_value_id_column),:searchable=>true },
                                              { :key => "value_column", :label => t(:label_irm_list_of_value_value_column),:searchable=>true },
                                              { :key => "value_title", :label => t(:label_irm_list_of_value_value_title),:searchable=>true },
                                              { :key => "listable_flag",:formatter=>"Y.irm.template", :label => t(:label_irm_list_of_value_listable_flag),:searchable=>true }
                                              ],{:paginator_box=>"list_of_valuesPaginatorBox",:search_box=>"list_of_valuesSearchBox"})%>
        <div id="list_of_valuesPaginatorBox"></div>
      </div>
    </div>
</div>


