<%= setting_title %>
<%= form_for(@person,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_identity_edit_info)%> - <%= @person.login_name%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button floatright"><%= link_to t(:cancel), {:action => "index"},:zone=>"system_content"%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @identity%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=t(:label_irm_identity_login_name)%></label></td>
              <td class="dataCol"><%= @person.login_name %></td>
              <td class="labelCol"><label><%=(t :label_irm_person_email_address)%></label></td>
              <td class="dataCol"><%=f.text_field :email_address, :required=>true%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_person_last_name)%></label></td>
              <td class="dataCol"><%=f.text_field :last_name%></td>
              <td class="labelCol"><label><%=(t :label_irm_person_first_name)%></label></td>
              <td class="dataCol"><%=f.text_field :first_name, :required=>true%></td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_identity_language_code) %></td>
              <td class="dataCol"><%= f.select(:language_code, selectable_languages) %></td>
              <td class="labelCol"><%=(t :label_irm_person_title)%></td>
              <td class="dataCol">
                <%=f.select :title,options_for_select(person_title,@person.title),
                                                    {},{:required=>true,:id=>"irm_person_title"}%></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div id="head_2_ep" class="pbSubheader first tertiaryPalette">
      <h3><%=t(:label_irm_person_other_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
             <tr>
                 <td class="labelCol"><label><%=t(:label_irm_person_mobile_phone)%></label></td>
                 <td class="dataCol">
                   <%=f.text_field :mobile_phone%>
                 </td>
                 <td class="labelCol"><label><%=t(:label_irm_person_home_address)%></label></td>
                 <td class="dataCol">
                   <%=f.text_field :home_address%>
                 </td>
             </tr>
             <tr>
                 <td class="labelCol"><label><%=t(:label_irm_person_home_phone)%></label></td>
                 <td class="dataCol">
                   <%=f.text_field :home_phone%>
                 </td>
                 <td class="labelCol"><label><%=t(:label_irm_person_fax_number)%></label></td>
                 <td class="dataCol">
                   <%=f.text_field :fax_number%>
                 </td>
             </tr>

             <tr>
                <td class="labelCol"><label><%=t(:label_irm_person_bussiness_phone)%></label></td>
                 <td class="dataCol">
                   <%=f.text_field :bussiness_phone%>
                 </td>
                 <td class="labelCol">
                 <label><%=t(:label_irm_person_notification_flag)%></label>
               </td>
               <td class="dataCol"><%=f.check_box :notification_flag,:checked => true%></td>
             </tr>
        </tbody>
      </table>
    </div>
    <div id="head_3_ep" class="pbSubheader first tertiaryPalette">
      <h3><%=t(:label_irm_person_approve_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
             <tr>
               <td class="labelCol"><label><%=t(:label_irm_person_delegate_approver)%></label></td>
               <td class="dataCol"><%=f.blank_select(:delegate_approver,available_person)%></td>
               <td class="labelCol">
                 <label><%=t(:label_irm_person_approve_request_mail)%></label>
               </td>
               <td class="dataCol"><%=f.check_box :approve_request_mail,:checked => true%></td>
             </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button floatright"><%= link_to t(:cancel), {:action => "index"},:zone=>"system_content"%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>