<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_identity_edit)%>&nbsp;<%= @identity.login_name%></h2></td>
          <td id="topButtonRow" class="pbButton">
          <div class="button"><%= link_to t(:edit), {:action => "edit"},:zone=>"system_content"%></div>
          <div class="button" ><%= link_to t(:edit_password), {:action=>"edit_password"},:zone=>"system_content"%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_identity_login_name)%></label></td>
              <td class="dataCol"><%=@identity.login_name%></td>
              <td class="labelCol"><label><%=(t :label_irm_identity_full_name)%></label></td>
              <td class="dataCol"><%=@identity.full_name%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_identity_email)%></label></td>
              <td class="dataCol"><%=@identity.email%></td>
              <td class="labelCol"><%=(t :label_irm_identity_language_code)%></td>
              <td class="dataCol"><%= @identity[:language_description]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_identity_password)%></label></td>
              <td class="dataCol"><%=@identity.last_login_at%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
