    <div id="data_area">
        <div class="containerheader">
           <div class="floatleft headertitle"><%=t(:label_icm_incident_status_list)%></div>
        </div>
        <div id="incident_statuses_grid" class="datagrid"
            action_type="ajaxDhtmlxGrid"
            grid_header=" ,<%=t(:label_icm_incident_status_company)%>,<%=t(:label_icm_incident_status_name)%>,
            <%=t(:label_icm_incident_status_incident_status_code)%>,<%=t(:multilingual)%>"
            grid_width="20,100,100,100,80"
            grid_col_types="ra,ro,ro,ro,link"
            grid_onRowDblClicked="dblClickHandler"
            grid_OnRowSelected="rowSelectedHandler"
            grid_paging_skin="bricks"
            enable_paging="true, 15, null, 'pagingArea', true, 'infoArea'"
            grid_load="'<%= url_for(:action => "get_data", :controller => "icm/incident_statuses", :format=>:json) %>',function(){init('#incident_statuses_grid');},'json'">
        </div>
        <span id="infoArea"></span>
        <span id="recfound"></span>
        <script>
            function dblClickHandler(rId, cInd){
                processDblClicked("container1","incident_status_edit","<%= url_for(:action => "edit", :controller => "icm/incident_statuses", :id => ":id") %>", rId);
            }
            function rowSelectedHandler(id, ind){
                dhtmlx_grid_array['incident_statuses_grid'].cells(id, 0).setValue("1");
            }
        </script>
        <div class="containerfooter">
          <span id="pagingArea"></span>
        </div>
    </div>