<%= app_title %>
<%= view_filter("SKM_ENTRY_HEADERS_INDEX","SKM_ENTRY_HEADERS","entry_headers_list") %>
<div class="bOverviewSearch">
  <div>
    <div class="pbSearch">

    </div>
  </div>
</div>
<% #view_filter("SKM_ENTRY_HEADERS_INDEX_A","entry_headers_list") %>
<%= render "data_grid" %>
<% if allow_to_function?(:view_reports) %>
<%= render "/irm/report_lists/report_category",{:category_code=>"SERVICE_KNOWLEDGE_MANAGE",:options=>{}} %>
<% end %>
<%= content_for :sidebar do%>
    <%= render "skm/entry_headers/sidebar_navigate_menu"%>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end -%>
