<%= app_title %>
<div class="bOverviewSearch">
  <div>
    <div class="pbSearch">
      <%= form_tag("/entry_headers/index_search", :method => :post) do %>
        <%= text_field_tag "search_value", "", :size => 30 %>
        <%= submit_tag t(:label_skm_entry_header_search_by_title), :class => "btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= view_filter("SKM_ENTRY_HEADERS_INDEX_A","entry_headers_list") %>
<div id="tabView" class="bMiniTab"></div>
<%= tabview("tabView",
            {t(:label_skm_entry_header) => 'entry_headers/data_grid.js',
             t(:label_skm_entry_header_my_favorites) => 'entry_headers/my_favorites.js'
            }) %>