<%= form_for(@service_break,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<%= hidden_field_tag :return_url,@return_url %>
<%= f.hidden_field :service_catalog_id,:value=>@service_catalog_id %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_slm_service_break_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel),@return_url%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @service_break%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend"><span class="requiredExampleOuter">
          <span class="requiredExample">&nbsp;</span></span>
           <span class="requiredMark">*</span><span class="requiredText"> = <%=t(:label_is_required)%></span></span></span>
      <h3><%=t(:label_slm_service_break_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label for="service_break_category_code"><%=t(:label_slm_service_break_seq_number)%></label></td>
              <td class="dataCol"><%=f.text_field :seq_number, :required=>true ,:size=>4,
                                                  :id=>"service_break_seq_number"%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>

            <tr>
              <td class="labelCol"><label for="service_break_name"><%=t(:label_slm_service_break_start_date)%></label></td>
              <td class="dataCol">
                                  <%= f.select :start_hour, options_for_select(available_lookup_type('SLM_SERVICE_HOUR'),get_time_hour(@service_break.start_time)),:size => 2,:id=>"service_agreement_response_hour"%>
                                  <%=t(:label_slm_service_agreement_solve_hour)%>
                                  <%= f.select :start_minute,options_for_select(available_lookup_type('SLM_SERVICE_MINUTE'),get_time_minute(@service_break.start_time)), :size => 2,:id=>"service_agreement_response_minute"%>
                                  <%=t(:label_slm_service_agreement_solve_minute)%>
                                 <%= f.select :start_second,options_for_select(available_lookup_type('SLM_SERVICE_MINUTE'),get_time_second(@service_break.start_time)), :size => 2,:id=>"service_agreement_response_minute"%>
                                  <%=t(:label_slm_service_agreement_solve_second)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>

            <tr>
              <td class="labelCol"><label for="service_break_description"><%=t(:label_slm_service_break_end_date)%></label></td>
              <td class="dataCol">
                                  <%= f.select :end_hour, options_for_select(available_lookup_type('SLM_SERVICE_HOUR'),get_time_hour(@service_break.end_time)),:size => 2,:id=>"service_agreement_response_hour"%>
                                  <%=t(:label_slm_service_agreement_solve_hour)%>
                                  <%= f.select :end_minute,options_for_select(available_lookup_type('SLM_SERVICE_MINUTE'),get_time_minute(@service_break.end_time)), :size => 2,:id=>"service_agreement_response_minute"%>
                                  <%=t(:label_slm_service_agreement_solve_minute)%>
                                 <%= f.select :end_second,options_for_select(available_lookup_type('SLM_SERVICE_MINUTE'),get_time_second(@service_break.end_time)), :size => 2,:id=>"service_agreement_response_minute"%>
                                  <%=t(:label_slm_service_agreement_solve_second)%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel),@return_url%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
