<%= setting_title %>
<%= form_for(@bulletin,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<%= hidden_field_tag :return_url,@return_url %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_bulletin_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <% if @return_url %>
              <div class="button"><%= link_to t(:cancel), @return_url%></div>
            <% else %>
              <div class="button"><%= link_to t(:cancel), {:controller => "irm/home",:action=>"index"}%></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @bulletin%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_bulletin_title)%></label></td>
              <td class="data2Col"><%=f.text_field :title, :required=>true,:style => "width:80%;min-with:200px;"%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_bulletin_content)%></label></td>
              <td class="data2Col"><%=f.text_area :content,:style => "width:80%;min-with:200px;", :rows => 10%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBody">
    <div class="pbSubheader first tertiaryPalette">
      <h3><%= t(:label_irm_bulletin_access) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody id="detailList">
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_bulletin_access_availabel_companies)%></label></td>
              <td class="data2Col"><%= select_tag("ava_companies", options_for_select(ava_access_companies), {:id => "ava_companies", :include_blank => "--- #{t(:actionview_instancetag_blank_option)} ---"})%>
                <%= select_tag("ava_departments", nullable_options_for_select([],nil),
                    {:id=>"ava_departments",
                       :depend=>"ava_companies",
                       :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                       :href=>url_for(:controller=>"irm/bulletins",:action=>"get_ava_departments",:format=>"json",:company_id=>"{ava_companies}")})%>
                <%= link_to t(:label_irm_bulletin_add_to_access_rule), {}, {:href => "javascript:void(0);", :onclick => "addCompanyRule();"}%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_bulletin_access_availabel_roles)%></label></td>
              <td class="data2Col"><%= select_tag("ava_roles", options_for_select(ava_access_roles), {:id => "ava_roles"})%>
                <%= link_to t(:label_irm_bulletin_add_to_access_rule), {}, {:href => "javascript:void(0);", :onclick => "addRoleRule();"}%></td>
            </tr>
            <%= show_accesses(@bulletin)%>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <% if @return_url %>
              <div class="button"><%= link_to t(:cancel), @return_url%></div>
            <% else %>
              <div class="button"><%= link_to t(:cancel), {:controller => "irm/home",:action=>"index"}%></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<script type="text/javascript">
  GY.use("cascadeselect",function(Y){
     new Y.CascadeSelect({source: "#ava_companies",target:["#ava_departments"]});
  });

  var line_count = 0;

  function addCompanyRule(){
      GY.use(function(Y)
      {
            var selected = "";
            var value = "";
            var text = "";

            var d_selected = "";
            var d_value = "";
            var d_text = "";
            Y.one("#ava_companies").get("options").each( function() {
            if(this.get('selected'))
            {
                selected = this.get('selected');
                value  = this.get('value');
                text = this.get('text');
            }
            });
            if(value != ""){
                Y.one("#ava_departments").get("options").each( function() {
                if(this.get('selected'))
                {
                    d_selected = this.get('selected');
                    d_value  = this.get('value');
                    d_text = this.get('text');
                }
                });
            }
            if(d_value == ""){
                var node = Y.Node.create(
                    '<tr id="tr_' + line_count+ '"><td class="labelCol"><%= t :label_irm_bulletin_selected_companies%></td><td class="data2Col">' + text +
                    '<a href="javascript:void(0);" onclick="remove_line(' + line_count+ ');" >&nbsp;&nbsp;<%= t :delete%></a></td>' +
                    '<input type="hidden" name="accesses[' + line_count + '][type]" value="COMPANY">' +
                    '<input type="hidden" name="accesses[' + line_count + '][access_id]" value="' + value + '">' +
                    '</tr>'
                );
            }
            else{
                var node = Y.Node.create(
                    '<tr id="tr_' + line_count+ '"><td class="labelCol"><%= t :label_irm_bulletin_selected_departments%></td><td class="data2Col">' + text + " " + d_text +
                    '<a href="javascript:void(0);" onclick="remove_line(' + line_count+ ');" >&nbsp;&nbsp;<%= t :delete%></a></td>' +
                    '<input type="hidden" name="accesses[' + line_count + '][type]" value="DEPARTMENT">' +
                    '<input type="hidden" name="accesses[' + line_count + '][access_id]" value="' + value + '">' +
                    '</tr>'
                );
            }

            line_count ++;
            Y.one("#detailList").appendChild(node);
      })
  }

  function addDepartmentRule(){
      GY.use(function(Y)
      {
            var selected = "";
            var value = "";
            var text = "";
            Y.one("#ava_departments").get("options").each( function() {
            if(this.get('selected'))
            {
                selected = this.get('selected');
                value  = this.get('value');
                text = this.get('text');
            }
            });

            var node = Y.Node.create(
                '<tr id="tr_' + line_count+ '"><td class="labelCol"><%= t :label_irm_bulletin_selected_departments%></td><td class="data2Col">' + text +
                '<a href="javascript:void(0);" onclick="remove_line(' + line_count+ ');" >&nbsp;&nbsp;<%= t :delete%></a></td></tr>' +
                '<input type="hidden" name="accesses[' + line_count + '][type]" value="DEPARTMENT">' +
                '<input type="hidden" name="accesses[' + line_count + '][access_id]" value="' + value + '">'
            );
            line_count ++;
            Y.one("#detailList").appendChild(node);
      })
  }

  function addRoleRule(){
      GY.use(function(Y)
      {
            var selected = "";
            var value = "";
            var text = "";
            Y.one("#ava_roles").get("options").each( function() {
            if(this.get('selected'))
            {
                selected = this.get('selected');
                value  = this.get('value');
                text = this.get('text');
            }
            });

            var node = Y.Node.create(
                '<tr id="tr_' + line_count+ '"><td class="labelCol"><%= t :label_irm_bulletin_selected_roles%></td><td class="data2Col">' + text +
                '<a href="javascript:void(0);" onclick="remove_line(' + line_count+ ');" >&nbsp;&nbsp;<%= t :delete%></a></td></tr>' +
                '<input type="hidden" name="accesses[' + line_count + '][type]" value="ROLE">' +
                '<input type="hidden" name="accesses[' + line_count + '][access_id]" value="' + value + '">'
            );
            line_count ++;
            Y.one("#detailList").appendChild(node);
      })
  }

  function remove_line(l){
      GY.use(function(Y){
          Y.one("#tr_" + l).remove();
      })
  }
</script>
