<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @bulletin}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index", :controller => "irm/home"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubheader tertiaryPalette">
      <div align="center">
        <span style="font-size:20px !important;"><%= @bulletin.title%></span><br>
        <span style="font-size:12px !important;font-weight:normal;">
          <%= Irm::Person.find(@bulletin.author_id).name%>&nbsp;&nbsp;&nbsp;
          <%= @bulletin.created_at.strftime("%Y-%m-%d %H:%M:%S")%></span>
      </div>
    </div>

    <div class="pbSubsection" style="margin-left:30px;margin-right:30px;">
        <pre><%= raw(@bulletin.content)%> </pre>
    </div>
  </div>
</div>
<% content_for :sidebar do %>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end %>