<%= setting_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_department_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="permissionsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="department" class="datatable" style="width:100%;">
          <div id="id" style="display:none">
            <%= icon_link_edit({:action=>"edit",:id=>"{id}"}) %>
            <%= icon_link_show({:action=>"show",:id=>"{id}"}) %>            
          </div>
        </div>
        <%= datatable("department",url_for(:action=>"get_data",:format=>"json"),
                  [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                   {:key=>"company_name",:label=>t(:label_irm_department_company_name),:sortable=>true,:searchable=>true,:width=>"15%"},
                   {:key=>"organization_name",:label=>t(:label_irm_department_organization_name),:sortable=>true,:searchable=>true,:width=>"15%"},
                   {:key=>"short_name",:label=>t(:label_irm_department_short_name),:sortable=>true,:searchable=>true,:width=>"10%"},
                   {:key=>"name",:label=>t(:label_irm_department_name),:sortable=>true,:searchable=>true,:width=>"15%"},
                   {:key=>"description",:label=>t(:label_irm_department_description),:sortable=>true},
                   {:key=>"status_meaning",:label=>t(:label_irm_department_status_code),:sortable=>true,:width=>"40px"}],
                   {:search_box=>"permissionsSearchBox"})%>
      </div>
    </div>
</div>