<%= page_title %>
<script type="text/javascript">
  GY.use(function(Y){
      Y.on("irm:change",function(e){
          if(e.details[2]=="Datatable"&&"supportGroupMembersDatatable"==e.details[0])
            e.details[1].on("selectedChange",function(e){
                var selected_code = "";
                for(var i=0;i<e.details[0].length;i++)
                  selected_code = selected_code + e.details[0][i].id +",";
                Y.one("#irm_support_group_member_status_code").set("value",selected_code);
            })
      });
  });
</script>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_select_result) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <%= form_for(@support_group_member,:url=>{:action=>"create_from_person"},:builder => LabellingFormBuilder) do |f| %>
                  <%= f.hidden_field(:status_code) %>
                  <div class="button"><%= f.submit t(:save)%></div>
                  <div class="button"><%= link_to(t(:cancel),{:controller =>"irm/people",:action=>"show",:id=>@person.id})%></div>
                <% end %>
              </td>
              <td class="pbHelp">
                <div id="selectablePersonSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <%= error_for @support_group_member %>
        <div id="supportGroupMembers" class="datatable" style="width:100%">
        </div>
        <%= datatable("supportGroupMembers",url_for(:action=>"get_person_support_group",:person_id=>@person.id),
                  [{:key=>"id",:hidden=>true},
                   {:key=>"name",:label=>t(:label_irm_support_group_name),:searchable=>true},
                   {:key=>"group_code",:label=>t(:label_irm_support_group_group_code),:searchable=>true},
                   {:key=>"company_name",:label=>t(:label_irm_support_group_company_name)},],
                   {:paginator_box=>"personPaginator",:search_box=>"selectablePersonSearchBox",:select=>"multiple"})%>
        <div id="personPaginator"></div>
      </div>
    </div>
</div>
