<%= page_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_ldap_syn_person_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="ldap_syn_peopleSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="ldap_syn_people" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:controller => "irm/ldap_syn_people",:action=>"edit",:id=>"{id}"}) %>|
            <%= link_to(t(:show),{:controller => "irm/ldap_syn_people",:action=>"show",:id=>"{id}"}) %>

          </div>
        </div>
        <%= datatable("ldap_syn_people",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"ldap_name",:label=>t(:label_irm_ldap_syn_person_name),:sortable=>true,:searchable=>true,:width=>"300px"},
                       {:key=>"auth_name",:label=>t(:label_icm_ldap_auth_header_name),:searchable=>true},
                       {:key=>"ldap_dn",:label=>t(:label_irm_ldap_base_dn),:searchable=>true},
                       {:key=>"description",:label=>t(:label_irm_ldap_description),:sortable=>true,:searchable=>true}
                      ],{:search_box=>"ldap_syn_peopleSearchBox"})%>

      </div>
    </div>
</div>


