
<div>
  <a style="display:inline-block;" href="<%= url_for :controller => "todo_events", :action => "index"%>" title="<%= t(:label_irm_todo_event_list_view)%>">
    <img src="/images/s.gif" class="listViewIconOn"/>
  </a>
  <a style="display:inline-block;" href="<%= url_for :controller => "todo_events", :action => "calendar_view"%>" title="<%= t(:label_irm_calendar_view)%>">
    <img src="/images/s.gif" class="monthViewIconOff"/>
  </a>
</div>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_todo_event) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:controller => "irm/todo_events", :action => "new"}%></div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="todo_events_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:controller => "irm/todo_events", :action=>"edit",:id=>"{id}"}) %>&nbsp;&nbsp;<%= link_to(t(:show),{:controller => "irm/todo_events", :action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("todo_events_list",url_for(:controller => "irm/todo_events", :action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"name",:label=>t(:label_irm_todo_event_name),:sortable=>true, :width => "200px"},
                       {:key=>"start_at",:label=>t(:label_irm_todo_event_start_at),:sortable=>true, :width => "100px"},
                       {:key=>"end_at",:label=>t(:label_irm_todo_event_end_at),:sortable=>true, :width => "100px"},
                       {:key=>"priority_name",:label=>t(:label_irm_todo_event_priority),:sortable=>true, :width => "100px"},
                       {:key=>"event_status_name",:label=>t(:label_irm_todo_event_event_status),:sortable=>true, :width => "80px"}],
                      {:paginator_box=>"todoEventsPaginator"})%>
        <div id="todoEventsPaginator"></div>
      </div>
    </div>
</div>