<div id="data_area">
  <% if @id_flex %>
    <div class="containerheader">
       <div class="floatleft headertitle"><%=t(:label_irm_id_flex_structure_list)%></div>
    </div>
    <div id="id_flex_structures_grid" class="datagrid"
        action_type="ajaxDhtmlxGrid"
        grid_header=" ,<%=t(:label_irm_id_flex_structure_code)%>, <%=t(:label_irm_id_flex_structure_name)%>,<%=t(:label_irm_id_flex_structure_description)%>,<%=t(:active)%>"
        grid_width="20,100,100,150,100"
        grid_col_types="ra,ed,ed,ed,ed"
        grid_OnRowSelected="rowSelectedHandler"
        grid_paging_skin="bricks"
        enable_paging="true, 15, null, 'pagingArea', true, 'infoArea'"
        grid_load="'<%= url_for(:action => "get_data", :controller => "irm/id_flex_structures", :id_flex_code => @id_flex.id_flex_code, :format=>:json) %>','','json'">
    </div><span id="infoArea"></span>
    <span id="recfound"></span>
    <div class="containerfooter">
      <div class="floatleft"><span id="pagingArea"></span></div>
        <div class="floatright">
            <div class="button" id = "btn_save"><a href="javascript:void(0);" onclick="saveEditIdFlexStructureRow();" ><%= t(:save) %></a></div>
            <div class="button" id = "btn_add" onclick="addIdFlexStructureEditRow('id_flex_structures_grid', '<%= @id_flex.id_flex_code%>');"><a href="javascript:void(0);"><%= t(:add) %></a></div>
            <div class="button"><a href="javascript:void(0);" onclick="removeEditRow('id_flex_structures_grid');"><%= t(:delete) %></a></div>
            <div class="button"><%= link_to t(:label_irm_add_id_flex_segments), {:controller=>"irm/id_flex_segments",:action=>"index",:id_flex_structure_id=>":id"}, {:action_type => "ajaxLink", :script => "/replace(containers,containers);/", :id => "add_flex_segments"}%></div>
        </div>      
    </div>
    <script>
        var gridEdit="";
        function rowSelectedHandler(id, ind){
            dhtmlx_grid_array['id_flex_structures_grid'].cells(id, 0).setValue("1");
            replaceLink(id);
        }
        function addIdFlexStructureEditRow(id,idFlexCode) {
            var grid = dhtmlx_grid_array[id];
            var newId = (new Date()).valueOf();
            grid.addRow(newId,"",grid.getRowsNum());
            grid.selectRow(grid.getRowIndex(newId),false,false,true);
            gridEdit = new dataProcessor('/id_flex_structures/create_entry?id_flex_code=' + idFlexCode);
            gridEdit.init(grid);
            gridEdit.setUpdateMode("off");
            gridEdit.setTransactionMode("POST");
        }
        function removeIdFlexStructureRow(id){
            var grid = dhtmlx_grid_array[id];
            var selId = grid.getSelectedId();
            grid.deleteRow(selId);
        }
        function saveEditIdFlexStructureRow(){
            gridEdit.sendData();
        }
        function replaceLink(rowId){
           var action_temp="";
           if(rowId!=null&&rowId!=undefined){
              action_temp = "<%=url_for(:controller=>"irm/id_flex_segments",:action=>"index",:id_flex_structure_id=>":id")%>".replace(":id",rowId);
              $("#add_flex_segments").attr("href",action_temp);
           }
        }            
    </script>        
  <% end %>
</div>