<div id="id_flex_show">
     <div class="containerheader">
         <div class="floatleft headertitle"><%=t(:label_flex_choice)%></div>
         <div class="floatleft">
           <%= select("id_flex_choice",{}, available_id_flexes, {:include_blank => t(:select)}, {:onchange => "replaceLink();", :id => "id_flex_choice"})%>
         </div>
         <div class="floatleft"><div class="button" id = "flex_choice"><%= link_to t(:confirm), {:controller => "irm/id_flex_structures", :action => "show_parent", :id_flex_code => ":id", :format => "js"}, :id => "choice_confirm", :remote => true%></div></div>
     </div>
     <% if @id_flex %>
     <div class="containerbody">
     <table class="formtable" cellspacing="0">
         <tr>
           <td class="formlabel"><%=(t :label_irm_id_flex_code)%>:</td>
           <td class="formitem"><%=text_field_tag :id_flex_code, "", :value => @id_flex.id_flex_code, :readonly => true,:irm_uppercase=>true%></td>
           <td class="formlabel" rowspan="2"><%=t(:label_irm_id_flex_description)%>:</td>
           <td class="formitem" rowspan="2"><%= text_area_tag :description, "", :value => @id_flex.description, :rows => 1,:readonly => true%></td>
         </tr>
         <tr>
           <td class="formlabel"><%=(t :label_irm_id_flex_name)%>:</td>
           <td class="formitem"><%=text_field_tag :id_flex_name, "", :value => @id_flex.id_flex_name, :readonly=>true%></td>
         </tr>
     </table>
     </div>
     <% end %>
</div>
<script type="text/javascript">
    function replaceLink(){
       var rowId = $("#id_flex_choice").val();
       var action_temp="";
       if(rowId!=null&&rowId!=undefined){
          action_temp = "<%=url_for(:controller=>"irm/id_flex_structures",:action=>"show_parent",:id_flex_code=>":id", :format => "js")%>".replace(":id",rowId);
          $("#choice_confirm").attr("href",action_temp);
       }
    }
</script>
