<%= setting_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_id_flex_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="flexesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="flexes_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>&nbsp;
            <%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>
        </div>
        <%= datatable("flexes_list",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"id_flex_code",:label=>t(:label_irm_id_flex_code),:sortable=>true,:searchable=>true},
                       {:key=>"id_flex_name",:label=>t(:label_irm_id_flex_name),:sortable=>true,:searchable=>true},
                       {:key=>"description",:label=>t(:label_irm_id_flex_description),:sortable=>true},
                       {:key=>"status_code",:label=>t(:active),:sortable=>true,:formatter=>"Y.irm.template"}
                       ],
                       {:search_box=>"flexesSearchBox",:paginator_box=>"flexPaginator"})%>
        <div id="flexPaginator"></div>
      </div>
    </div>
</div>
