<div id="id_organization_new">
     <%= form_for(@organization,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
            <div class="containerheader">
                <div class="floatleft headertitle"><%=t(:label_irm_organization_new)%></div>
            </div>
            <table class="twocolumnstable" cellspacing="0">
                <tr>
                    <td class="twocolumn">
                       <table class="itemdetailtable">
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_organization_company_name)%>:</td>
                            <td><%=f.select :company_id,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_company,:id,:wrap_name)%></td>
                        </tr>
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_organization_short_name)%>:</td>
                            <td><%=f.text_field :short_name, :required=>true,:irm_uppercase=>true%></td>
                        </tr>                        
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_organization_name)%>:</td>
                            <td><%=f.text_field :name, :required=>true %></td>
                        </tr>
                       </table>
                    </td>
                    <td class="twocolumn" cellspacing="0">
                       <table class="itemdetailtable">
                        <div id="id_lookup_level">
                        <tr><td class="itemdetailtablelabel">
                              <%=t(:label_irm_organization_description)%>:
                           </td>
                           <td><%= f.text_area :description, :rows => 2%></td>
                        </tr>
                        </div>
                       </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>
            <div class="containerfooter">
                <div class="button floatright"><%= link_to t(:save), {:controller=>"irm/organizations",:action=>"create"}, {:action_type => "ajaxSubmit", :script => "/replace(system_message_box,system_message_box);reload_grid('id_organization_grid');/replace(system_message_box,system_message_box);"}%></div>
                <div class="button floatright"><%= link_to t(:cancel), {:action => "index"}, :script => "/replace(id_organization_index,id_organization_index);/", :action_type=>"ajaxLink"%></div>
            </div>
     <% end %>
</div>
