<%= page_title %>

<%= form_for(@lookup_value,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
<%= hidden_field_tag :lookup_type,@lookup_type %>
<%= hidden_field_tag :return_url,@return_url %>
<%= hidden_field_tag :_from,@_from %>
<%=f.hidden_field :lookup_type,:value=>@lookup_type%>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_lookup_value_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <% if @_from.to_s == "lookup_type" %>
              <div class="button"><%= link_to t(:cancel), @return_url%></div>
            <% else %>
              <div class="button"><%= link_to t(:cancel), {:action => "index",:lookup_type=>@lookup_type}%></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @lookup_value%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
          <span class="requiredLegend">
            <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
            </span>
          <span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
          </span>
      </span>
      <h3><%=t(:label_irm_lookup_value_info)%></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_lookup_code)%></label></td>
              <td class="dataCol"><%=f.text_field :lookup_code,:required=>true,:irm_uppercase=>true %></td>
              <td class="labelCol"><label><%=(t :label_start_date_active)%></label></td>
              <td class="dataCol"><%=f.text_field :start_date_active,:required=>true,:id=>"date1",:size=>18%>
                <button type="button" id="show1" title="Show Calendar">
                  <img src="assets/calbtn.gif" width="18" height="18" alt="Calendar" >
                </button>
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_meaning)%></label></td>
              <td class="dataCol"><%=f.text_field :meaning,:required=>true%></td>
              <td class="labelCol"><label><%=(t :label_end_date_active)%></label></td>
              <td class="dataCol"><%=f.text_field :end_date_active,:id=>"date2",:size=>18%>
                <button type="button" id="show2" title="Show Calendar">
                  <img src="assets/calbtn.gif" width="18" height="18" alt="Calendar" >
                </button>              
              </td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_description)%></label></td>
              <td class="dataCol"><%=f.text_area :description,:rows=>4%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <% if @_from.to_s == "lookup_type" %>
              <div class="button"><%= link_to t(:cancel), @return_url%></div>
            <% else %>
              <div class="button"><%= link_to t(:cancel), {:action => "index",:lookup_type=>@lookup_type}%></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<script type="text/javascript">
  GY.use( 'yui2-calendar','yui2-container',function(Y) {
      var YAHOO = Y.YUI2;
      var Event = YAHOO.util.Event,Dom = YAHOO.util.Dom;
       YAHOO.util.Event.onDOMReady(function () {
          show_irm_calendar(YAHOO,Event,Dom,"show1","date1","cal1");
          show_irm_calendar(YAHOO,Event,Dom,"show2","date2","cal2");
       });
  });
</script>

