<%= setting_title %>
<div class="filterOverview">
    <div class="bFilterView">
      <%= form_tag(:action => "select_lookup_type") do %>
      <span class="bFilter">
        <label style="text-align: left; font-weight: bold; padding-right: 0.69em;">
          <%= t(:label_irm_lookup_type_list) %>：</label>
        <span class="fBody">
            <%= select_tag(:lookup_type,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                           options_from_collection_for_select(available_lookup_type,:lookup_type,:wrap_meaning,@lookup_type.lookup_type)) %>
            <%= submit_tag t(:jump), :title => t(:jump), :class => "btn" %>
        </span>
        <span class="fFooter">
          <a href="javascript:void(0);">编辑</a> |
          <a href="javascript:void(0);">创建新视图</a>
        </span>
      </span>
      <% end %>
    </div>
</div>
<% if !@lookup_type.new_record? %>
<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_lookup_type_show) %></h2></td>
          <td class="pbButton">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
            <td class="labelCol"><label><%=(t :label_lookup_types)%></label></td>
              <td class="dataCol"><%=@lookup_type.lookup_type%></td>
              <td class="labelCol"><label><%=radio_button_tag :lookup_level,@lookup_type.lookup_level,{:disabled=>true}%>
                               	      <%=t(:label_global_level)%></label></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_meaning)%></label></td>
              <td class="dataCol"><%=@lookup_type[:meaning]%></td>
              <td class="labelCol"><label><%=radio_button_tag :lookup_level,@lookup_type.lookup_level,{:disabled=>true}%>
                                      <%=t(:label_extended_level)%></label></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_lookup_type_description)%></label></td>
              <td class="dataCol"><%=@lookup_type[:description]%></td>
              <td class="labelCol"><label><%=radio_button_tag :lookup_level,@lookup_type.lookup_level,:checked => true%>
                                      <%=t(:label_user_level)%></label></td>
              <td class="dataCol"></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_lookup_value_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new", :lookup_type => @lookup_type.lookup_type}%></div>
              </td>
              <td class="pbHelp">
                <div id="permissionsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="lookup_value" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= icon_link_edit({:controller=>"irm/lookup_values",:action=>"edit",:id=>"{id}",:lookup_type=>"{lookup_type}"}) %>&nbsp;
            <%= icon_link_show({:controller=>"irm/lookup_values",:action=>"show",:id=>"{id}",:lookup_type=>"{lookup_type}"}) %>
          </div>
        </div>
        <%= datatable("lookup_value",url_for(:controller=>"irm/lookup_values",:action=>"get_lookup_values", :lookup_type=>@lookup_type.lookup_type),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"lookup_type",:label=>(t :label_lookup_types),:sortable=>true,:searchable=>true,:width=>"10%"},
                       {:key=>"lookup_code",:label=>(t :label_irm_lookup_value_lookup_code),:sortable=>true,:searchable=>true,:width=>"10%"},
                       {:key=>"meaning",:label=>t(:label_irm_lookup_value_meaning),:sortable=>true,:searchable=>true,:width=>"20%"},
                       {:key=>"description",:label=>t(:label_irm_lookup_type_description),:searchable=>true,:sortable=>true},
                       {:key=>"start_date_active",:label=>t(:label_start_date_active),:sortable=>true,:width=>"10%"},
                       {:key=>"end_date_active",:label=>t(:label_end_date_active),:sortable=>true,:width=>"10%"},
                       {:key=>"status_meaning",:label=>t(:label_status_code),:sortable=>true,:width=>"40px"}],
                       {:search_box=>"permissionsSearchBox"}) %>
      </div>
    </div>
</div>
<% end %>
