<%= stylesheet_link_tag "/javascripts/yui3.3/datatable/assets/skins/sam/datatable.css"%>
<%= setting_title %>
<%= form_for(@company_access,:url=>{:action=>"create"},:builder => LabellingFormBuilder) do |f| %>
<%= hidden_field_tag "person_id",@person_id%>    
<%= hidden_field_tag "return_url",@return_url%>    
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_irm_company_access_new)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel), @return_url%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @company_access%>
    <div class="pbSubsection">
      <br>
      <div class="datatable">
      <div class="yui3-widget yui3-datatable">
        <div class="yui3-datatable-content">
      <table cellspacing="0" cellpadding="0" border="0" class='grid'>
        <thead class="yui3-datatable-columns">
            <tr class="yui3-datatable-first yui3-datatable-last">
              <th class="yui3-column"><div class="yui3-datatable-liner"><%= t(:label_irm_company_name) %></div></th>
              <th class="yui3-column"><div class="yui3-datatable-liner"><%= t(:label_irm_person_company_access_flag) %></div></th>
            </tr>
        </thead>
        <tbody class="yui3-datatable-data">
          <% for company in @companies %>
            <tr class="yui3-datatable-even">
                <%= hidden_field_tag "irm_company_access[#{company.id}][accessable_company_id]",company.id %>
                <%= hidden_field_tag "irm_company_access[#{company.id}][person_id]",@person_id%>
                <td class="yui3-column"><div class='yui3-datatable-liner'><%= company[:name] %></div></td>
                <td class="yui3-column">
                    <div class='yui3-datatable-liner'><%= check_box_tag "irm_company_access[#{company.id}][company_access_flag]",'Y',
                                      company_access_flag(@person_id,company.id,"company_access_flag"),{:disabled=>company.id.eql?(Irm::Company.current.id)}%>
                    </div>
                </td>

            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_to t(:cancel),@return_url%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

