<div id="id_site_new">
  <div id="id_window_message" >
  </div>
  <div class="container">
     <%= form_for(@site,:url=>{:action=>"create_site"},:builder => LabellingFormBuilder) do |f| %>
            <%=f.hidden_field :site_group_code,:value=>@current_site_group_code%>
            <div class="containerheader">
                <div class="floatleft headertitle"><%=t(:label_irm_site_new)%></div>
            </div>
            <table class="paddedtable" cellspacing="0">
               <tbody>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_site_site_code)%>:
                      </td>
                      <td>
                        <%=f.text_field :site_code,:required=>true,:irm_uppercase=>true%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_site_name)%>:
                      </td>
                      <td>
                        <%=f.text_field :name,:required=>true%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_site_description)%>:
                      </td>
                      <td>
                        <%=f.text_field :description%>
                      </td>
                  </tr>
                  <tr>
                      <td class="paddedtablelabel"><%=t(:label_irm_site_address_line)%>:
                      </td>
                      <td>
                       <%=f.text_area :address_line ,:cols => 60, :rows => 2,:required=>true%>
                     </td>
                  </tr>
                  <tr>
                    <table class="twocolumnstable" cellspacing="0">
                        <tr>
                            <td class="twocolumn">
                               <table class="itemdetailtable">
                                <tr>
                                    <td class="itemdetailtablelabel"><%=(t :label_irm_site_country)%>:</td>
                                    <td><%=f.select :country,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                        options_from_collection_for_select(available_country,:lookup_code,:wrap_meaning)%></td>
                                </tr>
                                <tr>
                                    <td class="itemdetailtablelabel"><%=(t :label_irm_site_city)%>:</td>
                                    <td><%=f.select :state_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                        options_from_collection_for_select(available_city,:lookup_code,:wrap_meaning)%></td>
                                </tr>
                                <tr>
                                    <td class="itemdetailtablelabel"><%=(t :label_irm_site_postal_code)%>:</td>
                                    <td><%=f.text_field :postal_code,:size=>5%></td>
                                </tr>
                               </table>
                            </td>
                            <td class="twocolumn" cellspacing="0">
                               <table class="itemdetailtable">
                                <tr>
                                    <td class="itemdetailtablelabel"><%=(t :label_irm_site_state)%>:</td>
                                    <td><%=f.select :city,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                        options_from_collection_for_select(available_province,:lookup_code,:wrap_meaning)%></td>
                                </tr>
                                <tr>
                                    <td class="itemdetailtablelabel"><%=(t :label_irm_site_timezone_code)%>:</td>
                                    <td><%=f.select :timezone_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_time_zone,:lookup_code,:wrap_meaning)%></td>
                                </tr>
                               </table>
                            </td>
                            <td width="10%"></td>
                        </tr>
                    </table>
                  </tr>
               </tbody>
             </table>
            <div class="containerfooter">
                <div class="button floatright"><%= link_to t(:save), {:controller=>"irm/site_groups",:action=>"create_site"}, {:action_type => "ajaxSubmit", :script => "/replace(id_window_message,system_message_box);reload_grid('id_site_grid');/replace(system_message_box,system_message_box);"}%></div>
                <div class="button floatright"><a href="javascript:void(0);" onclick="newSiteWins.window('new_site_win').close();reload_grid('id_site_grid');"><%=t(:close)%></a></div>
            </div>
     <% end %>
</div>
</div>
