   <div id="id_current_site_group">
     <div class="container">
     <%= form_for(@site_group,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_site_group_add_site)%> - <%= @site_group.group_code%></div>
                </div>
                <table class="twocolumnstable" cellspacing="0">
                    <tr>
                        <td class="twocolumn">
                           <table class="itemdetailtable">
                            <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_site_group_region_name)%>:</td>
                            <td><%=f.select :region_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_region,:region_code,:wrap_name,@site_group.region_code),{},{:disabled=>"disabled"}%></td>
                            </tr>
                            <tr>
                                <td class="itemdetailtablelabel"><%=(t :label_irm_site_group_group_code)%>:</td>
                                <td><%=f.text_field :group_code,:size=>40,:readonly=>"readonly"%></td>
                            </tr>
                            <tr>
                                <td class="itemdetailtablelabel"><%=(t :label_irm_site_group_name)%>:</td>
                                <td><%=f.text_field :name,:value=>@site_group[:name],:size=>40,:readonly=>"readonly" %></td>
                            </tr>
                            <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_site_group_status_code)%>:</td>
                            <td><%=f.select :status_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_status,:lookup_code,:wrap_meaning,@site_group.status_code),{},{:disabled=>"disabled"}%></td>
                            </tr>
                           </table>
                        </td>
                        <td class="twocolumn" cellspacing="0">
                           <table class="itemdetailtable">
                            <div id="id_lookup_level">
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_site_group_description)%>:
                               </td>
                               <td><%= f.text_area :description, :value => @site_group[:description], :cols => 40, :rows => 2 ,:readonly=>"readonly"   %></td>
                            </tr>
                            </div>
                           </table>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>
                <div class="containerfooter">
                </div>
     <% end %>
   </div>
   <div id="id_site_list">
      <div class="container">
        <div class="containerheader">
           <div class="floatleft headertitle"><%=t(:label_irm_site_list)%></div>
        </div>
        <div id="id_site_grid" class="datagrid"
        action_type="ajaxDhtmlxGrid"
        grid_image_path="/themes/default/images/dhtmlx/"
        grid_header=" ,<%=t(:label_irm_site_site_code)%>,<%=t(:label_irm_site_name)%>,<%=t(:label_irm_site_description)%>,<%=t(:label_irm_site_group_status_code)%>,<%=t(:multilingual)%>"
        grid_width="20,100,100,150,100,100"
        grid_col_types="ra,ro,ro,ro,ro,link"
        grid_align="center,left,left,left,center,left"
        grid_onRowDblClicked="replaceLink"
        grid_checkbox="replaceLink"
        grid_OnRowSelected="replaceLink"
        grid_load="'<%= url_for(:action => "get_current_group_site", :controller => "irm/site_groups",:id=>@site_group.id) %>','','json'">
        </div>
        <div id='id_new_site_win' style='display:none'></div>
        <div id='id_edit_site_win' style='display:none'></div>
        <script type="text/javascript" charset="utf-8">
        var editUrl="";
        function replaceLink(rowId){
           var action_temp="";
           if(rowId!=null&&rowId!=undefined){
              action_temp = "<%=url_for(:controller=>"irm/site_groups",:action=>"edit_site",:id=>":id",:site_group_code=>@site_group.group_code,
                                                        :site_group_id=>@site_group.id)%>".replace(":id",rowId);
              editUrl=action_temp;
           }
           doSelectRowAndCheckRadio("id_site_grid",rowId)
        }
        var newSiteWins,newSiteW;
        function newSiteOnLoad(){
            newSiteWins = new dhtmlXWindows();
            newSiteWins.enableAutoViewport(false);
            newSiteWins.attachViewportTo("system_content");
            newSiteWins.setImagePath("/bk_images/dhtmlx/");
            if($('#id_new_site_win').length<1){$('body').append("<div id='id_new_site_win' style='display:none'></div>");}
            newSiteW = newSiteWins.createWindow("new_site_win", 50, 30, 940, 360);
            newSiteW.setText("<%=t(:label_irm_site_new)%>");
            $('#id_new_site_win').load("<%= url_for(:controller=>"irm/site_groups",
                                                :action=>"add_site",:id=>@site_group.id,
                                                :site_group_code=>@site_group.group_code,
                                                :site_group_id=>@site_group.id)%>",
                                    function(){init($("#id_site_new"))});
            newSiteW.attachObject('id_new_site_win');
            newSiteW.button('close').hide();
            newSiteW.button('minmax1').hide();
            newSiteW.button('minmax2').hide();
            newSiteW.button('park').hide();
            newSiteW.setModal(true);
        }
        var editSiteWins,editSiteW;
        function editSiteOnLoad(){
            editSiteWins = new dhtmlXWindows();
            editSiteWins.enableAutoViewport(false);
            editSiteWins.attachViewportTo("system_content");
            editSiteWins.setImagePath("/bk_images/dhtmlx/");
            if($('#id_edit_site_win').length<1){$('body').append("<div id='id_edit_site_win' style='display:none'></div>");}
            editSiteW = editSiteWins.createWindow("edit_site_win", 50, 30, 940, 360);
            editSiteW.setText("<%=t(:label_irm_site_group_edit_site)%>");
            $('#id_edit_site_win').load(editUrl,
                                    function(){init($("#id_site_edit"))});
            editSiteW.attachObject('id_edit_site_win');
            editSiteW.button('close').hide();
            editSiteW.button('minmax1').hide();
            editSiteW.button('minmax2').hide();
            editSiteW.button('park').hide();
            editSiteW.setModal(true);
        }
        </script>
            <div class="containerfooter">
              <div class="button floatright">
                <a href="javascript:void(0);" onclick="newSiteOnLoad();">
                  <%= t(:label_irm_site_group_create_site) %></a>
              </div>
              <div class="button floatright">
                <a href="javascript:void(0);" onclick="editSiteOnLoad();">
                  <%= t(:label_irm_site_group_edit_site) %></a>
              </div>
              <div class="button floatright"><%= link_to t(:cancel), {:action => "index"},
                                                         :script => "/replace(id_site_group_index,id_site_group_index);/",
                                                         :action_type=>"ajaxLink"%></div>

            </div>
    </div>
   </div>
   </div>