<table class="toolsContent">
    <tbody>
        <tr>
          <td>
            <div class="toolsContentLeft">
              <div class="bSubBlock">
                <h3 class="lbHeader"><%= t(:common_report) %></h3>
                <div class="lbBody">
                  <ul>
                    <%= raw(show_module_report(category_code,{:report_purpose=>"REPORT"})) %>
                  </ul>
                </div>
                <div class="lbBody">
                  <div class="mainLink">
                    <%= link_to t(:go_to_report),url_for(:controller=>"irm/report_lists",
                                                             :action => "index") %>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="toolsContentLeft">
              <div class="bSubBlock">
                <h3 class="lbHeader"><%= t(:tool) %></h3>
                <div class="lbBody">
                  <ul>
                    <%= raw(show_module_report(category_code,{:report_purpose=>"IMPORT"})) %>
                  </ul>
                </div>
                <div class="lbBody">
                  <div class="mainLink">
                    <%= link_to t(:go_to_report),url_for(:controller=>"irm/report_lists",
                                                             :action => "index") %>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
</table>