<%= app_title({:title=>"#{t(:label_irm_report)}"}) %>
<div class="bOverviewSearch">
  <div><%= t(:label_please_input_search) %>
    <div class="pbSearch">
      <form onsubmit="if (window.ffInAlert) { return false; }if(this.search){this.search.blur();}"
            name="srch" method="GET" id="srch" action="/ui/rpt/Search">
        <input type="hidden" value="C" name="searchtype" id="searchtype">
        <input type="text" size="30" name="search" maxlength="255"
               id="srch_Input" class="searchTextBox"><input type="submit" title="<%= t(:find) %>"
                                                            name="go" class="btn" value="<%= t(:find) %>">
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  GY.use("irm",function(Y){
    //其中delegate 方法需要去找到针对于谁进行委托，这个时候，我们
    //需要制定针对id为rptminitabsbody下面的class为reportClass
    //进行dom元素进行处理
    Y.one('#rptminitabsbody').delegate("click",function(e){
          if(this.hasClass("showListButton")){
            this.removeClass("showListButton");
            this.addClass("hideListButton");
            Y.one('#'+this.getAttribute("child_id")).setStyle("display","block");
          }
          else{
            this.removeClass("hideListButton");
            this.addClass("showListButton");
            Y.one('#'+this.getAttribute("child_id")).setStyle("display","none");
          }

        }, '.reportClass')
  });
</script>

<div id="rptminitabsbody">
  <div class="bPageBlock secondaryPalette">
    <div class="pbHeader">
      <div class="buttons">
      </div>
    </div>
    <div class="pbBody">
      <div class="reportList">
        <%= raw(show_category_report("","SYSTEM_GLOBAL")) %>
        <%= raw(show_category_report("","INCIDENT_REQUEST")) %>
        <%= raw(show_category_report("","SURVEY")) %>
        <%= raw(show_category_report("","SERVICE_KNOWLEDGE_MANAGE")) %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do%>
    <%= render :partial =>"/icm/incident_requests/short_cut_new" %>
<% end %>