<%= app_title({:title=>"#{t(:label_irm_report)}"}) %>
<div class="bOverviewSearch">
  <div>
    <div class="pbSearch">
      <%= form_tag({:action => "index"}, {:id => "select_category_form"}) do %>
      <span class="bFilter">
        <label style="text-align: left; font-weight: bold; padding-right: 0.69em;"><%= t(:label_irm_report_category) %>：</label>
        <span class="fBody">
            <%= select_tag("report_category", options_for_select(available_report_categories, @report_category), {:include_blank => t(:all), :id => "report_category"}) %>
        </span>
        <span class="fFooter">
        </span>
      </span>
      <% end %>
    </div>
  </div>
</div>

<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_report_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
              </td>
              <td class="pbHelp">
                <div id="reportListSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="report_list" class="datatable" style="width:100%;">
          <div id="name" style="display:none">
            <a href="{url}">{name}</a>
          </div>
        </div>
        <%= datatable("report_list",url_for(:action=>"get_data", :report_category => @report_category,:format=>"json"),
                  [{:key=>"id",:label=>t(:operation),:hidden => true},
                   {:key=>"name",:label=>t(:label_irm_report_name),:formatter=>"Y.irm.template", :sortable=>true,:searchable=>true,:width=>"250px"},
                   {:key=>"category_name",:label=>t(:label_irm_report_category),:sortable=>true, :width => "100px"},
                   {:key=>"description",:label=>t(:label_irm_report_description),:sortable=>true},
                   {:key=>"page_controller",:label=>t(:label_irm_report_page_controller),:hidden=>true},
                   {:key=>"page_action",:label=>t(:label_irm_report_page_action),:hidden=>true},
                   {:key=>"url",:label=> "#",:hidden=>true}],
                   {:search_box=>"reportListSearchBox",:paginator_box=>"regionPaginator"})%>
        <div id="regionPaginator"></div>
      </div>
    </div>
</div>

<script type="text/javascript">

  GY.use(function(Y){
    Y.one('#report_category').on("change", function(e){
        document.forms["select_category_form"].submit();
    });
  });
</script>

<% content_for :sidebar do %>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end %>