<div class="bOverviewSearch">
  <div>输入用来查找匹配自定义报表的关键字。
    <div class="pbSearch">
      <form onsubmit="if (window.ffInAlert) { return false; }if(this.search){this.search.blur();}"
            name="srch" method="GET" id="srch" action="/ui/rpt/Search">
        <input type="hidden" value="C" name="searchtype" id="searchtype">
        <input type="text" title="输入搜索关键字" size="30" name="search" maxlength="255"
               id="srch_Input" class="searchTextBox"><input type="submit" title="查找报表"
                                                            name="go" class="btn" value=" 查找报表 ">
      </form>
    </div>
  </div>
</div>

<div id="rptminitabsbody">
  <div class="bPageBlock secondaryPalette">
    <div class="pbHeader">
      <div class="buttons">
      </div>
    </div>
    <div class="pbBody">
      <div class="reportList">

        <div class="reportListFolder">
          <div class="folderName secondaryPalette">
            <a href="#">
              <img class="hideListButton" src="/images/s.gif">
            </a>
            <h3><%= t(:label_icm_incident_report_all) %></h3>
          </div>
          <div class="reportEntry">
            <%= link_to "某时间段所有请求-紧急度",url_for(:controller=>"icm/incident_reports",
                                               :action=>"rpt_urgency_summary")%>
            <span>&nbsp;&ndash;&nbsp;
              <span class="entryDesc">显示某段时间里面所有请求的紧急度比例
              </span>
            </span>
          </div>
          <div class="reportEntry">
            <%= link_to "某时间段所有请求-请求类型",url_for(:controller=>"icm/incident_reports",
                                               :action=>"rpt_report_source_summary")%>
            <span>&nbsp;&ndash;&nbsp;
              <span class="entryDesc">显示某段时间里面所有请求的紧急度比例
              </span>
            </span>
          </div>
          <div class="reportEntry">
            <%= link_to "某时间段所有请求-来源类型",url_for(:controller=>"icm/incident_reports",
                                               :action=>"rpt_report_type_summary")%>
            <span>&nbsp;&ndash;&nbsp;
              <span class="entryDesc">显示某段时间里面所有请求的紧急度比例
              </span>
            </span>
          </div>
          <div class="reportEntry">
            <%= link_to "某时间段所有请求-影响度",url_for(:controller=>"icm/incident_reports",
                                               :action=>"rpt_impact_range_summary")%>
            <span>&nbsp;&ndash;&nbsp;
              <span class="entryDesc">显示某段时间里面所有请求的紧急度比例
              </span>
            </span>
          </div>
          <div class="reportEntry">
            <%= link_to "某时间段所有请求-优先级",url_for(:controller=>"icm/incident_reports",
                                               :action=>"rpt_priority_code_summary")%>
            <span>&nbsp;&ndash;&nbsp;
              <span class="entryDesc">显示某段时间里面所有请求的紧急度比例
              </span>
            </span>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>