<%= page_title %>
<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_skm_entry_status) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @entry_status}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_skm_entry_status_code)%></label></td>
              <td class="data2Col"><%= @setting.entry_status_code%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :name)%></label></td>
              <td class="data2Col"><%= @setting[:name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=t(:description)%></label></td>
              <td class="data2Col"><%= @setting[:description]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_skm_entry_status_visiable)%></label></td>
              <td class="data2Col"><%= @entry_status.visiable_flag%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>