<div id="data_area">
    <div class="containerheader">
       <div class="floatleft headertitle"><%=t(:label_irm_flex_value_list)%></div>
    </div>
    <div id="flex_values_grid" class="datagrid"
        action_type="ajaxDhtmlxGrid"
        grid_header=" , <%=t(:label_irm_flex_value_position)%>,<%=t(:label_irm_flex_value_name)%>,
        <%=t(:label_irm_flex_value_description)%>,<%=t(:label_irm_flex_value_start_date_active)%>,<%=t(:label_irm_flex_value_end_date_active)%>,
        <%= t(:multilingual)%>"
        grid_width="20,100,100,150,100,100,100"
        grid_col_types="ra,ed,ed,ed,dhxCalendar,dhxCalendar,link"
        grid_OnRowSelected="rowSelectedHandler"
        grid_paging_skin="bricks"
        enable_paging="true, 15, null, 'pagingArea', true, 'infoArea'"
        grid_load="'<%= url_for(:action => "get_data", :controller => "irm/flex_values", :value_set_id => @value_set.id, :format=>:json) %>','','json'">
    </div>
    <span id="pagingArea"></span>&nbsp;<span id="infoArea"></span>
    <span id="recfound"></span>

    <div class="containerfooter">
        <div class="floatright">
            <div class="button" id = "btn_save"><a href="javascript:void(0);" onclick="saveEditFlexValueRow();" ><%= t(:save) %></a></div>
            <div class="button" id = "btn_add" onclick="addFlexValueEditRow('flex_values_grid', '<%= @value_set.id%>');"><a href="javascript:void(0);"><%= t(:add) %></a></div>
            <div class="button"><%= link_to t(:cancel), {:action => "index", :controller => "irm/value_sets"}, :script => "/replace(containers,containers);/", :action_type=>"ajaxLink"%></div>
        </div>
    </div>
</div>

<script>
    var gridEdit="";
    function rowSelectedHandler(id, ind){
        dhtmlx_grid_array['flex_values_grid'].cells(id, 0).setValue("1");
    }
    function addFlexValueEditRow(id,valueSetId) {
        var grid = dhtmlx_grid_array[id];
        var newId = (new Date()).valueOf();
        grid.addRow(newId,"",grid.getRowsNum());
        grid.selectRow(grid.getRowIndex(newId),false,false,true);
        gridEdit = new dataProcessor('/flex_values/create_value?value_set_id='+valueSetId);
        gridEdit.init(grid);
        gridEdit.setUpdateMode("off");
        gridEdit.setTransactionMode("POST");
    }
    function removeEditFlexValueRow(id){
        var grid = dhtmlx_grid_array[id];
        var selId = grid.getSelectedId();
        grid.deleteRow(selId);
    }
    function saveEditFlexValueRow(){
        gridEdit.sendData();
    }
</script>