<%= setting_title %>
<div class="filterOverview">
    <div class="bFilterView">
      <%= form_tag(:action => "select_set") do %>
      <span class="bFilter">
        <label style="text-align: left; font-weight: bold; padding-right: 0.69em;"><%= t(:label_irm_value_set) %>：</label>
        <span class="fBody">
            <%= select("flex_value_set","value_set_id", available_flex_value_sets.collect{|p| [p.flex_value_set_name, p.id]}, {:include_blank => t(:select)}) %>
            <%= submit_tag t(:jump), :title => t(:jump), :class => "btn" %>
        </span>
        <span class="fFooter">
        </span>
      </span>
      <% end %>
    </div>
</div>
<% if @value_set %>
<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_value_set) %></h2></td>
          <td class="pbButton">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_value_set_name)%></label></td>
              <td class="data2Col"><%= @value_set.flex_value_set_name%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_value_set_description)%></label></td>
              <td class="data2Col"><%= @value_set.description%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :active)%></label></td>
              <td class="data2Col"><%= check_img(@value_set.status_code)%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_flex_value_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new", :value_set_id => @value_set}%></div>
              </td>
              <td class="pbHelp">
                <div id="flexValuesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="flex_values_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:action=>"edit",:id=>"{id}"}) %>&nbsp;&nbsp;<%= link_to(t(:show),{:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("flex_values_list",url_for(:action=>"get_data",:format=>"json", :value_set_id => @value_set),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"display_sequence",:label=>t(:label_irm_flex_value_position), :width => "80px"},
                       {:key=>"flex_value",:label=>t(:label_irm_flex_value_name), :searchable=>true},
                       {:key=>"description",:label=>t(:label_irm_flex_value_description)},
                       {:key=>"start_date_active",:label=>t(:label_irm_flex_value_start_date_active)},
                       {:key=>"end_date_active",:label=>t(:label_irm_flex_value_end_date_active)}],
                       {:search_box=>"flexValuesSearchBox"})%>
      </div>
    </div>
</div>
<% end %>
