<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_identity_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:controller => "irm/identities", :action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="identitiesSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="identities_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= link_to(t(:edit),{:controller => "irm/identities", :action=>"edit",:id=>"{id}"}) %>&nbsp;
            <%= link_to(t(:show),{:controller => "irm/identities", :action=>"show",:id=>"{id}"}) %>
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>          
        </div>
        <%= datatable("identities_list",url_for(:controller => "irm/identities", :action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"login_name",:label=>t(:label_irm_identity_login_name),:sortable=>true,:searchable=>true},
                       {:key=>"full_name",:label=>t(:label_irm_identity_full_name),:sortable=>true,:searchable=>true},
                       {:key=>"email",:label=>t(:label_irm_identity_email),:sortable=>true,:searchable=>true},
                       {:key=>"language_description",:label=>t(:label_irm_identity_language_code),:sortable=>true},
                       {:key=>"status_code",:label=>t(:active),:sortable=>true,:formatter=>"Y.irm.template",:width=>"80px"}
                       ],{:row_perpage=>20,:search_box=>"identitiesSearchBox",:paginator_box=>"identitiesPaginatorBox"})%>
        <div id="identitiesPaginatorBox"></div>
      </div>
    </div>
</div>    