<div id="form_area" class="container">
  <%= form_for(@identity,:url=>{:action=>"update_info"},:builder => LabellingFormBuilder,:remote=>true,:html=>{:zone=>"system_content"}) do |f| %>
             <div class="containerheader">
                 <div class="floatleft headertitle"><%=t(:label_irm_identity_edit_info)%> - <%= @identity.login_name%></div>
             </div>
         <table class="twocolumnstable" cellspacing="0">
             <tr>
                 <td class="twocolumn">
                    <table class="itemdetailtable">
                         <tr><td class="itemdetailtablelabel"><%=(t :label_irm_identity_login_name)%>:</td>
                           <td><%=f.text_field :login_name, :size=>40,:readonly=>true%></td>
                         </tr>
                         <tr><td class="itemdetailtablelabel"><%=(t :label_irm_identity_email)%>:</td>
                           <td><%=f.text_field :email, :size=>40,:required=>true%></td>
                         </tr>
                    </table>
                 </td>
                 <td class="twocolumn" cellspacing="0">
                    <table class="itemdetailtable">
                         <tr><td class="itemdetailtablelabel"><%=(t :label_irm_identity_full_name)%>:</td>
                           <td><%=f.text_field :full_name, :size=>40,:required=>true%></td>
                         </tr>
                         <tr><td class="itemdetailtablelabel"><%=(t :label_irm_identity_language_code)%>:</td>
                           <td><%= f.select(:language_code, options_for_select(selectable_languages,@identity.language_code)) %> </td>
                         </tr>
                    </table>
                 </td>
                 <td width="10%"></td>
             </tr>
         </table>
             <div class="containerfooter">
                 <div class="button floatright" ><%= link_to t(:save),{},:type=>'submit'%></div>
                 <div class="button floatright"><%= link_to t(:cancel), {:action => "my_info"},:zone=>"system_content"%></div>
             </div>
  <% end %>
</div>
