<div class="container">
  <div class="pagetitle">账号设置</div>
</div>
<div class="container">
  <div class="discontainerheader bluetop">
    <table class="bartable">
      <tr>
        <td class="left"><div class="headertitle"><%=t(:label_irm_identity_edit)%> - <%= @identity.login_name%></div></td>
        <td class="middle">
          <div class="button"><%= link_to t(:edit), {:action => "edit_info"},:zone=>"system_content"%></div>
          <div class="button" ><%= link_to t(:edit_password), {:action=>"edit_password"},:zone=>"system_content"%></div>
        </td>
        <td class="right"><span class="headertip"><a>i am tips</a></span></td>
      </tr>
    </table>
  </div>
  <div class="discontainerbody">
  <table class="showtable" cellspacing="0">
      <tr>
          <td class="showlabel"><%=(t :label_irm_identity_login_name)%>:</td>
          <td class="showitem"><%=@identity.login_name%></td>
          <td class="showlabel"><%=(t :label_irm_identity_full_name)%>:</td>
          <td class="showitem"><%=@identity.full_name%></td>
      </tr>
      <tr>
          <td class="showlabel"><%=(t :label_irm_identity_email)%>:</td>
          <td class="showitem"><%=@identity.email%></td>
          <td class="showlabel"><%=(t :label_irm_identity_language_code)%>:</td>
          <td class="showitem"><%= @identity[:language_description]%></td>
      </tr>
      <tr>
          <td class="showlabel"><%=(t :label_irm_identity_password)%>:</td>
          <td class="showitem"><%=@identity.last_login_at%></td>
      </tr>
  </table>
  </div>
  <div class="discontainerfooter">
    <table class="bartable">
      <tr>
        <td class="left"></td>
        <td class="middle">
          <div class="button"><%= link_to t(:edit), {:action => "edit_info"},:zone=>"system_content"%></div>
          <div class="button" ><%= link_to t(:edit_password), {:action=>"edit_password"},:zone=>"system_content"%></div>
        </td>
        <td class="right"></td>
      </tr>
    </table>
  </div>
</div>
