   <div id="id_currency_edit">
     <%= form_for(@currency,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_currency_edit)%> - <%= @currency.currency_code%></div>
                </div>
                <table class="twocolumnstable" cellspacing="0">
                    <tr>
                        <td class="twocolumn">
                           <table class="itemdetailtable">
                            <tr>
                                <td class="itemdetailtablelabel"><%=(t :label_irm_currency_currency_code)%>:</td>
                                <td><%=f.text_field :currency_code, :readonly=>"readonly"%></td>
                            </tr>
                            <tr>
                                <td class="itemdetailtablelabel"><%=(t :label_irm_currency_precision)%>:</td>
                                <td><%=f.text_field :precision, :required=>true %></td>
                            </tr>
                            <tr>
                                <td class="itemdetailtablelabel"><%=(t :label_irm_currency_name)%>:</td>
                                <td><%=f.text_field :name,:value=>@currency[:name], :required=>true %></td>
                            </tr>
                            <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_currency_status_code)%>:</td>
                            <td><%=f.select :status_code,"<option value=\"\">--- #{t(:actionview_instancetag_blank_option)} ---</option>".html_safe +
                                                options_from_collection_for_select(available_status,:lookup_code,:wrap_meaning,@currency.status_code)%></td>
                            </tr>
                           </table>
                        </td>
                        <td class="twocolumn" cellspacing="0">
                           <table class="itemdetailtable">
                            <div id="id_lookup_level">
                               <tr><td class="itemdetailtablelabel">
                                     <%=t(:label_irm_currency_description)%>:
                               </td>
                               <td><%= f.text_area :description, :value => @currency[:description], :rows => 2    %></td>
                            </tr>
                            </div>
                           </table>
                        </td>
                        <td width="10%"></td>
                    </tr>
                </table>
                <div class="containerfooter">
                    <div class="button floatright" ><%= link_to t(:save), {:controller=>"irm/currencies",:action=>"update"}, {:action_type => "ajaxSubmit", :script => "/reload_grid('id_currency_grid');replace(system_message_box,system_message_box);/replace(system_message_box,system_message_box);"}%></div>
                    <div class="button floatright"><%= link_to t(:cancel), {:action => "new"}, :script => "/replace(id_currency_new,id_currency_new);/", :action_type=>"ajaxLink"%></div>
                </div>
     <% end %>
   </div>
