<% if tasks.blank? %>
<div style="font-size: 15px;"><%= t(:label_no_data) %></div>
 <% else %>
<div class="datatable">
  <div class="yui3-widget yui3-datatable">
    <div class="yui3-datatable-content">
        <table id='rows' cellspacing="0" cellpadding="0" class='grid'>
          <thead class="yui3-datatable-columns">
            <tr class="yui3-datatable-first yui3-datatable-last">
              <th class="yui3-column" style="width:220px">
                <div class="yui3-datatable-liner"><%= t(:label_irm_todo_task_name) %>
                </div>
              </th>
              <th class="yui3-column" style="width:180px;">
                <div class="yui3-datatable-liner"><%= t(:label_irm_todo_task_due_date) %>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="yui3-datatable-data">
          <% tasks.each do |task| %>
          <tr id="<%=task%>" class="yui3-datatable-even">
            <td class="yui3-column">
              <div class='yui3-datatable-liner'>
                <%=link_to task[:name], {:controller => "irm/todo_tasks", :action => "show", :id => task.id}%>
              </div>
            </td>
            <td class="yui3-column">
              <div class='yui3-datatable-liner'>
                <%=task[:due_date].strftime("%F")%>
              </div>
            </td>
          </tr>
          <% end -%>
          </tbody>
        </table>
    </div>
  </div>
</div>
<% end %>