<%= stylesheet_link_tag "/javascripts/yui3.3/datatable/assets/skins/sam/datatable.css"%>
<% if allow_to_function?(:view_todo_tasks) %>
<div class="bSubBlock">
<h3 class="lbHeader"></h3>
<table cellpadding="0" cellspacing="0" border="0" style="width:100%">
  <tbody>
    <tr>
      <td class="pbTitle"><h3 class="lbHeader"><%= t(:label_irm_todo_task) %></h3></td>
      <td id="topButtonRow" class="pbButton">
        <div class="button"><%= link_to t(:new), :controller => "irm/todo_tasks", :action => "new"%></div>
      </td>
      <td class="pbHelp">
        <%= link_to t(:display_all), {:controller => "irm/todo_tasks", :action => "index"}, :style => "float:right; margin-left:5px;" %>
        <%= form_tag url_for({:controller => "irm/todo_tasks", :action => "get_top_data", :format => "js"}), {:id => "task_display_opts", :remote => true} do %>
        <%= select_tag "opts", options_for_select(available_tasks_list_options, "open"), :id => "opts"%>
            <%= submit_tag "submit", :style => "display:none;", :id => "submit_opts"%>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div class="lbBody">
  <% if @tasks.nil? %>
    <% @tasks = Irm::TodoTask.with_all.with_task_status.with_priority.uncompleted.with_calendar.with_open.assigned_to(Irm::Person.current.id)%>
  <% end %>
  <div id="todo_tasks_list">
    <%= render :partial => "irm/todo_tasks/top_data_table", :locals => {:tasks => @tasks}%>
  </div>
</div>
</div>
<script type="text/javascript">

  GY.use(function(Y){
    Y.one('#opts').on("change", function(e){
//        document.forms["task_display_opts"].submit();
        Y.one("#submit_opts").simulate("click");
    });
  });
</script>

<% end %>
