<%= app_title %>

<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_todo_task) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:controller => "irm/todo_tasks", :action => "new"}%></div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="my_tasks_list" class="datatable" style="width:100%">
          <div id="id" style="display:none;">
            <%= link_to(t(:edit),{:controller => "irm/todo_tasks", :action=>"edit",:id=>"{id}"}) %>&nbsp;&nbsp;<%= link_to(t(:show),{:controller => "irm/todo_tasks", :action=>"show",:id=>"{id}"}) %>
          </div>
          <div id="color" style="display:none;">
            <%= content_tag :img, "", :src => "/images/s.gif", :style => "width:16px; height:16px; background-color:{color}};"%>
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>
        </div>
        <%= datatable("my_tasks_list",url_for(:controller => "irm/todo_tasks", :action=>"my_tasks_get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                       {:key=>"name",:label=>t(:label_irm_todo_task_name),:sortable=>true, :width => "150px"},
                       {:key=>"start_at",:label=>t(:label_irm_todo_task_start_at),:sortable=>true, :width => "100px"},
                       {:key=>"due_date",:label=>t(:label_irm_todo_task_due_date),:sortable=>true, :width => "100px"},
                       {:key=>"priority_name",:label=>t(:label_irm_todo_task_priority),:sortable=>true, :width => "100px"},
                       {:key=>"task_status_name",:label=>t(:label_irm_todo_task_task_status),:sortable=>true, :width => "80px"}])%>
      </div>
    </div>
</div>
<% content_for :sidebar do %>
    <%= render :partial =>"/irm/common/recently_objects" %>
<% end %>