<%= setting_title %>

<%= form_for(@group_assignment,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
<div id="ep" class="bEditBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%=t(:label_icm_group_assignment_edit)%></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <%= error_for @group_assignment%>
    <div id="head_1_ep" class="pbSubheader first tertiaryPalette">
      <span class="pbSubExtra">
        <span class="requiredLegend">
          <span class="requiredExampleOuter">
            <span class="requiredExample">&nbsp;</span>
          </span><span class="requiredMark">*</span>
          <span class="requiredText"> = <%=t(:label_is_required)%></span>
        </span>
      </span>
      <h3><%= t(:label_common_info) %></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label for="ass_support_group"><%=t(:label_icm_incident_request_support_group)%></label></td>
              <td class="dataCol"><%=f.select :support_group_code,
                                              available_ass_support_groups,
                                              {},
                                              {:id=>"support_group", :required => true}%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><label for="ass_company"><%=t(:label_irm_company_name)%></label></td>
              <td class="dataCol"><%=f.select :customer_company_id,
                                              available_ass_companies,
                                              {},
                                              {:id=>"ass_company", :required => true}%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><label for="ass_organization"><%=t(:label_irm_location_organization)%></label></td>
              <td class="dataCol"><%=f.select :customer_organization_id,
                                              nullable_options_for_select(temp_ava_organizations_edit(@group_assignment.customer_company_id),@group_assignment.customer_organization_id),
                                              {},
                                              {:id=>"ass_organization",
                                               :depend=>"ass_company",
                                               :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                               :href=>url_for(:controller=>"icm/group_assignments",:action=>"get_customer_organizations",:format=>"json",:customer_company_id=>"{ass_company}")}%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><label for="ass_department"><%=t(:label_irm_location_department)%></label></td>
              <td class="dataCol"><%=f.select :customer_department_id,
                                              nullable_options_for_select(temp_ava_departments_edit(@group_assignment.customer_organization_id),@group_assignment.customer_department_id),
                                              {},
                                              {:id=>"ass_department",
                                               :depend=>"ass_organization",
                                               :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                               :href=>url_for(:controller=>"icm/group_assignments",:action=>"get_customer_departments",:format=>"json",:customer_organization_id=>"{ass_organization}")}%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>
            <tr>
              <td class="labelCol"><label for="ass_people"><%=t(:label_irm_person)%></label></td>
              <td class="dataCol"><%=f.select :customer_person_id,
                                              nullable_options_for_select(temp_ava_people_edit(@group_assignment.customer_department_id),@group_assignment.customer_person_id),
                                              {},
                                              {:id=>"ass_people",
                                              :depend=>"ass_department",
                                              :blank=> "--- #{t(:actionview_instancetag_blank_option)} ---",
                                              :href=>url_for(:controller=>"icm/group_assignments",:action=>"get_customer_people",:format=>"json",:customer_department_id=>"{ass_department}")}%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>            
            <tr>
              <td class="labelCol"><label for="ass_status_code"><%=(t :active)%></label></td>
              <td class="dataCol"><%=f.select :status_code, available_active_status, {}, {:id => "ass_status_code"}%></td>
              <td class="labelCol"></td>
              <td class="dataCol"></td>
            </tr>        
        </tbody>
      </table>
    </div>
  </div>
  <div class="pbBottomButtons">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"></td>
          <td id="bottomButtonRow" class="pbButtonb">
            <div class="button"><%= f.submit t(:save)%></div>
            <div class="button"><%= link_back t(:cancel)%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<script type="text/javascript">
  GY.use("cascadeselect",function(Y){
     new Y.CascadeSelect({source: "#ass_company",target:["#ass_organization"]});
     new Y.CascadeSelect({source: "#ass_organization",target:["#ass_department"]});
     new Y.CascadeSelect({source: "#ass_department",target:["#ass_people"]});
  });
</script>

