    <div id="id_region_list" class="container">
        <div class="containerheader">
           <div class="floatleft headertitle"><%=t(:label_irm_region_list)%></div>
        </div>
        <div id="id_region_grid" class="datagrid"
        action_type="ajaxDhtmlxGrid"
        grid_header=" ,<%=t(:label_irm_region_region_code)%>,<%=t(:label_irm_region_name)%>,<%=t(:label_irm_region_description)%>,<%=t(:label_irm_region_status_code)%>,<%=t(:multilingual)%>"
        grid_width="20,100,100,100,150,100"
        grid_col_types="ra,ro,ro,ro,ro,link"
        grid_align="center,left,left,left,center,left"
        grid_onRowDblClicked="doOnRowDblClicked"
        grid_checkbox="selectRowAndRadio"
        grid_OnRowSelected="selectRowAndRadio"
        grid_load="'<%= url_for(:action => "get_data", :controller => "irm/regions",:format=>:json) %>','','json'">
        </div>
        <script type="text/javascript" charset="utf-8">
        function doOnRowDblClicked(rowId,cInd){
           processDblClicked("id_region_new","","<%= url_for(:action => "edit", :controller => "irm/regions",:id=>":id")%>",rowId);
        }
        function selectRowAndRadio(rowId){
            doSelectRowAndCheckRadio("id_region_grid",rowId)
        }
        </script>
            <div class="containerfooter">
            </div>
    </div>