<%= setting_title %>

<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_global_setting) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubheader tertiaryPalette">&nbsp;
      <h3><%=t(:label_common_info)%><span class="titleSeparatingColon"></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><%= t(:label_irm_global_setting_theme_name)%></td>
              <td class="data2Col"><div><%= @global_setting.theme_name %></div></td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_global_setting_upload_file_limit) %></td>
              <td class="data2Col"><div><%= @global_setting.upload_file_limit %></div></td>
            </tr>
            <tr>
              <td class="labelCol"><%= t(:label_irm_global_setting_timezone)%></td>
              <td class="data2Col"><div><%= @global_setting[:timezone_meaning] %></div></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="pbSubheader tertiaryPalette">&nbsp;
      <h3><%=t(:label_irm_global_setting_logo)%><span class="titleSeparatingColon"></span></h3>
    </div>
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(@settings.query_by_code("APP_TOP_LOGO").first[:name])%></label></td>
              <td class="data2Col">
              <%= image_tag @settings.query_by_code("APP_TOP_LOGO").first.img.url, :style => "width: 175px; height:65px; border: 1px solid #c9c9c9 !important" %></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@settings.query_by_code("LOGIN_PAGE_LOGO").first[:name])%></label></td>
              <td class="data2Col">
              <%= image_tag @settings.query_by_code("LOGIN_PAGE_LOGO").first.img.url, :style => "width: 300px; height:124px; border: 1px solid #c9c9c9 !important" %></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(@settings.query_by_code("ADDRESS_BAR_LOGO").first[:name])%></label></td>
              <td class="data2Col">
              <%= image_tag @settings.query_by_code("ADDRESS_BAR_LOGO").first.img.url, :style => "width: 16px; height:16px; border: 1px solid #c9c9c9 !important" %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>