   <div id="id_support_group_edit">
     <div class="container">
     <%= form_for(@support_group,:url=>{:action=>"update"},:builder => LabellingFormBuilder) do |f| %>
                <div class="containerheader">
                    <div class="floatleft headertitle"><%=t(:label_irm_support_group_edit)%> - <%= @support_group.group_code%></div>
                </div>
                <table class="twocolumnstable" cellspacing="0">
                <tr>
                    <td class="twocolumn">
                       <table class="itemdetailtable">
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_support_group_group_code)%>:</td>
                            <td><%=f.text_field :group_code, :readonly=>"readonly"%></td>
                        </tr>
                        <tr>
                            <td class="itemdetailtablelabel"><%=(t :label_irm_support_group_name)%>:</td>
                            <td><%=f.text_field :name,:value=>@support_group[:name],:required=>true%></td>
                        </tr>
                       </table>
                    </td>
                    <td class="twocolumn" cellspacing="0">
                       <table class="itemdetailtable">
                        <div id="id_lookup_level">
                        <tr>
                          <td class="itemdetailtablelabel">
                              <%=t(:label_irm_support_group_description)%>:
                           </td>
                           <td><%= f.text_area :description, :value=>@support_group[:description],:rows => 2%></td>
                        </tr>
                        </div>
                       </table>
                    </td>
                    <td width="10%"></td>
                </tr>
            </table>

                <div id="id_support_group_tabbar" style="width:auto; height:295px;"
                 action_type="ajaxDhtmlxTabbar"
                 tabbar_skin="dhx_skyblue"
                 tabbar_image_path="/themes/default/images/dhtmlx/"
                 tabbar_a1_params="'a1', '<%=t(:label_irm_support_group_base_info)%>', '100px'"
                 tabbar_a2_params="'a2', '<%=t(:label_irm_support_group_member)%>', '100px'"
                 tabbar_a1_content_params="'a1', 'id_support_group_info','COMMON'"
                 tabbar_a2_content_params="'a2', 'id_support_group_member','CUSTOMER_AJAX'"
                 tabbar_active="a1">
                </div>
                <div id="id_support_group_info" >
                    <%= render :partial=>"base_info",:locals=>{:f=>f,:support_group=>@support_group} %>
                </div>
                <div id="id_support_group_member" href="/support_groups/add_persons?support_group_code=<%=@support_group.group_code%>">
                </div>
     <% end %>
   </div>
</div>