<div class="container">
    <div id="id_window_message" >
    </div>
    <div class="containerheader">
        <div class="floatleft headertitle"><%=t(:actionview_instancetag_blank_option)%></div>
    </div>
    <div id="id_person_choose_person_grid" class="datagrid" style="height:207px !important;"
       action_type="ajaxDhtmlxGrid"
       grid_header=" ,<%=t(:label_irm_person_person_name)%>,<%=t(:label_irm_person_email_address)%>,
                      <%=t(:label_irm_person_mobile_phone)%>"
       grid_width="20,150,150,150"
       grid_col_types="ch,ro,ro,ro"
       enable_paging="true, 12, null, 'pagingArea', true, 'infoArea'"
       grid_attachHeader = "&nbsp;,#text_search,#text_search,#text_search,&nbsp;"
       grid_align="center,left,left,left"
       grid_load="'<%= url_for(:action => "get_choose_people", :controller => "irm/people",:support_group_code=>@support_group_code) %>','','json'">
    </div>
    <span id="infoArea"></span>
    <span id="recfound"></span>
    <script type="text/javascript" charset="utf-8">
      function getCheckRows(){
         var personGrid = dhtmlx_grid_array['id_person_choose_person_grid'];
         $("#person_choose_list").attr('value',personGrid.getCheckedRows(0));
      }      
    </script>
    <%= form_tag({:controller=>"irm/support_groups",:action=>"create_member"}) do %>
    <%=hidden_field_tag :support_group_code,@support_group_code%>
    <%=hidden_field_tag "person_choose_list"%>
    <div class="containerfooter">
        <div class="floatleft"><span id="pagingArea"></span></div>
        <div class="button floatright">
           <%=link_to t(:save) ,{:controller=>"irm/support_groups",:action=>"create_member"},
                                 :script => "getCheckRows();/replace(id_window_message,system_message_box);/",
                                 :action_type=>"ajaxSubmit"%>
        </div>
        <div class="button floatright"><a href="javascript:void(0);" onclick="supportWins.window('person_win').close();reload_grid('id_person_add_person_grid');"><%=t(:close)%></a></div>
    </div>
    <% end %>
</div>