<%= setting_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_support_group_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="permissionsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="support_group" class="datatable" style="width:100%;">
          <div id="id" style="display:none">
            <%= icon_link_edit({:action=>"edit",:id=>"{id}"}) %>
            <%= icon_link_show({:action=>"show",:id=>"{id}"}) %>
          </div>
        </div>
        <%= datatable("support_group",url_for(:action=>"get_data",:format=>"json"),
                  [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                   {:key=>"group_code",:label=>t(:label_irm_support_group_group_code),:sortable=>true,:searchable=>true,:width=>"10%"},
                   {:key=>"name",:label=>t(:label_irm_support_group_name),:sortable=>true,:searchable=>true,:width=>"15%"},
                   {:key=>"company_name",:label=>t(:label_irm_support_group_company_name),:sortable=>true,:searchable=>true,:width=>"15%"},
                   {:key=>"organization_name",:label=>t(:label_irm_support_group_organization_name),:sortable=>true,:searchable=>true,:width=>"15%"},
                   {:key=>"support_role_name",:label=>t(:label_irm_support_group_support_role),:sortable=>true,:width=>"15%"},
                   {:key=>"vendor_group_flag",:label=>t(:label_irm_support_group_vendor_group),:sortable=>true},
                   {:key=>"oncall_group_flag",:label=>t(:label_irm_support_group_oncall_group),:sortable=>true},
                   {:key=>"status_meaning",:label=>t(:label_irm_support_group_status_code),:sortable=>true,:width=>"40px"}],
                   {:paginator_box=>"supportgroupPaginator",:search_box=>"permissionsSearchBox"})%>
        <div id="supportgroupPaginator"></div>
      </div>
    </div>
</div>