<%= setting_show_title(:show_data => @support_group.group_code) %>
<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_support_group_show) %>&nbsp;<%= t(:label_detail_info) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @support_group}%></div>
            <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
            <div class="button"><%= link_to t(:back), {:action => "index"}%></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_support_group_group_code)%></label></td>
              <td class="dataCol"><%=@support_group.group_code%></td>
              <td class="labelCol"><label><%=(t :label_irm_support_group_company_name)%></label></td>
              <td class="dataCol"><%=@support_group[:company_name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_support_group_name)%></label></td>
              <td class="dataCol"><%=@support_group[:name]%></td>
              <td class="labelCol"><label><%=(t :label_irm_support_group_organization_name)%></label></td>
              <td class="dataCol"><%=@support_group[:organization_name]%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_support_group_description)%></label></td>
              <td class="dataCol"><%=@support_group[:description]%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_support_group_oncall_group)%></label></td>
              <td class="dataCol"><%=@support_group.oncall_group_flag%></td>
              <td class="labelCol"><%=(t :label_irm_support_group_support_role)%></td>
              <td class="dataCol"><%=@support_group.support_role_name%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_support_group_vendor_group)%></label></td>
              <td class="dataCol"><%=@support_group.vendor_group_flag%></td>
              <td class="labelCol empty">&nbsp;</td>
              <td class="dataCol empty">&nbsp;</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="id_support_group_person" class="bRelatedList">
    <a name="id_support_group_person_target">
    </a>
    <div class="listRelatedObject taskBlock">
      <div class="bPageBlock secondaryPalette">
        <div class="pbHeader">
          <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
              <td class="pbTitle">
                <h3 id="id_support_group_person_title"><%=t(:label_irm_support_group_member)%></h3>
              </td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:label_irm_support_group_add_person), {:controller=>"irm/support_group_members",
                                                          :action => "select_person",:support_group_code=>@support_group.group_code}%></div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="id_company_access" class="pbBody">
          <div id="person" class="datatable" style="width:100%;">
            <div id="id" style="display:none">
              <%= link_to(t(:delete),{:controller=>"irm/support_group_members",:action=>"delete",:id=>"{id}",
                                      :support_group_id=>@support_group.id},:confirm => t(:label_are_you_sure) ,
                                      :method => :delete) %>
            </div>
          </div>
          <!-- Begin company access table -->
            <%= datatable("person",url_for(:controller=>"irm/support_group_members",:action=>"get_data",:support_group_code=>@support_group.group_code),
                              [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"80px"},
                               {:key=>"person_name",:label=>t(:label_irm_support_group_person_name),:sortable=>true},
                               {:key=>"company_name",:label=>t(:label_irm_support_group_company_name),:sortable=>true},
                               {:key=>"email_address",:label=>t(:label_irm_person_email_address),:sortable=>true}],
                               {:row_perpage=>5})%>
          <!-- End company access table -->
        </div>
        <div class="pbFooter secondaryPalette">
        <div class="bg"></div>
        </div>
      </div>
    </div>
</div>

