<!DOCTYPE html>
<html>
<head>
  <title>Ironmine</title>
  <% stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "dhtmlxgrid.css" %>
  <%= stylesheet_link_tag "dhtmlxgrid_dhx_skyblue.css" %>
  <%= stylesheet_link_tag "dhtmlxcalendar_yahoolike.css" %>
  <%= stylesheet_link_tag "dhtmlxcalendar.css" %>
  <%= stylesheet_link_tag "dhtmlxwindows.css" %>
  <%= stylesheet_link_tag "dhtmlxwindows_dhx_skyblue.css" %>
  <%= stylesheet_link_tag "dhtmlxgrid_pgn_bricks.css" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :ajax_relation %>
  <%= javascript_include_tag :dhtmlx %>  
  <%= javascript_include_tag :dhtmlx_grid %>
  <%= javascript_include_tag :ironmine_base %>  
  <%= theme_stylesheet_link_tag :application%>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="banner"></div>
    <div id="toptoolbar">
    	<div class="floatleft">
        	<div class="toptoolbarbtn">
            	<div>我的工作空间</div>
            </div>
        	<div class="toptoolbarsep"></div>
            <div class="toptoolbarbtn">
            	<div>搜索</div>
            </div>
            <div class="toptoolbarsep"></div>
            <div class="toptoolbarbtn">
            	<div>历史记录</div>
            </div>
        </div>
        <div class="floatright">
            <div class="toptoolbarbtn"><a href="javascript:void(0);">ivanmarkliu</a></div>
            <div class="toptoolbarsep"></div>
            <div class="toptoolbarbtn">退出系统</div>
            <div class="toptoolbarsep"></div>
            <div class="toptoolbarbtn">帮助</div>
        </div>
    </div>
    <form>
    	<div class="titlebar">
        	<div class="jumpbutton"><a id="quickJump" href="javascript:void(0);">转至</a></div>
            <div class="jumpfield">跳转至ID：<input id="idsString" class="jumptofield" type="text" maxlength="16" size="12" value=""></div>
            <div class="sectiontitle">我的工作空间</div>
        </div>
    </form>
    <div></div>

    <table class="topmenu" cellspacing="0">
    	<tbody>
	        <tr class="buttonrow">
            	<td class="button selected">
                	<a href="javascript:void(0);"><img width="25" height="20" border="0" src=<%= theme_image_path('menus/my_page.gif') %>><br>我的页面</a>
                </td>
                <td class="verticalseparatornoborder"><img width="1" height="40" border="0" src=<%= theme_image_path('white.gif') %>></td>
                <td class="button">
                	<a href="javascript:void(0);"><img width="25" height="20" border="0" src=<%= theme_image_path('menus/dashboard.gif') %>><br>统计数据</a>
                </td>
                <td class="verticalseparatornoborder"><img width="1" height="40" border="0" src=<%= theme_image_path('white.gif') %>></td>
                <td class="button">
                	<a href="javascript:void(0);"><img width="25" height="20" border="0" src=<%= theme_image_path('menus/all_projects.gif') %>><br>项目</a>
                </td>
                <td class="verticalseparatornoborder"><img width="1" height="40" border="0" src=<%= theme_image_path('white.gif') %>></td>
                <td class="button">
                	<a href="javascript:void(0);"><img width="25" height="20" border="0" src=<%= theme_image_path('menus/monitoring.gif') %>><br>监控</a>
                </td>
                <td class="verticalseparatornoborder"><img width="1" height="40" border="0" src=<%= theme_image_path('white.gif') %>></td>
                <td class="button">
                	<a href="javascript:void(0);"><img width="25" height="20" border="0" src=<%= theme_image_path('menus/my_settings.gif') %>><br>我的设置</a>
                </td>
                <td class="verticalseparatornoborder"><img width="1" height="40" border="0" src=<%= theme_image_path('white.gif') %>></td>
                <td class="buttonend"></td>
            </tr>
        </tbody>
    </table>
    <div id="breadcrumbs"><a href="javascript:void(0);">首页</a> > <a href="javascript:void(0);">高级管理</a> > <strong>新建文件</strong> </div>

    <div id="main">
    	<table width="100%" cellspacing="0" cellpadding="4" border="0">
        	<tr>
            	<td width="250" valign="top">
                	<div id="leftnavigations">
                        <table width="250" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr><td>
                                    <div>
                                        <table class="leftnavigation" cellspacing="0">
                                            <tbody>
                                                <tr class="navigationheader">
                                                    <td>我的项目</td>
                                                </tr>
                                                <tr class="navigationbody">
                                                    <td>
                                                        <a href="javascript:void(0);">GMCC</a>
                                                        <br>
                                                        <a href="javascript:void(0);">上海松下</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <table class="leftnavigation" cellspacing="0">
                                            <tbody>
                                                <tr class="navigationheader">
                                                    <td>公告栏</td>
                                                </tr>
                                                <tr class="navigationbody">
                                                    <td>
                                                        <a href="javascript:void(0);">MIS上线公告</a>
                                                        <br>
                                                        <a href="javascript:void(0);">合同系统停机通知</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td></tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td width="87%" valign="top">
                    <div>
                    <div id="sysmsgbox"></div>
                    <%= yield %>
                    </div>
                </td>
            </tr>
        </table>
    </div>    
    <div id="footer" ></div>
</body>
</html>
