<html>
<head>
  <title>Ironmine</title>

  <script type="text/javascript" src="/javascripts/yui3.3/yui/yui-min.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "tabbar_ext" %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/application.css"></link>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/test.css"></link>


  <script type="text/javascript">
    GY.use("irm","node-base",function(Y){
      Y.on("domready",function(){
        Y.irm.menuButton("settingMenu","TR","BR");
        Y.irm.menuButton("pageMenu");
      });
    });
  </script>
</head>
<body id ="homePage" class="homeTab homepage sfdcBody yui3-skin-sam yui-skin-sam">
    <div id="contentWrapper">
        <div id="AppBodyHeader" class="bPageHeader">
            <table id="phHeader" class="phHeader" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="left">
                    <img width="175" height="65" title="salesforce.com" id="phHeaderLogoImage" src="/themes/salesforce2/images/sales_logo_aloha_win11.png">
                  </td>
                  <td class="right vtop">
                    <div class="multiforce">
                      <div class="messages"></div>
                      <div>
                        <span id="settingMenu" class="menuParent" style="float:right">
                          <div  class="menuLabel">
                            <span tabindex="0" style="">liu hailor</span>
                          </div>
                          <div class="menuContent" >
                            <%= setting_menu%>
                            <br/>
                            <span><%= link_to(t(:label_irm_common_logout),logout_url) %></span>
                          </div>
                        </span>
                        <span id="pageMenu" class="menuParent" style="float:right">
                          <div  class="menuLabel">
                            <span tabindex="0" id="userNavLabel" style=""><%= level_one_current_name %></span>
                          </div>
                          <div class="menuContent" >
                            <%= level_one_menu %>
                          </div>
                        </span>
                      </div>
                      <div id="toolbar"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table id="tabsNewBar" class="tabsNewBar" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            <div id="tabNavigation" class="tabNavigation">
                                <div class="tabBarLeft"></div>
                                <table id="tabBar" class="tab" cellpadding="0" cellspacing="0">
                                    <%= level_two_menu %>
                                </table>
                                <div class="tabBarRight"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="bodyDiv" class="bodyDiv">
            <div id="bd_l"></div>
            <div id="bd_r"></div>
            <div id="motifCurve">
                <div id="mc_l"></div>
                <div id="mc_r"></div>
            </div>
            <div id="bd_b">
                <div id="bd_bl"></div>
                <div id="bd_br"></div>
            </div>
            <div id="sidebarDiv">
                <div class="sidebarInner">
                  <div class="sidebarModule">
                    <div class="sidebarModuleHeader"><h2>快捷菜单</h2></div>
                    <div class="sidebarModuleBody">
                      <div class="mruList">
                        <div class="mruItem">
                          <a title="[Alt+1]" accesskey="1" class="accountMru" href="/00190000005sBLj"><img title="客户: 123" class="mruIcon" alt="客户: 123" src="/images/s.gif"><span class="mruText">123</span></a>
                        </div>
                        <div class="mruItem">
                          <a title="[Alt+1]" accesskey="1" class="accountMru" href="/00190000005sBLj"><img title="客户: 123" class="mruIcon" alt="客户: 123" src="/images/s.gif"><span class="mruText">123</span></a>
                        </div>
                        <div class="mruItem">
                          <a title="[Alt+1]" accesskey="1" class="accountMru" href="/00190000005sBLj"><img title="客户: 123" class="mruIcon" alt="客户: 123" src="/images/s.gif"><span class="mruText">123</span></a>
                        </div>
                        <div class="mruItem">
                          <a title="[Alt+1]" accesskey="1" class="accountMru" href="/00190000005sBLj"><img title="客户: 123" class="mruIcon" alt="客户: 123" src="/images/s.gif"><span class="mruText">123</span></a>
                        </div>                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <table id="bodyTable" class="outer" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td id="bodyCell" class="oRight">
                    <%= yield %>
                  </td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>