<html>
<head>
  <title>Ironmine</title>

  <script type="text/javascript" src="/javascripts/yui3.3/yui/yui-min.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/application.css"></link>
  <style type="text/css">

.menuParent {
    text-align: left;
}
.menuParent div.menuLabel {
     -moz-border-radius: 5px 5px 5px 5px;
    padding: 0 15px;
    height: 24px;
    line-height: 24px;
 }
.menuParent div.menuLabel .menuButtonArrow{
     float:right;
     padding-right:10px;
 }

.menuParent div.menuLabelHover{
     -moz-border-radius: 5px 5px 5px 5px;
     background:white;
 }
.menuParent div.menuLabelClick{
     -moz-border-radius: 5px 5px 0px 0px;
     background:white;
 }

.menuParent div.menuContent{
    display:none;
    padding: 3px 15px 9px 15px;
    -moz-box-shadow: 0 2px 4px rgba(127, 127, 127, 0.3);
 }
.menuParent div.menuContentVisual{
     display:block;
     -moz-border-radius: 0px 0px 5px 5px;
     background:white;
 }

.menuParent div.menuContent a {
    -moz-border-radius: 11px 11px 11px 11px;
    color: #333435;
    margin: 4px 0;
    text-decoration: none;
    z-index:10000;
}

</style>
  <script type="text/javascript">
    GY.use("irm",function(Y){
      Y.on("domready",function(){
        Y.irm.menuButton("settingMenu","TR","BR");
        Y.irm.menuButton("pageMenu");
      });
    });
  </script>  
</head>
<body id ="homePage" class="homeTab homepage ext-gecko ext-gecko3 sfdcBody yui3-skin-sam yui-skin-sam">
    <div id="contentWrapper">
        <div id="AppBodyHeader" class="bPageHeader">
            <table id="phHeader" class="phHeader" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="left">
                    <img width="175" height="65" title="salesforce.com" id="phHeaderLogoImage" src="/themes/salesforce2/images/sales_logo_aloha_win11.png">
                  </td>
                  <td class="right vtop">
                    <div class="multiforce">
                      <div class="messages"></div>
                      <div>
                        <span id="settingMenu" class="menuParent" style="float:right">
                          <div  class="menuLabel">
                            <span tabindex="0" style="">liu hailor</span>
                          </div>
                          <div class="menuContent" >
                            <%= setting_menu%>
                            <br/>
                            <span><%= link_to(t(:logout),logout_url) %></span>
                          </div>
                        </span>
                        <span id="pageMenu" class="menuParent" style="float:right">
                          <div  class="menuLabel">
                            <span tabindex="0" id="userNavLabel" style=""><%= level_one_current_name %></span>
                          </div>
                          <div class="menuContent" >
                            <%= level_one_menu %>
                          </div>
                        </span>
                      </div>
                      <div id="toolbar"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table id="tabsNewBar" class="tabsNewBar" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            <div id="tabNavigation" class="tabNavigation">
                                <div class="tabBarLeft"></div>
                                <table id="tabBar" class="tab" cellpadding="0" cellspacing="0">
                                    <td nowrap="nowrap" class="currentTab"><div id="homeTab">
                                        <a title="主页选项卡 - 已选取" href="javascript:void(0);">主页</a>
                                    </div></td>
                                    <td nowrap="nowrap" class=""><div id="settingTab">
                                        <a title="项目" href="javascript:void(0);">项目</a>
                                    </div></td>
                                    <td nowrap="nowrap" class=""><div id="projectTab">
                                        <a title="个人信息" href="javascript:void(0);">个人信息</a>
                                    </div></td>
                                    <td nowrap="nowrap" class=""><div id="reportTab">
                                        <a title="设置" href="javascript:void(0);">设置</a>
                                    </div></td>
                                </table>
                                <div class="tabBarRight"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="bodyDiv" class="bodyDiv">
            <div id="bd_l"></div>
            <div id="bd_r"></div>
            <div id="motifCurve">
                <div id="mc_l"></div>
                <div id="mc_r"></div>
            </div>
            <div id="bd_b">
                <div id="bd_bl"></div>
                <div id="bd_br"></div>
            </div>
            <div id="sidebarDiv">
                <div class="sidebarInner">
                  <div class="sidebarModule">
                    <div class="sidebarModuleHeader"><h2>快捷菜单</h2></div>
                    <div class="sidebarModuleBody">
                      <div class="mruList">
                        <div class="mruItem">
                          <a title="[Alt+1]" accesskey="1" class="accountMru" href="/00190000005sBLj"><img title="客户: 123" class="mruIcon" alt="客户: 123" src="/images/s.gif"><span class="mruText">123</span></a>
                        </div>
                        <div class="mruItem">
                          <a title="[Alt+1]" accesskey="1" class="accountMru" href="/00190000005sBLj"><img title="客户: 123" class="mruIcon" alt="客户: 123" src="/images/s.gif"><span class="mruText">123</span></a>
                        </div>
                        <div class="mruItem">
                          <a title="[Alt+1]" accesskey="1" class="accountMru" href="/00190000005sBLj"><img title="客户: 123" class="mruIcon" alt="客户: 123" src="/images/s.gif"><span class="mruText">123</span></a>
                        </div>
                        <div class="mruItem">
                          <a title="[Alt+1]" accesskey="1" class="accountMru" href="/00190000005sBLj"><img title="客户: 123" class="mruIcon" alt="客户: 123" src="/images/s.gif"><span class="mruText">123</span></a>
                        </div>                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <table id="bodyTable" class="outer" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td id="bodyCell" class="oRight">
                    <%= yield %>
                  </td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>