<!DOCTYPE html>
<html>
<head>
  <title>Ironmine</title>
  <% stylesheet_link_tag :all %>
  <%= theme_stylesheet_link_tag "dhtmlxgrid" %>
  <%= theme_stylesheet_link_tag "dhtmlxgrid_dhx_skyblue" %>
  <%= theme_stylesheet_link_tag "dhtmlxcalendar_yahoolike" %>
  <%= theme_stylesheet_link_tag "dhtmlxcalendar" %>
  <%= theme_stylesheet_link_tag "dhtmlxwindows" %>
  <%= theme_stylesheet_link_tag "dhtmlxwindows_dhx_skyblue" %>
  <%= theme_stylesheet_link_tag "dhtmlxgrid_pgn_bricks" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :ajax_relation %>
  <%= javascript_include_tag :dhtmlx %>
  <%= javascript_include_tag :dhtmlx_grid %>
  <%= javascript_include_tag :ironmine_base %>
  <%= theme_stylesheet_link_tag :application%>
  <%= theme_stylesheet_link_tag :dhtmlxtabbar%>
  <%= theme_stylesheet_link_tag "jquery.Jcrop"%>
  <%= javascript_include_tag "jquery.Jcrop"%>  
  <%= csrf_meta_tag %>
</head>
<body  id="body">
 <%= yield%>  
</body>
</html>
