<!DOCTYPE html>
<html>
<head>
  <title>Ironmine</title>
  <% stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "dhtmlxgrid.css" %>
  <%= stylesheet_link_tag "dhtmlxgrid_dhx_skyblue.css" %>
  <%= stylesheet_link_tag "dhtmlxcalendar_yahoolike.css" %>
  <%= stylesheet_link_tag "dhtmlxcalendar.css" %>
  <%= stylesheet_link_tag "dhtmlxwindows.css" %>
  <%= stylesheet_link_tag "dhtmlxwindows_dhx_skyblue.css" %>
  <%= stylesheet_link_tag "dhtmlxgrid_pgn_bricks.css" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :ajax_relation %>
  <%= javascript_include_tag :dhtmlx %>
  <%= javascript_include_tag :dhtmlx_grid %>
  <%= javascript_include_tag :ironmine_base %>
  <%= theme_stylesheet_link_tag :application%>
  <%= theme_stylesheet_link_tag :dhtmlxtabbar%>
  <%= csrf_meta_tag %>
</head>
<body>
 <%= yield%>  
</body>
</html>
