<html>
<head>
  <title>Ironmine</title>

  <script type="text/javascript" src="/javascripts/yui3.3/yui/yui-min.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "tabbar_ext" %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/setting.css"></link>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/common.css"></link>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/tabbar.css"></link>
  <link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/icons.css"></link>
  <script type="text/javascript">
    GY.use("menubutton","node-base",function(Y){
      Y.on("domready",function(){
        new Y.MenuButton({menuNode:"#settingMenu",dropAlign:["TR","BR"]});
      });
    });
  </script>
  <link rel="shortcut icon" href="/images/mini-logo.png" type="image/x-icon"/>
</head>
<body class="setupTab setup sfdcBody yui3-skin-sam yui-skin-sam">
    <div id="contentWrapper">
        <div id="AppBodyHeader" class="bPageHeader">
            <table id="phHeader" class="phHeader" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td class="left">
                    <%= render :partial => "irm/common/app_top_logo"%>
                  </td>
                  <td class="right vtop">
                    <div class="multiforce">
                      <div class="messages"></div>
                      <div>
                        <%= current_role_menu %>
                        <span id="settingMenu" class="menuParent" style="float:right">
                          <div  class="menuLabel">
                            <span tabindex="0" style="" id="userNavTop" ><%= Irm::Person.current.name %></span>
                            <div id="settingMenu-arrow"></div>
                          </div>
                          <div class="menuContent" >
                            <%= setting_menu%>
                            <div class="menuItem"><%= link_to(t(:label_irm_common_logout),logout_url) %></div>
                          </div>
                        </span>
                      </div>
                      <div id="toolbar"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table id="tabsNewBar" class="tabsNewBar" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            <div id="tabNavigation" class="tabNavigation">
                                <div class="tabBarLeft"></div>
                                <table id="tabBar" class="tab" cellpadding="0" cellspacing="0">
                                    <%= level_two_menu %>
                                </table>
                                <div class="tabBarRight"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="bodyDiv_setup" class="bodyDiv">
            <div id=""></div>
            <div id=""></div>
            <div id="motifCurve">
                <div id="mc_l"></div>
                <div id="mc_r"></div>
            </div>
            <div id="bd_b">
                <div id="bd_bl"></div>
                <div id="bd_br"></div>
            </div>
            <table id="bodyTable" class="outer" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="oLeft">

                      <%= sidebar_menu %>

                  </td>
                  <td id="bodyCell" class="oRight">
                    <%= yield %>
                  </td>
                </tr>
            </table>
        </div>
      <%= render :partial => "/irm/common/footer"%>
    </div>
<link rel="stylesheet" type="text/css" href="/themes/salesforce2/stylesheets/custom_yui_container_skin.css"></link>
</body>
</html>