<%= setting_title %>
<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_value_set_list) %></h2></td>
              <td id="topButtonRow" class="pbButton">
                <div class="button"><%= link_to t(:new), {:action => "new"}%></div>
              </td>
              <td class="pbHelp">
                <div id="flexValueSetsSearchBox"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="flex_value_sets_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= icon_link_edit({:action=>"edit",:id=>"{id}"}) %>&nbsp;
            <%= icon_link_show({:action=>"show",:id=>"{id}"}) %>
          </div>
          <div id="status_code" style="display:none">
            <%= check_img("{status_code}") %>
          </div>          
        </div>
        <%= datatable("flex_value_sets_list",url_for(:action=>"get_data",:format=>"json"),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template", :width => "80px"},
                       {:key=>"flex_value_set_name",:label=>t(:label_irm_value_set_name),:sortable=>true, :width => "30%", :searchable=>true},
                       {:key=>"description",:label=>t(:label_irm_value_set_description)},
                       {:key=>"status_code",:label=>t(:active),:formatter=>"Y.irm.template", :width => "40px"}],
                       {:search_box=>"flexValueSetsSearchBox"}) %>
      </div>
    </div>
</div>
