<%= setting_show_title(:show_data => @value_set.flex_value_set_name) %>
<div id="ep" class="bDetailBlock bPageBlock">
  <div class="pbHeader">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_value_set) %></h2></td>
          <td id="topButtonRow" class="pbButton">
            <div class="button"><%= link_to t(:edit), {:action => "edit", :id => @value_set}%></div>
            <div class="button"><%= link_back %></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pbBody">
    <div class="pbSubsection">
      <table class="detailList" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_value_set_name)%></label></td>
              <td class="data2Col"><%= @value_set.flex_value_set_name%></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :label_irm_value_set_description)%></label></td>
              <td class="data2Col"><div><%= @value_set.description%></div></td>
            </tr>
            <tr>
              <td class="labelCol"><label><%=(t :active)%></label></td>
              <td class="data2Col"><%= check_img(@value_set.status_code)%></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="listRelatedObject setupBlock">
    <div class="bPageBlock">
      <div class="pbHeader">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td class="pbTitle"><h2 class="mainTitle"><%= t(:label_irm_flex_value_list) %></h2></td>
              <td class="pbButton">
                <div class="button"><%= link_to t(:new), {:controller => "irm/flex_values", :action => "new", :value_set_id => @value_set}%></div>
              </td>
              <td class="pbHelp">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pbBody">
        <div id="values_list" class="datatable" style="width:100%">
          <div id="id" style="display:none">
            <%= icon_link_remove({:controller => "irm/flex_values", :action=>"destroy",:id=>"{id}", :return_url => @return_url}) %>
          </div>
        </div>
        <%= datatable("values_list",url_for(:controller => "irm/flex_values", :value_set_id => @value_set, :action=>"get_data",:format=>"json", :value_set_id => @value_set),
                      [{:key=>"id",:label=>t(:operation),:formatter=>"Y.irm.template",:width=>"40px"},
                       {:key=>"display_sequence",:label=>t(:label_irm_flex_value_position)},
                       {:key=>"flex_value",:label=>t(:label_irm_flex_value_name)},
                       {:key=>"description",:label=>t(:label_irm_flex_value_description)},
                       {:key=>"start_date_active",:label=>t(:label_irm_flex_value_start_date_active)},
                       {:key=>"end_date_active",:label=>t(:label_irm_flex_value_end_date_active)}])%>
      </div>
    </div>
</div>